<%- include ../email_header %>

<div class="green middle" style="padding: 25px;max-width: 600px;">

  <div class="container white relative middle text-center py-5">
    <h3><%= yourfollowedchef%>"<%= host.shopName%>"<%= discountoftheweek%></h3>
    <p><%= hometaste1%></p>
    <p class="text-red" style="font-size: larger;">
      <i class="fa-calendar-remote p-4"></i>
      <%= deliverytime %>:
      <%= deliverytimeinfo %>
    </p>
    <div class="divider">-</div>
    <div class="row">
      <div class="col-12 middle">
        <% dishes.forEach(function(dish){ if(!dish.discount){return}%>
        <div class="d-inline-block text-left mt-2" style="width: 45%;font-size: medium;">
          <div class="absolute overflow-hidden" style="width:100%;max-width: 220px;max-height:220px;position:absolute;">
            <a href="http://www.sfmeal.com/meal#<%= host.shopName%>" class="mb-2">
              <img src="<%= dish.photos[0].v %>" class="cursor-pointer w-100">
            </a>
          </div>
          <div class="text-red mt-2"><%= dish.title%> <%= dish.quantity%></div>
          <div class="text-orange">特惠价：$<%= dish.price %></div>
          <div class="text-darksgrey"><s>原价：$<%= (dish.price + dish.discount).toFixed(2)%></s></div>
        </div>
        <% })%>
      </div>
    </div>
    <div class="mt-4">
      <a class="btn btn-primary" href="http://www.sfmeal.com/meal"><%= seemore%></a>
    </div>
  </div>

</div>

<script>
  var onSearch = function(){
      var keyword = document.getElementsByName("keyword");
      location.href = "http://sfmeal.com/meal/search?keyword=" + keyword;
  }
</script>

<%- include ../email_footer %>
