<div class="email-banner vertical-align dark">
  <div style="width: 600px;" class="middle banner-text">
    <div class="row vertical-align" style="margin-bottom: 5px;">
      <div class="col-xs-3 cursor-pointer" onclick="location.href='https://www.sfmeal.com'">
        <a href="/" class="logo-remote"></a>
      </div>
      <div class="col-xs-9 text-right">
        <a class="btn btn-red btn-inline" href='https://www.sfmeal.com'><%= enterwebsite%></a>
      </div>
    </div>
  </div>
</div>

<div class="green" style="padding: 25px;">

  <div class="box-email white relative middle text-left">
    <h4 class="text-red"><%= orderreadytitle%></h4>
    <p>Hi <%= recipientName%>,</p>
    <p><%= method == 'pickup' ? orderpickupreadycontext : orderdeliveryreadycontext%></p>
    <div class="divider" style="margin-bottom: 10px;"></div>
    <p><%= ordernumber%>: <%= id%></p>
    <div class="divider" style="margin-bottom: 10px;margin-top:5px;"></div>
    <p><%= pickupmethod%>: <%= method == 'pickup' ? selfpickup : delivery%></p>
    <div class="divider" style="margin-bottom: 10px;margin-top:5px;"></div>
    <% if(method == 'pickup'){%>
    <p><%= pickuplocation%>: <%= pickupInfo.location%></p>
    <div class="divider" style="margin-bottom: 10px;margin-top:5px;"></div>
    <p><%= contactphone%>: <%= pickupInfo.phone%></p>
    <div class="divider" style="margin-bottom: 10px;margin-top:5px;"></div>
    <p><%= pickuptime%>: <%= pickupInfo.pickupFromTime%> - <%= pickupInfo.pickupTillTime%></p>
    <%}else{%>
    <p><%= pickuplocation%>: <%= address%></p>
    <div class="divider" style="margin-bottom: 10px;margin-top:5px;"></div>
    <p><%= contactphone%>: <%= phone%></p>
    <%}%>
    <table class="table table-email">
      <% Object.keys(orders).forEach(function(dishId){
        var amount = parseInt(orders[dishId]);
      if(amount > 0){
        var dish;
        dishes.forEach(function(d){
          if(d.id == dishId){
            dish = d;
            return;
          }
        });
      %>
      <tr>
        <td><img src="<%= dish.photos[0].v%>" style="width: 100px;"></td>
        <td class="text-green" style="vertical-align: middle;"><%= dish.title%></td>
        <td style="vertical-align: middle;"><%= amount%><%= fen%></td>
        <td style="vertical-align: middle;text-align: right;">$<%= (amount * dish.price).toFixed(2)%></td>
      </tr>
      <%}});%>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= dingdan%>: $<%= subtotal.toFixed(2)%></td>
      </tr>
      <tr class="border-less">
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= deliveryfee%>: $<%= delivery_fee.toFixed(2)%></td>
      </tr>
      <tr class="border-less">
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= tax%>: $<%= (subtotal * taxRate).toFixed(2)%></td>
      </tr>
      <tr class="border-less">
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= total%> $<%= (subtotal * (1 + taxRate) + delivery_fee).toFixed(2)%></td>
      </tr>
      <tr>
        <td><%= ordertime%>: <%= createdAt%></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= completetime%>: <%= updatedAt%></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div class="row text-center">
      <a class="btn btn-green btn-inline" href="https://www.sfmeal.com/host/me#myorder"><%= openorder%></a>
    </div>
  </div>

</div>

<%- include ../email_footer %>
