<!DOCTYPE html>
<!--


       444444444       000000000      333333333333333
      4::::::::4     00:::::::::00   3:::::::::::::::33
     4:::::::::4   00:::::::::::::00 3::::::33333::::::3
    4::::44::::4  0:::::::000:::::::03333333     3:::::3
   4::::4 4::::4  0::::::0   0::::::0            3:::::3
  4::::4  4::::4  0:::::0     0:::::0            3:::::3
 4::::4   4::::4  0:::::0     0:::::0    33333333:::::3
4::::444444::::4440:::::0 000 0:::::0    3:::::::::::3
4::::::::::::::::40:::::0 000 0:::::0    33333333:::::3
4444444444:::::4440:::::0     0:::::0            3:::::3
          4::::4  0:::::0     0:::::0            3:::::3
          4::::4  0::::::0   0::::::0            3:::::3
          4::::4  0:::::::000:::::::03333333     3:::::3
        44::::::44 00:::::::::::::00 3::::::33333::::::3
        4::::::::4   00:::::::::00   3:::::::::::::::33
        4444444444     000000000      333333333333333



  This is the default "403: Forbidden" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/403.js`

  You can trigger this response from one of your controllers or policies with:
  `return res.forbidden( msg );`
  (where `msg` is an optional error message to include in the response)

-->
<html>
  <head>
    <title>Forbidden</title>
    <link rel="stylesheet" href="/assets/v403.css">
  </head>
  <body>

    <div id="403View" class="default-container page text-center" data-login="<%= login || ''%>">

      <div class="main p-4" style="min-height: 500px;">

        <div id="loginView" class="card m-auto" style="min-width: 300px;width:40%;">

          <div class="card-body">
            <h4 class="card-title">
              <% if (typeof error !== 'undefined') { %>
              <%= error %>
              <% } else { %>
              <%
                var errorMsg = __('authorizedError');
                if(data){
                  if(data.responseText){
                    errorMsg = data.responseText;
                  }else{
                    errorMsg = data;
                  }
                }
              %>
              <%= errorMsg%>
              <% } %>
            </h4>
            <div class="alert alert-danger d-none" data-toggle="i18n" data-key="userSignInError"></div>

            <% if(!login){%>
            <div class="signin">

              <div class="row">
                <div class="col-12">
                  <button id="FBBtn" class="popline btn btn-blue btn-lg light" style="min-width:250px;font-weight: lighter;">
                    <span><i class="fab fa-facebook-f pr-3" style="padding-right: 15px;"></i>Facebook <%= __('login')%></span>
                  </button>
                </div>
              </div>

              <div class="row mt-1">
                <div class="col-12">
                  <button id="GoogleBtn" class="popline btn btn-google btn-lg text-orange white" style="min-width:250px;font-weight: lighter;">
                    <span><i class="fab fa-google pr-3"></i>Google <%= __('login')%></span>
                  </button>
                </div>
              </div>

              <div class="row mt-1">
                <div class="col-12">
                  <button id="wechatBtn" class="popline btn btn-green btn-lg text-white" style="min-width:250px;font-weight: lighter;">
                    <span><i class="fab fa-weixin" style="padding-right:15px;"></i>微信 <%= __('login')%></span>
                  </button>
                </div>
              </div>

              <div class="divider"></div>
              <h4 class="mb-2" data-toggle="i18n" data-key="emailLogin"></h4>

              <form class="text-center" data-toggle="validator" role="form">
                <div class="form-group">
                  <label class="sr-only" for="emailInput" data-toggle="i18n" data-key="email"></label>
                  <input type="email" class="form-control" id="emailInput2" data-toggle="i18n" data-pattern-key="emailBadFormat" data-pattern-error="bad format" placeholder="邮箱 (Email)" required>
                  <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="passwordInput" data-toggle="i18n" data-key="password"></label>
                  <input type="password" class="form-control" id="passwordInput2" pattern="^[_A-z0-9]{8,}$" data-toggle="i18n" data-pattern-key="passwordRequirement" placeholder="密码 (Password)" data-pattern-error="bad format" required>
                  <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                  <button id="signin-btn" type="submit" class="btn btn-danger btn-lg red popline" data-toggle="i18n" data-key="login">帐号登录</button>
                </div>

              </form>
            </div>
            <%}%>
          </div>

          <% if(!login){%>
          <div class="card-footer">
            <h6 class="text-center"><span data-toggle="i18n" data-key="newlyJoin">新加入?点这里</span><a toggle="modal" data-target="#myModal" data-model="user" data-action="signup" href="javascript:void(0)" onclick="h.toggleModal(event)" data-toggle="i18n" data-key="register">注册</a></h6>
            <h6 class="text-center"><span data-toggle="i18n" data-key="forgetPassword">忘记密码</span>?<a toggle="modal" data-target="#myModal" data-model="user" data-action="sendEmail" href="javascript:void(0)" onclick="h.toggleModal(event)" data-toggle="i18n" data-key="reset">点击重置</a></h6>
          </div>
          <% }%>
        </div>

      </div>
    </div>
  </body>
  <script src="/assets/vendors~admin~apply~badge~cart~checkout~chefProfile~createDish~createMeal~dayOfMeal~deliveryMap~edit~952e54e5.bundle.js"></script>
  <script src="/assets/vendors~admin~apply~badge~cart~checkout~chefProfile~createDish~createMeal~dayOfMeal~deliveryMap~edit~86ec044b.bundle.js"></script>
  <script src="/assets/zh.v403.bundle.js"></script>
</html>
