<link href="/assets/apply.css" rel="stylesheet">
<div class="container-fluid text-center">
  <div class="row">
    <div class="pure-banner vertical-align green p-4">
      <div style="width: 600px;" class="middle banner-text">
        <div class="d-flex justify-content-around vertical-align" style="margin-bottom: 5px;">
          <div>
            <a href="/" class="logo"></a>
          </div>
          <div>
            <h3 class="text-white text-left none-margin"><strong><%= __('nav-bar-apply-chef')%></strong></h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="applyView" data-host-id="<%= user.host ? (user.host.id ? user.host.id : user.host) : '' %>" class="default-container">
    <div class="box white">

      <h4 class="text-green py-2"><%= __('apply-title') %></h4>

      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="5" style="width: 20%;">
                <%= __('step-%d-of-%d',1,5)%>
              </div>
            </div>
          </div>
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item" style="height: 100px;"><a href="javascript:void(0);" class="nav-link active" data-href="#step1" data-toggle="tab" data-pass="<%= user.host || ''%>" data-step="1">1.<%= __('step1')%></a><br/><% if(user.host){%><i class="fa fa-check text-green"></i><%}%></li>
            <li class="nav-item <%= user.host?'':'disabled'%>" style="height: 100px;"><a href="javascript:void(0);" class="nav-link" data-href="#step2" data-toggle="tab" data-pass="<%= hasAddress%>" data-step="2">2.<%= __('step2')%></a><br/><% if(hasAddress){%><i class="fa fa-check text-green"></i><%}%></li>
            <li class="nav-item <%= user.host?'':'disabled'%>" style="height: 100px;"><a href="javascript:void(0);" class="nav-link" data-href="#step3" data-toggle="tab" data-pass="<%= hasDish%>" data-step="3">3.<%= __('step3')%></a><br/><%if(hasDish){%><i class="fa fa-check text-green"></i><%}%></li>
            <li class="nav-item <%= user.host?'':'disabled'%>" style="height: 100px;"><a href="javascript:void(0);" class="nav-link" data-href="#step4" data-toggle="tab" data-pass="<%= hasMeal%>" data-step="4">4.<%= __('step4')%></a><br/><%if(hasMeal){%><i class="fa fa-check text-green"></i><%}%></li>
            <li class="nav-item <%= user.host?'':'disabled'%>" style="height: 100px;"><a href="javascript:void(0);" class="nav-link" data-href="#step5" data-toggle="tab" data-pass="<%= hasAccount%>" data-step="5">5.<%= __('step5')%></a><br/><%if(hasAccount){%><i class="fa fa-check text-green"></i><%}%></li>
            <% if(user.host){%>
            <li class="nav-item" style="height: 100px;"><a href="javascript:void(0);" class="nav-link" data-href="#step6" data-toggle="tab" data-pass="<%= !individual%>" data-step="6">6. <%= __('step6')%></a><br/><%if(!individual){%><i class="fa fa-check text-green"></i><%}%></li>
            <%}%>
          </ul>
        </div>
      </div>

      <div class="tab-content py-4">
        <div class="tab-pane active" id="step1">
          <div class="card">
            <div class="card-body p-4">
              <% if( typeof user.host !== 'undefined' && user.host){%>
              <div class="card-title">
                <label><%= __('step1-success')%></label>
                <h4><small><%= __('step1-success-tip')%></small></h4>
              </div>
              <button class="btn btn-outline-success next"><icon class="fa fa-check text-green"></icon>  <%= __('continue')%></button>
              <% }else{%>
              <div class="card-title">
                <%= __('step1-ongoing')%>
              </div>
              <div class="form-group">
                <label><%= __('apply-shopname')%></label>
                <input class="form-control middle" name="shopName" style="width: 200px;" type="text" required>
              </div>
              <div class="form-group">
                <label><%= __('phone')%></label>
                <input type="tel" class="form-control middle" name="phone" style="width: 200px;" type="text" value="<%= user.phone || ''%>" required>
              </div>
              <div class="card-footer">
                <h4><small><%= __('step1-ongoing-tip')%><a href="/terms#terms"> <%= __('SFMeal-agreement')%> </a><%= __('and')%><a href="https://stripe.com/us/legal/"> <%= __('stripe-agreement')%> </a></small></h4>
              </div>
              <button id="applyBtn" class="btn btn-info btn-lg ld-ext-right">
                <%= __('step1-action-btn')%>
                <div class="ld ld-ring ld-spin"></div>
              </button>
              <div class="alert alert-danger pt-2 d-none" data-toggle="alert"></div>
              <% }%>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="step2">

          <% if( hasAddress ){%>
          <div class="card">
            <div class="card-body p-4">
              <div class="card-title">
                <label><%= __('step2-success')%></label>
                <h4><small><%= __('step2-success-tip')%></small></h4>
              </div>
              <button class="btn btn-outline-success next"><icon class="fa fa-check text-green"></icon>  <%= __('continue')%></button>
            </div>
          </div>

          <%}else{%>

          <div class="card">
            <div class="card-body p-4">
              <div class="card-title">
                <label><%= __('step2-ongoing')%></label>
              </div>
              <button id="addAddress" class="btn btn-info btn-lg" <%= user.host?'':'disabled="disabled"'%> title="<%= user.host?'':__('user-not-host')%>" toggle="modal" data-toggle="tooltip" data-target="#myModal" data-host="true" data-id="<%= user.host ? (user.host.id || user.host) : ''%>" data-model="user" data-action="address" href="javascript:void(0);" onclick="h.toggleModal(this, appObj.addressView.enterAddressInfo)"><%= __('step2-action-btn')%></button>
              <% if(!user.host){%>
              <div class="invalid-feedback d-block"><%= __('apply-to-be-host-first')%></div>
              <% }%>
            </div>
          </div>
          <%}%>
        </div>

        <div class="tab-pane" id="step3">

          <div class="card">
            <div class="card-body p-4">
              <% if(hasDish){%>
                <div class="card-title">
                  <label><%= __('step3-success')%></label>
                  <h4><small><%= __('step3-success-tip')%></small></h4>
                </div>
              <button class="btn btn-outline-success next"><icon class="fa fa-check text-green"></icon>  <%= __('continue')%></button>
              <% }else{%>
                <div class="card-title">
                  <label><%= __('step3-ongoing')%></label>
                  <h4><small><%= __('step3-ongoing-tip')%></small></h4>
                </div>
                <a target="_blank" href="<%= user.host?'/host/me/createDish':'javascript:void(0)'%>" class="btn btn-info" <%= user.host?'':'disabled="disabled"'%> title="<%= user.host?'':__('user-not-host')%>" data-toggle="tooltip"><%= __('step3-action-btn')%></a>
              <% }%>
            </div>
          </div>

        </div>

        <div class="tab-pane" id="step4">

          <div class="card">
            <div class="card-body p-4">
              <% if(hasMeal){%>
                <div class="card-title">
                  <label><%= __('step4-success')%></label>
                  <h4><small><%= __('step4-success-tip')%></small></h4>
                </div>
                <button class="btn btn-outline-success next"><icon class="fa fa-check text-green"></icon>  <%= __('continue')%></button>
              <% }else{%>
                <div class="card-title">
                  <label><%= __('step4-ongoing')%></label>
                  <h4><small><%= __('step4-ongoing-tip')%></small></h4>
                </div>
                <a target="_blank" href="<%= user.host?'/host/me/createMeal':'javascript:void(0)'%>" class="btn btn-info" <%= user.host?'':'disabled="disabled"'%> title="<%= user.host?'':__('user-not-host')%>" data-toggle="tooltip"><%= __('step4-action-btn')%></a>
              <% }%>
            </div>
          </div>

        </div>

        <div class="tab-pane" id="step5">

          <div class="card">
            <div class="card-body p-4">
              <% if(hasAccount){%>
                <div class="card-title">
                  <label><%= __('step5-success')%></label>
                  <h4><small><%= __('step5-success-tip')%></small></h4>
                </div>
                <button class="btn btn-outline-success next"><icon class="fa fa-check text-green"></icon>  <%= __('continue')%></button>
              <% }else{%>
                <div class="card-title">
                  <label><%= __('step5-ongoing')%></label>
                  <h4><small><%= __('step5-ongoing-tip')%></small></h4>
                </div>
                <a target="_blank" href="<%= user.host?"/pocket/me#mypurse":'javascript:void(0)'%>" class="btn btn-info mt-2" <%= user.host?'':'disabled="disabled"'%> title="<%= user.host?'':__('user-not-host')%>" data-toggle="tooltip"><%= __('step5-action-btn')%></a>
              <% }%>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="step6">

          <div class="card">
            <div class="card-body p-4">
              <% if(!individual.requirements.eventually_due){%>
                <div class="card-title">
                  <label><%= __('step6-success')%></label>
                  <% if(!dishVerifying && passGuide){%>
                  <h4><small><%= __('step6-under-verification-tip')%></small></h4>
                  <%}else if(!dishVerifying){%>
                  <h4><small><%= __('step6-pre-not-complete-tip')%></small></h4>
                  <%}else{%>
                  <h4><small><%= __('step6-success-tip')%></small></h4>
                  <%}%>
                </div>
                <a href="/host/me#mymeal" class="btn btn-outline-success"><icon class="fa fa-check text-green"></icon>  <%= __('complete')%></a>
              <% }else{%>
                <button class="btn btn-outline-info mt-2" id="openVerifyLink"><%= __('step6-action-btn')%></button>
              <% }%>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="/assets/zh.apply.bundle.js"></script>
