<div class="container default-container text-center relative" style="margin-top:-20px;background-color: #f2f2f2;">

  <div class="compact-banner">
    <div class="img-wrapper row">
      <img src="/images/homecover-1.jpg" class="relative middle">
    </div>

    <div class="absolute logo-container">

      <div class="col-xs-4 relative text-left">
        <a href="/" class="logo"></a>
      </div>

      <div class="relative text-left col-xs-8 content search-container">
        <h4 class="text-white"><strong><%= __('searching-word') %></strong></h4>
        <div class="btn-group">
          <input class="input btn btn-default round light text-grey" placeholder="<%= __('searching-tips') %>">
          <button class="btn btn-warning round orange text-white" onclick="javascript:search(this)">
            <i class="fa fa-search"></i>
            <%= __('search') %>
          </button>
        </div>
        <button class="btn btn-danger round red" onclick="location.href='/meal'"><%= __('see-menu') %></button>
      </div>

    </div>
  </div>

  <div id="meal-confirm-container" class="container-fluid padding-clear" data-lat="<%= meal.chef.lat%>" data-long="<%= meal.chef.long%>" data-range="<%= meal.chef.deliveryRange%>">

    <div class="row">
      <div class="col-md-8">
        <div class="box white">
          <h1 class="text-red text-left"><strong><%= __('contact') %></strong></h1>
          <div class="divider"></div>
          <h4 class="text-left"><strong><%= __('choose-method') %></strong></h4>
          <h3></h3>
          <div class="btn-set text-left" id="method" data-toggle="btn-set">
            <button data-toggle="tab" href="#pickupTab" class="btn btn-disable btn-fat btn-lg" style="margin-right: 10px;" value="pickup"><strong><%= __('self-pickup') %></strong></button>
            <%if(meal.isDelivery){%>
            <button data-toggle="tab" href="#deliveryTab" class="btn btn-disable btn-fat btn-lg active" style="margin-right: 10px;" value="delivery"><strong><%= __('delivery') %></strong></button>
            <%}%>
            <%if(meal.isShipping){%>
            <button data-toggle="tab" href="#shippingTab" class="btn btn-disable btn-fat btn-lg" value="shipping"><strong><%= __('shipping') %></strong></button>
            <%}%>
          </div>
          <h3></h3>
          <div class="tab-content">
            <div id="pickupTab" class="tab-pane <%= meal.isDelivery ? '':'active'%>">
              <h4 class="text-left"><strong><%= __('choose-pickup-location') %></strong></h4>
              <div class="row text-left">
                <div class="col-xs-12">
                  <h5><%= __('pickup-location-time') %></h5>
                </div>
                <div class="radio-box col-xs-12 row" id="pickupMethod" data-user-lat="<%= user.lat%>" data-user-long="<%= user.long%>">
                  <%
                  var i = 0;
                  if(meal.pickups){ meal.pickups.forEach(function(pickup){ if(pickup.method == 'pickup'){ %>
                  <label class="btn btn-default fixed-label vertical-inline" style="text-align: left;height: 70px;">
                    <input type="radio" id="radio-1-<%= i%>" data-index="<%= i%>" name="radio-1-set" class="regular-radio" <%= i==0 ? "checked=''" : ''%>><label for="radio-1-<%= i%>"></label>
                    <span class="time" data-from="<%= pickup.pickupFromTime%>" data-to="<%= pickup.pickupTillTime%>"><%= __('time') %><span data-toggle="time-span" data-format="date" data-from="<%= pickup.pickupFromTime%>" data-to="<%= pickup.pickupTillTime%>" style="margin-left: 10px;"></span></span>
                    <br/>
                    <% if( (user && user.orders.some(function(order){ return order.meal == meal.id})) || (user && user.host == meal.chef.id)){%>
                      <label class="location" data-value="<%= pickup.location%>" style="margin-left: 23px;"><span><%= __('location') %>&nbsp; <%= pickup.location%></span></label>
                    <%}else{%>
                      <label class="location" data-value="<%= pickup.publicLocation || pickup.location%>" style="margin-left: 23px;"><span><%= __('location') %>&nbsp; <%= pickup.publicLocation || pickup.location%></span></label><%= __('pickup-location-after-order')%>
                    <%}%>

                  </label>
                  <%}i++;})}; %>
                </div>

                <h1></h1>
                <div class="divider"></div>
                <h4 class="text-right col-xs-12 delivery"><%= __('meal-delivery-fee') %><%= meal.delivery_fee%></h4>
              </div>
            </div>

            <div id="deliveryTab" class="tab-pane <%= meal.isDelivery ? 'active':''%>">
              <h4 class="text-left"><strong><%= __('delivery-fee-explain') %></strong></h4>
              <div class="row text-left">
                <div class="col-xs-12">
                  <h5>1.<%= __('delivery-location') %></h5>
                </div>
                <div class="radio-box col-xs-12 row contact" data-user-lat="<%= user.lat%>" data-user-long="<%= user.long%>">
                  <%
                  var addresses= user.address;
                  var keys = Object.keys(addresses);
                  var i = 0;
                  keys.forEach(function(key){
                    var addressObj = addresses[key];
                    var address = addressObj.street + ", " + addressObj.city + ", CA " + addressObj.zip + ", +" + addressObj.phone;
                  %>
                  <label class="btn btn-default fixed-label vertical-align" style="text-align: left;">
                    <input type="radio" id="radio-2-<%= i%>" name="radio-2-set" class="regular-radio" <%= addressObj.isDefault ? "checked=''" : ''%>><label for="radio-2-<%= i%>"></label>
                    <span style="margin-left: 10px;"><%= address %></span>
                  </label>
                  <%i++;}); %>
                  <h4 style="margin-left: 42px;"><a class="text-red" data-action="updateFromOrder" toggle="modal" data-target="#myModal" data-href="/templates/user/address.html" data-id="<%= user.id%>" href="javascript:void(0)"><%= __('new-location-phone') %></a></h4>
                </div>

                <div class="col-xs-12">
                  <h5>2.<%= __('delivery-time')%></h5>
                </div>

                <div class="radio-box col-xs-12 row" id="deliveryMethod" data-user-lat="<%= user.lat%>" data-user-long="<%= user.long%>">
                  <%
                  var i = 0;
                  if(meal.pickups){ meal.pickups.forEach(function(pickup){ if(pickup.method == 'delivery'){ %>
                  <label class="btn btn-default fixed-label vertical-inline" style="text-align: left;height: 70px;">
                    <input type="radio" id="radio-1-<%= i%>" data-index="<%= i%>" name="radio-1-set" class="regular-radio" <%= i==0 ? "checked=''" : ''%>><label for="radio-1-<%= i%>"></label>
                    <span class="time" data-from="<%= pickup.pickupFromTime%>" data-to="<%= pickup.pickupTillTime%>"><%= __('time') %><span data-toggle="time-span" data-format="date" data-from="<%= pickup.pickupFromTime%>" data-to="<%= pickup.pickupTillTime%>" style="margin-left: 10px;"></span></span>
                    <br/>
                  </label>
                  <%}i++;})}; %>
                </div>

                <div class="col-xs-12">
                  <h5>3.<%= __('delivery-range')%> : <%= meal.delivery_range%><%= __('miles')%></h5>
                </div>

                <h1></h1>
                <div class="divider"></div>
                <h4 class="text-right col-xs-12 delivery"><%= __('meal-delivery-fee') %><%= meal.delivery_fee%></h4>
              </div>
            </div>

            <div id="shippingTab" class="tab-pane">
              <h4 class="text-left"><strong><%= __('shipping-explain', meal.shippingPolicy ?  meal.shippingPolicy.freeAmount : '') %></strong></h4>
              <div class="row text-left">
                <div class="col-xs-12">
                  <h5><%= __('shipping-location') %></h5>
                </div>
                <div class="radio-box col-xs-12 row contact" data-user-lat="<%= user.lat%>" data-user-long="<%= user.long%>">
                  <%
                  var addresses= user.address;
                  var keys = Object.keys(addresses);
                  var i = 0;
                  keys.forEach(function(key){
                    var addressObj = addresses[key];
                    var address = addressObj.street + ", " + addressObj.city + ", CA " + addressObj.zip + ", +" + addressObj.phone;
                  %>
                  <label class="btn btn-default fixed-label vertical-align" style="text-align: left;">
                    <input type="radio" id="radio-2-<%= i%>" name="radio-2-set" class="regular-radio" <%= addressObj.isDefault ? "checked=''" : ''%>><label for="radio-2-<%= i%>"></label>
                    <span style="margin-left: 10px;"><%= address %></span>
                  </label>
                  <%i++;}); %>
                  <h4 style="margin-left: 42px;"><a class="text-red" data-action="updateFromOrder" toggle="modal" data-target="#myModal" data-href="/templates/user/address.html" data-id="<%= user.id%>" href="javascript:void(0)"><%= __('new-location-phone') %></a></h4>
                </div>
              </div>
            </div>
            <div id="contact-error" style="margin-top: 40px;" class="alert alert-danger"></div>
          </div>

          <h1 class="text-red text-left">Step3:<strong><%= __('payment-method') %></strong></h1>
          <div class="divider"></div>
          <h2></h2>
          <div id="payment-cards" class="btn-set text-left">
            <%
              var cards = user.payment;
              for(var j=0; j < cards.length; j++){
                var card = cards[j];
                var last4 = card.last4;
            %>
            <button class="btn btn-disable btn-fat btn-lg<%if(card.isDefaultPayment){%> active<%}%>" style="margin-right: 10px;height: 80px;" toggle="modal" data-target="#myModal" data-href="/payment/<%=card.id%>" onclick="toggleModal(event)"><strong><%= card.brand %><br/><%= last4 %></strong></button>
            <%}%>
            <button class="btn btn-disable btn-fat btn-lg" style="margin-right: 10px;height: 80px;" toggle="modal" data-target="#myModal" data-href="/payment/new" onclick="toggleModal(event)"><strong><i class="fa fa-plus fa-2x"></i></strong><br/><%= __('add-new') %><br/><%= __('payment-method') %></button>
          </div>

          <h3></h3>
          <div class="divider"></div>
          <div class="divider"></div>
          <h4 class="text-right"><%= __('total')%><span class="total"></span></h4>

          <div id="payment-error" data-toggle="alert" class="alert alert-danger"></div>

          <button type="button" class="btn btn-danger red btn-lg round" data-action="takeOrder"><strong><%= __('order-and-pay') %></strong></button>
        </div>
      </div>

      <div class="col-md-4">
        <div class="box white floater static-floater">
          <div id="alert-order" class="alert alert-danger hide" role="alert">
            <%= __('no-dish-left') %>
          </div>
          <% if(meal.isFull()){%>
            <div class="alert alert-danger" role="alert">
              <%= __('no-meal-left') %>
            </div>
          <%}%>
          <button type="button" data-action="takeOrder" class="btn btn-danger red"><%= __('placeorder') %></button>
          <table id="order" class="table" data-meal="<%= meal.id%>" data-err-container="#alert-order">
            <thead>
            <tr>
              <th><%= __('order-fee') %></th>
            </tr>
            <tr>
              <th><%= __('name') %></th>
              <td><%= __('price') %></td>
              <td><%= __('quantity') %></td>
            </tr>
            </thead>
            <tbody>
            <%
            var dishes = meal.dishes;
            for(var i=0; i < dishes.length; i++){
              var dish = dishes[i];
            %>
            <tr class="success item" data-id=<%= dish.id %> data-left-amount=<%= meal.leftQty[dish.id] %>>
              <td><%= dish.title %><br/><span class="preference"></span> </td>
              <td class="price" value=<%= dish.price %>>$<%= dish.price %></td>
              <td>
                <button type="button" class="btn btn-default btn-xs" onclick="javascript:orderFood('<%= dish.id %>',-1)">-</button>
                <span class="amount" style="padding: 5px;">  0  </span>
                <button type="button" class="btn btn-default btn-xs" onclick="javascript:orderFood('<%= dish.id %>',1)">+</button>
              </td>
            </tr>
            <% }%>
            <tr></tr>
            <tr>
              <th></th>
              <td></td>
              <th class="text-right"><%= __('meal-fee') %> <span class="subtotal">0.00</span></th>
            </tr>
            <tr></tr>
            <tr>
              <th><%= __('pickup-method') %></th>
              <td><%= __('estimated-time') %></td>
              <td><%= __('delivery-fee') %></td>
            </tr>
            <tr></tr>
            <tr class="pickupOpt" style="display: none;">
              <td><%= __('self-pickup') %></td>
              <td><%= meal.prepareTime%><%= __('min') %></td>
              <td><%= __('free') %></td>
            </tr>
            <tr class="deliveryOpt">
              <td><%= __('delivery') %></td>
              <td> > <%= meal.prepareTime%> <%= __('min') %></td>
              <td>$ <%= meal.delivery_fee%></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <th class="text-right"><%= __('meal-delivery-fee') %><span class="delivery" data-value="<%= meal.delivery_fee%>">$<%= meal.delivery_fee%></span></th>
            </tr>
            <!--<tr>-->
              <!--<th></th>-->
              <!--<td></td>-->
              <!--<th class="text-right"><%= __('tax')%>:<span class="tax" data-value="0"> $0.00</span></th>-->
            <!--</tr>-->
            <tr>
              <th></th>
              <td></td>
              <th class="text-right"><i class="fa fa-question-circle text-lightgrey cursor-pointer" data-toggle="tooltip" title="<%= __('tip-service-fee')%>"></i> <%= __('service-fee')%>:<span class="service-fee" data-value="0"> $1.00</span></th>
            </tr>
            <tr></tr>
            <tr>
              <th></th>
              <td></td>
              <th class="text-right"><%= __('total') %><span class="total"></span></th>
            </tr>
            </tbody>
          </table>

          <button type="button" data-action="takeOrder" class="btn btn-danger red"><%= __('placeorder') %></button>
        </div>
      </div>

    </div>

    <h1></h1>

  </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwSdr10kQ9xkogbE34AyzwspjaifpaFzA" async defer></script>

<script>
  new OrderView({ el : $("#meal-confirm-container"), model : new Order()})
  new AddressView({ el : $("#meal-confirm-container"), model : new User()})
</script>
