<div class="container default-container text-center relative" style="margin-top:-20px;background-color: #f2f2f2;">

  <div class="compact-banner">
    <div class="img-wrapper row">
      <img src="/images/homecover-1.jpg" class="relative middle">
    </div>

    <div class="absolute logo-container">

      <div class="col-lg-3 col-sm-4 col-xs-12 relative text-left">
        <a href="/" class="logo"></a>
      </div>

      <div class="relative text-left col-lg-9 col-sm-8 col-xs-12 content">
        <h4 class="text-white"><strong><%__('searching-word')%></strong></h4>
        <div class="btn-group">
          <input class="input btn btn-default round light text-grey" placeholder="<%= __('searching-tips')%>">
          <button class="btn btn-warning round orange text-white" onclick="javascript:search(this)">
            <i class="fa fa-search"></i>
            <%= __('search')%>
          </button>
        </div>
        <button class="btn btn-red round" onclick="location.href='/meal'"><%= __('see-menu')%></button>

      </div>

    </div>
  </div>

  <div id="meal-confirm-container" class="padding-clear" data-center="<%= meal.delivery_center%>" data-range="<%= meal.delivery_range %>">

    <div class="row">
      <div class="col-md-8">
        <div class="box white">
          <h1 class="text-red text-left"><strong><%= __('contact') %></strong></h1>
          <div class="divider"></div>
          <h4 class="text-left"><strong><%= __('choose-method') %></strong></h4>
          <h3></h3>
          <div class="btn-set text-left" id="method" data-toggle="btn-set">
            <%if(meal.isDelivery){%>
            <button data-toggle="tab" href="#pickupTab" class="btn btn-disable btn-fat btn-lg" style="margin-right: 10px;" value="pickup"><strong><%= __('self-pickup') %></strong></button>
            <button data-toggle="tab" href="#deliveryTab" class="btn btn-disable btn-fat btn-lg active" style="margin-right: 10px;" value="delivery"><strong><%= __('delivery') %></strong></button>
            <%}else if(meal.isShipping){%>
            <button data-toggle="tab" href="#pickupTab" class="btn btn-disable btn-fat btn-lg" style="margin-right: 10px;" value="pickup"><strong><%= __('self-pickup') %></strong></button>
            <button data-toggle="tab" href="#shippingTab" class="btn btn-disable btn-fat btn-lg active" value="shipping"><strong><%= __('shipping') %></strong></button>
            <%}else{%>
            <button data-toggle="tab" href="#pickupTab" class="btn btn-disable btn-fat btn-lg active" style="margin-right: 10px;" value="pickup"><strong><%= __('self-pickup') %></strong></button>
            <%}%>
          </div>
          <h3></h3>
          <div class="tab-content">
            <div id="pickupTab" class="tab-pane <%= meal.isDelivery ? '':'active'%>">
              <h4 class="text-left"><strong><%= __('choose-pickup-location') %></strong></h4>
              <div class="row text-left">
                <div class="col-xs-12">
                  <h5><%= __('pickup-location-time') %></h5>
                </div>
                <div class="radio-box col-xs-12 row" id="pickupMethod" data-user-lat="<%= user.lat%>" data-user-long="<%= user.long%>">
                  <%
                  var i = 0;
                  if(meal.pickups){ meal.pickups.forEach(function(pickup){ if(pickup.method == 'pickup'){ %>
                  <label class="btn btn-default vertical-inline" style="text-align: left;white-space: inherit;height: 200px;">
                    <input type="radio" id="pickup-1-<%= i%>" data-index="<%= i%>" name="pickup-location-set" class="regular-radio" <%= i==0 ? "checked=''" : ''%>><label for="pickup-1-<%= i%>"></label>
                    <span class="time" data-from="<%= pickup.pickupFromTime%>" data-to="<%= pickup.pickupTillTime%>"><%= __('time') %><span data-toggle="time-span" data-format="date" data-from="<%= pickup.pickupFromTime%>" data-to="<%= pickup.pickupTillTime%>" style="margin-left: 10px;"></span></span>
                    <br/>
                    <% if( (user.orders && user.orders.some(function(order){ return order.meal == meal.id})) || (user && user.host == meal.chef.id)){%>
                      <label class="location multi-line-label" data-value="<%= pickup.location%>" style="margin-left: 23px;"><%= __('location') %>&nbsp; <%= pickup.location%></label>
                    <%}else{%>
                      <label class="location multi-line-label" data-value="<%= pickup.publicLocation || pickup.location%>" style="margin-left: 23px;"><%= __('location') %>:&nbsp; <%= pickup.publicLocation || pickup.location%></label><%= __('pickup-location-after-order')%>
                    <%}%>
                    <label class="pickupInstruction" data-value="<%= pickup.instruction%>" style="margin-left: 23px;"><%= __('pickup-instruction') %>:&nbsp; <%= pickup.instruction || ''%></label>

                  </label>
                  <%}i++;})}; %>
                </div>

                <div class="col-xs-12">
                  <h5>2.<%= __('contact-phone')%></h5>
                </div>

                <div class="radio-box col-xs-12 row contact" data-user-lat="<%= user.lat%>" data-user-long="<%= user.long%>">
                  <%
                  var addresses = user.address;
                  if(addresses && addresses.length != 0){
                    var keys = Object.keys(addresses);
                    keys.forEach(function(key) {
                      var addressObj = addresses[key];
                      var phone = addressObj.phone;
                  %>
                    <label class="btn btn-default fixed-label vertical-align" style="text-align: left;">
                      <input type="radio" id="pickup-2-<%= i%>" name="pickup-contact-set" data-index="<%= i%>" class="regular-radio" <%= phone == user.phone ? "checked=''" : ''%>><label for="pickup-2-<%= i%>"></label>
                      <span style="margin-left: 10px;"><%= phone %></span>
                    </label>
                  <% i++;});
                  }else{var phone = user.phone;if(phone){ %>
                  <label class="btn btn-default fixed-label vertical-align" style="text-align: left;">
                    <input type="radio" id="pickup-2-<%= i%>" name="pickup-contact-set" data-index="<%= i%>" class="regular-radio" checked=''><label for="pickup-2-<%= i%>"></label>
                    <span style="margin-left: 10px;"><%= phone %></span>
                  </label>
                  <%}} %>
                  <h4 style="margin-left: 42px;"><a class="text-red" data-action="updateFromOrder" toggle="modal" data-target="#myModal" data-href="/templates/user/address.html" data-id="<%= user.id%>" href="javascript:void(0)"><%= __('new-location-phone') %></a></h4>
                </div>

                <h1></h1>
                <div class="divider"></div>
                <h4 class="text-right col-xs-12 delivery"><%= __('meal-delivery-fee') %><%= meal.delivery_fee%></h4>
              </div>
            </div>

            <div id="deliveryTab" class="tab-pane <%= meal.isDelivery ? 'active':''%>">
              <h4 class="text-left"><strong><%= __('delivery-fee-explain') %></strong></h4>
              <div class="row text-left">
                <div class="col-xs-12">
                  <h5>1.<%= __('delivery-location') %></h5>
                </div>
                <div class="radio-box col-xs-12 row contact" data-user-lat="<%= user.lat%>" data-user-long="<%= user.long%>">
                  <%
                  var addresses= user.address;
                  if(addresses){
                    var keys = Object.keys(addresses);
                    keys.forEach(function(key){
                      var addressObj = addresses[key];
                      var address = addressObj.street + ", " + addressObj.city + ", CA " + addressObj.zip + ", +" + addressObj.phone;
                  %>
                  <label class="btn btn-default fixed-label vertical-align" style="text-align: left;">
                    <input type="radio" id="delivery-1-<%= i%>" name="delivery-location-set" class="regular-radio" <%= addressObj.isDefault ? "checked=''" : ''%>><label for="delivery-1-<%= i%>"></label>
                    <span style="margin-left: 10px;"><%= address %></span>
                  </label>
                  <%i++;})}; %>
                  <h4 style="margin-left: 42px;"><a class="text-red" data-action="updateFromOrder" toggle="modal" data-target="#myModal" data-href="/templates/user/address.html" data-id="<%= user.id%>" href="javascript:void(0)"><%= __('new-location-phone') %></a></h4>
                </div>

                <div class="col-xs-12">
                  <h5>2.<%= __('delivery-option')%></h5>
                </div>

                <div class="radio-box col-xs-12 row" id="deliveryMethod" data-user-lat="<%= user.lat%>" data-user-long="<%= user.long%>">
                  <%
                  var i = 0;
                  var j = 0;
                  if(meal.pickups){ meal.pickups.forEach(function(pickup){ if(pickup.method == 'delivery'){ %>
                  <label class="btn btn-default fixed-label vertical-inline" style="text-align: left;height: 70px;" data-center="<%= pickup.deliveryCenter%>">
                    <input type="radio" id="delivery-2-<%= i%>" data-index="<%= i%>" name="delivery-contact-set" class="regular-radio" <%= j==0 ? "checked=''" : ''%>><label for="delivery-2-<%= i%>"></label>
                    <span class="time" data-from="<%= pickup.pickupFromTime%>" data-to="<%= pickup.pickupTillTime%>"><%= __('delivery-center')%>: <%= pickup.deliveryCenter%><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('time') %><span data-toggle="time-span" data-format="date" data-from="<%= pickup.pickupFromTime%>" data-to="<%= pickup.pickupTillTime%>" style="margin-left: 10px;"></span></span>
                    <br/>
                  </label>
                  <%j++;}i++;})}; %>
                </div>

                <div class="col-xs-12">
                  <h5>3.<%= __('delivery-range')%> : <%= meal.delivery_range%><%= __('miles')%></h5>
                </div>

                <h1></h1>
                <div class="divider"></div>
                <h4 class="text-right col-xs-12 delivery"><%= __('meal-delivery-fee') %><%= meal.delivery_fee%></h4>
              </div>
            </div>

            <div id="shippingTab" class="tab-pane">
              <h4 class="text-left"><strong><%= __('shipping-explain', meal.shippingPolicy ?  meal.shippingPolicy.freeAmount : '') %></strong></h4>
              <div class="row text-left">
                <div class="col-xs-12">
                  <h5><%= __('shipping-location') %></h5>
                </div>
                <div class="radio-box col-xs-12 row contact" data-user-lat="<%= user.lat%>" data-user-long="<%= user.long%>">
                  <%
                  var addresses= user.address;
                  if(addresses){
                    var keys = Object.keys(addresses);
                    var i = 0;
                    keys.forEach(function(key){
                      var addressObj = addresses[key];
                      var address = addressObj.street + ", " + addressObj.city + ", CA " + addressObj.zip + ", +" + addressObj.phone;
                  %>
                  <label class="btn btn-default fixed-label vertical-align" style="text-align: left;">
                    <input type="radio" id="radio-2-<%= i%>" name="radio-2-set" class="regular-radio" <%= addressObj.isDefault ? "checked=''" : ''%>><label for="radio-2-<%= i%>"></label>
                    <span style="margin-left: 10px;"><%= address %></span>
                  </label>
                  <%i++;})}; %>
                  <h4 style="margin-left: 42px;"><a class="text-red" data-action="updateFromOrder" toggle="modal" data-target="#myModal" data-href="/templates/user/address.html" data-id="<%= user.id%>" href="javascript:void(0)"><%= __('new-location-phone') %></a></h4>
                </div>
              </div>
            </div>
            <div id="contact-tips" style="margin-top: 40px;" class="alert alert-info hide"></div>
            <div id="contact-error" class="alert alert-danger hide"></div>
          </div>

          <h1 class="text-red text-left">Step3:<strong><%= __('payment-method') %></strong></h1>
          <div class="divider"></div>
          <h2></h2>
          <div id="payment-cards" class="btn-set text-left">
            <%
              var cards = user.payment;
              if(cards){
                for(var j=0; j < cards.length; j++){
                  var card = cards[j];
                  var last4 = card.last4;
            %>
            <button class="btn btn-disable btn-fat btn-lg <%if(card.isDefaultPayment){%> active<%}%>" data-method="online" style="margin-right: 10px;height: 80px;" toggle="modal" data-target="#myModal" data-href="/payment/<%=card.id%>" onclick="toggleModal(event)"><strong><%= card.brand %><br/><%= last4 %></strong></button>
            <%}}%>
            <button class="btn btn-disable btn-fat btn-lg" data-method="online" style="margin-right: 10px;height: 80px;" toggle="modal" data-target="#myModal" data-href="/payment/new" onclick="toggleModal(event)"><strong><i class="fa fa-plus fa-2x"></i></strong><br/><%= __('add-new') %><br/><%= __('payment-method') %></button>
            <button class="btn btn-disable btn-fat btn-lg" data-phone="" data-name="" data-method="cash" style="margin-right: 10px;height: 80px;" toggle="modal" data-target="#myModal" data-href="/user/me/contact" onclick="toggleModal(event)"><i class="fa fa-money fa-2x"></i><br/><%= __('cash-method') %></button>
          </div>

          <h3></h3>
          <div class="divider"></div>
          <div class="divider"></div>
          <h4 class="text-right"><%= __('total')%><span class="total"></span></h4>

          <div id="payment-error" data-toggle="alert" class="alert alert-danger"></div>

          <button type="button" class="btn btn-danger red btn-lg round" data-action="takeOrder"><strong><%= __('order-and-pay') %></strong></button>
        </div>
      </div>

      <div class="col-md-4">
        <div class="box white floater static-floater">
          <div id="alert-order" class="alert alert-danger hide" role="alert">
            <%= __('no-dish-left') %>
          </div>
          <% if(meal.isFull()){%>
            <div class="alert alert-danger" role="alert">
              <%= __('no-meal-left') %>
            </div>
          <%}%>
          <button type="button" data-action="takeOrder" class="btn btn-danger red"><%= __('placeorder') %></button>

          <table id="order" class="table tableBodyScroll" data-meal="<%= meal.id%>" data-err-container="#alert-order">
            <thead>
            <tr>
              <th><%= __('name') %></th>
              <td><%= __('price') %></td>
              <td><%= __('quantity') %></td>
            </tr>
            </thead>
            <tbody class="scroll">
            <%
            var dishes = meal.dishes;
            for(var i=0; i < dishes.length; i++){
              var dish = dishes[i];
            %>
            <tr class="success item" data-id=<%= dish.id %> data-left-amount=<%= meal.leftQty[dish.id] %>>
              <td><%= dish.title %><br/><span class="preference"></span> </td>
              <td class="price" value=<%= dish.price %> data-extra=0>$<%= dish.price %></td>
              <td>
                <button type="button" class="btn btn-default btn-xs" onclick="javascript:orderFood('<%= dish.id %>',-1,true)">-</button>
                <span class="amount" style="padding: 5px;">  0  </span>
                <button type="button" class="btn btn-default btn-xs" onclick="javascript:orderFood('<%= dish.id %>',1,true)">+</button>
              </td>
            </tr>
            <% }%>
            </tbody>
            <tbody>
            <tr></tr>
            <tr>
              <th></th>
              <td></td>
              <th class="text-right"><%= __('meal-fee') %> <span class="subtotal">0.00</span></th>
            </tr>
            <tr></tr>
            <tr>
              <th><%= __('pickup-method') %></th>
              <td><%= __('estimated-time') %></td>
              <td><%= __('delivery-fee') %></td>
            </tr>
            <tr></tr>
            <tr class="pickupOpt info" style="display: none;">
              <td><%= __('self-pickup') %></td>
              <td><%= meal.prepareTime%><%= __('min') %></td>
              <td><%= __('free') %></td>
            </tr>
            <tr class="deliveryOpt info">
              <td><%= __('delivery') %></td>
              <td> > <%= meal.prepareTime%> <%= __('min') %></td>
              <td>$ <%= meal.delivery_fee%></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <th class="text-right"><%= __('meal-delivery-fee') %><span class="delivery" data-value="<%= meal.delivery_fee%>">$<%= meal.delivery_fee%></span></th>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <th class="text-right"><%= __('tax')%>:<span class="tax" data-taxrate="<%= meal.getTaxRate()%>" data-value="0"> $0.00</span></th>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <th class="text-right"><i class="fa fa-question-circle text-lightgrey cursor-pointer" data-toggle="tooltip" title="<%= __('tip-service-fee')%>"></i> <%= __('service-fee')%>:<span class="service-fee" data-value="0"> $1.00</span></th>
            </tr>
            <tr></tr>
            <tr>
              <th style="vertical-align: middle;"><i class="fa fa-question-circle text-lightgrey cursor-pointer" data-toggle="tooltip" title="<%= __('coupon')%>"></i> <%= __('coupon')%>:</th>
              <th><input class="coupon-code form-control" style="margin:0 5px 0 5px;width: 80px;" maxlength="7" data-code="" data-value=""></input></th>
              <th class="text-right">
                <button id="applyCouponBtn" class="btn btn-success"><%= __('apply-code')%></button>
                <button id="disApplyCouponBtn" class="btn btn-danger" onclick="javascript:applyCoupon(false);"><%= __('disapply-code')%></button>
              </th>
            </tr>
            <tr>
              <th style="vertical-align: middle;"><i class="fa fa-question-circle text-lightgrey cursor-pointer" data-toggle="tooltip" title="<%= __('points-tips')%>"></i> <%= __('points')%>:</th>
              <th><input class="points form-control" style="margin:0 5px 0 5px;width: 80px;" readonly value="<%= user?(user.points || 0):-1%>"></input></th>
              <th class="text-right">
                <button id="applyPointsBtn" class="btn btn-success"><%= __('apply-code')%></button>
                <button id="disApplyPointsBtn" class="btn btn-danger" onclick="javascript:applyPoints(false);"><%= __('disapply-code')%></button>
              </th>
            </tr>
            <tr>
              <th class="text-right"><%= __('total') %><span class="total"></span></th>
            </tr>
            </tbody>
          </table>

          <button type="button" data-action="takeOrder" class="btn btn-danger red"><%= __('placeorder') %></button>
          <div id="orderAlertView" class="alert alert-danger hide" style="margin-top: 10px;"></div>

        </div>
      </div>

    </div>

    <h1></h1>

  </div>

</div>

<script>
  new OrderView({ el : $("#meal-confirm-container"), model : new Order()})
  new AddressView({ el : $("#meal-confirm-container"), model : new User()})
  new MealConfirmView( { el : $("#meal-confirm-container"), model : new Meal()})
  if(!googleAPILoaded){
    jQuery.ajax({
      url: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBwSdr10kQ9xkogbE34AyzwspjaifpaFzA&libraries=places",
      dataType: 'script',
      async: true,
      defer : true,
      success : function(){
        googleAPILoaded = true;
      }
    });
  }
</script>
