<div class="container default-container text-center relative" style="margin-top:-20px;background-color: #f2f2f2;">

  <div class="compact-banner">
    <div class="img-wrapper row">
      <img src="/images/homecover-1.jpg" class="relative middle">
    </div>

    <div class="row absolute" style="width: 100%;top:0;">

      <div class="relative text-left cursor-pointer logo col-xs-4" style="" onclick="location.href='/'">
        <h1 class="text-white">私房Meal</h1>
        <p class="text-white text-left">SFMeal.com</p>
      </div>

      <div class="relative text-left col-xs-8 content" style="">
        <h4 class="text-white"><strong>今天吃什么好呢？</strong></h4>
        <div class="btn-group">
          <input class="input btn btn-default round light text-grey" placeholder="输入牛排看看">
          <button class="btn btn-warning round orange text-white" onclick="javascript:search(this)">
            <i class="fa fa-search"></i>
            搜索
          </button>
        </div>
        <button class="btn btn-danger round red" onclick="location.href='/meal'">查看菜单</button>
      </div>

    </div>
  </div>

  <div id="meal-confirm-container" class="container-fluid padding-clear">

    <div class="row">
      <div class="col-md-8">
        <div class="box white">
          <h1 class="text-red text-left"><strong>联系方式</strong></h1>
          <div class="divider"></div>
          <h4 class="text-left"><strong>请选择取餐方式:</strong></h4>
          <h3></h3>
          <div class="btn-set text-left" id="method" data-toggle="btn-set">
            <button class="btn btn-disable btn-fat btn-lg active" style="margin-right: 10px;" value="pickup"><strong>自取</strong></button>
            <button class="btn btn-disable btn-fat btn-lg" value="delivery"><strong>送餐</strong></button>
          </div>
          <h3></h3>
          <h4 class="text-left"><strong>输入收餐地址后，系统会自动计算送餐费用。</strong></h4>
          <div class="row text-left">
            <div class="col-xs-12">
              <h5>1.收餐地址</h5>
            </div>
            <div class="radio-box col-xs-12 row" id="contact">
              <%
                var addresses= user.address_list;
                var keys = Object.keys(addresses);
                var i = 0;
                keys.forEach(function(key){
                  var addressObj = addresses[key];
                  var address = addressObj.street + ", " + addressObj.city + " " + addressObj.zip + ", +" + addressObj.phone;
              %>
                <label class="btn btn-default fixed-label vertical-align" style="text-align: left;">
                  <input type="radio" id="radio-1-<%= i%>" name="radio-1-set" class="regular-radio" checked=""><label for="radio-1-<%= i%>"></label>
                  <span style="margin-left: 10px;"><%= address %></span>
                </label>
              <%i++;}); %>
              <h4 style="margin-left: 42px;"><a class="text-red" data-action="updateFromOrder" toggle="modal" data-target="#myModal" data-href="/templates/user/address.html" data-id="<%=user.id%>" href="javascript:void(0)">新增收餐地址及电话</a></h4>
            </div>

            <h1></h1>
            <div class="divider"></div>
            <h4 class="text-right col-xs-12">送餐费小计: $0.00</h4>
            <div id="contact-error" data-toggle="alert" style="margin-top: 40px;" class="alert alert-warning"></div>
          </div>

          <h1 class="text-red text-left">Step3:<strong>支付方式</strong></h1>
          <div class="divider"></div>
          <h2></h2>
          <div id="payment-cards" class="btn-set text-left">
            <%
              var cards = user.payment;
              for(var j=0; j < cards.length; j++){
                var card = cards[j];
                var last4 = card.cardNumber.slice(-4);
            %>
            <button class="btn btn-disable btn-fat btn-lg<%if(card.isDefaultPayment){%> active<%}%>" style="margin-right: 10px;height: 80px;" toggle="modal" data-target="#myModal" data-href="/payment/<%=card.id%>" onclick="toggleModal(event)"><strong><%= card.brand %><br/><%= last4 %></strong></button>
            <%}%>
            <button class="btn btn-disable btn-fat btn-lg" style="margin-right: 10px;height: 80px;" toggle="modal" data-target="#myModal" data-href="/payment/new" onclick="toggleModal(event)"><strong><i class="fa fa-plus fa-2x"></i></strong><br/>增加新的<br/>支付方式</button>
          </div>

          <h3></h3>
          <div class="divider"></div>
          <div class="divider"></div>
          <h4 class="text-right total">合计: $32.00</h4>

          <div id="payment-error" data-toggle="alert" class="alert alert-warning"></div>

          <button type="button" class="btn btn-danger red btn-lg round" data-action="takeOrder"><strong>下单並支付</strong></button>
        </div>
      </div>

      <div class="col-md-4">
        <div class="box white floater" style="position: fixed;bottom: 10px;" >
          <div id="alert-order" class="alert alert-danger hide" role="alert">
            这个菜已经被订完了，请选择其他。
          </div>
          <% if(meal.isFull()){%>
            <div class="alert alert-danger" role="alert">
              这个Meal已经被订完了，请选择其他或稍后再试。
            </div>
          <%}%>
          <table id="order" class="table" data-meal="<%= meal.id%>" data-err-container="#alert-order">
            <thead>
            <tr>
              <th>餐费</th>
            </tr>
            <tr>
              <th>名称</th>
              <td>单价</td>
              <td>数量</td>
            </tr>
            </thead>
            <tbody>
            <%
            var dishes = meal.dishes;
            for(var i=0; i < dishes.length; i++){
              var dish = dishes[i];
            %>
            <tr class="success item" data-id=<%= dish.id %> data-left-amount=<%= meal.leftQty[dish.id] %>>
              <td><%= dish.title %></td>
              <td class="price" value=<%= dish.price %>>$<%= dish.price %></td>
              <td>
                <button type="button" class="btn btn-default btn-xs" onclick="javascript:orderFood('<%= dish.id %>',-1)">-</button>
                <span class="amount" style="padding: 5px;">  0  </span>
                <button type="button" class="btn btn-default btn-xs" onclick="javascript:orderFood('<%= dish.id %>',1)">+</button>
              </td>
            </tr>
            <% }%>
            <tr></tr>
            <tr>
              <th></th>
              <td></td>
              <th class="text-right subtotal">餐费小计: $0.00</th>
            </tr>
            <tr></tr>
            <tr>
              <th>取餐方式</th>
              <td>预计时间</td>
              <td>送餐费</td>
            </tr>
            <tr></tr>
            <tr class="info">
              <td>自取</td>
              <td>30分钟</td>
              <td>免</td>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <th class="text-right delivery" data-value="0">送餐费小计: $0.00</th>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
              <th></th>
              <td></td>
              <th class="text-right total">合计: $0.00</th>
            </tr>
            </tbody>
          </table>

          <button type="button" data-action="takeOrder" class="btn btn-danger red">结账</button>
        </div>
      </div>

    </div>

    <h1></h1>

  </div>

</div>

<script>
  new AddressView({ el : $("#meal-confirm-container"), model : new User()})
  new OrderView({ el : $("#meal-confirm-container"), model : new Order()})
</script>
