<link href="/assets/dayOfMeal.css" rel="stylesheet">
<div class="default-container text-center relative">

  <div id="dayOfMealContainer" style="max-width: 800px;" class="mx-auto" data-user-lat="<%= user?user.lat:''%>" data-user-long="<%= user?user.long:''%>" data-user="<%= user ? user.id : ''%>" data-pickup-nickname="<%= pickupNickname || ''%>">

    <% if(meals && meals.meals){%>
    <div class="w-100 sticky-top">
      <div class="dropdown white">
        <%
          var dates = Object.keys(meals.meals);
          dates = dates.sort(function(d1,d2){
            var dateObj = {
              "today" : 8,
              "tomorrow" : 7,
              "Monday" : 6,
              "Tuesday" : 5,
              "Wednesday" : 4,
              "Thursday" : 3,
              "Friday" : 2,
              "Saturday" : 1,
              "Sunday" : 0,
              "今天" : 8,
              "明天" : 7,
              "星期一" : 6,
              "星期二" : 5,
              "星期三" : 4,
              "星期四" : 3,
              "星期五" : 2,
              "星期六" : 1,
              "星期天" : 0
            }
            if(dateObj.hasOwnProperty(d1) && dateObj.hasOwnProperty(d2)){
              return dateObj[d2] - dateObj[d1];
            }else{
              var month1 = d1.split("/")[0];
              var day1 = d1.split("/")[1];
              var month2 = d2.split("/")[0];
              var day2 = d2.split("/")[1];
              if(month1 === month2){
                return day1 - day2;
              }else{
                return month1 - month2;
              }
            }
          })
        %>
        <button id="deliveryDateBtn" class="btn dropdown-toggle text-black" data-toggle="dropdown" data-selected="true">
          <%= __('delivery-date')%> <%= dates[0] || __('notAvailable')%>
        </button>
        <div id="dishDatesBar" class="dropdown-menu w-50 dropdown-menu-center" style="min-width: 300px;" data-filter-group="date">
          <div class="d-flex justify-content-between vertical-align px-4" style="background: none;">
            <%= __('current-location')%>:
            <input name="zipcode" style="width: 96px;" value="<%= zipcode || (user ? user.zipcode  : '94014')%>">
            <button id="changeZipcodeBtn"><i class="fa fa-check-circle cursor-pointer"></i></button>
          </div>
          <h5 class="text-left pl-4"><small class="text-red">您的地区起送费是: $<%= minimalOrder%></small></h5>
          <div class="dropdown-divider"></div>
          <% dates.forEach(function(dateKey,i){ %>
            <label class="d-flex px-4 vertical-align dropdown-item" style="background: none;" value=".<%= dateKey.replace(/\/|\'/g,'')%>">
              <input data-mixitup-control data-mixitup-date data-filter-type="date" data-filter=".<%= dateKey.replace(/\/|\'/g,'')%>" type="radio" value=".<%= dateKey.replace(/\/|\'/g,'')%>" id="deliveryDateOption-<%= i%>" name="delivery-date-options" data-index="<%= i%>" class="" <%= i===0? "checked=''" : ''%>>
              <label for="deliveryDateOption-<%= i%>"></label>
              <span class="cursor-pointer ml-2"><%= __(dateKey).replace("day",'')%></span>
            </label>
          <% })%>
        </div>
      </div>
      <ul id="hostBarView" class="nav nav-tabs nav-scroll justify-content-md-center white" data-filter-group="chef">
        <%
        hosts.forEach(function(host,i){ %>
          <li class="mix nav-item px-1 <%= i===0?'active':''%> <%= host.dates%>">
            <a class="nav-link <%= i===0?'active':''%>" href="javascript:void(0);" data-mixitup-control data-filter-type="chef" data-filter=".<%= host.chef.shopName.replace(/ |\'/g,'')%>" data-toggle="tab" data-likes="<%= host.chef.likes || 0%>" data-picture="<%= host.chef.picture%>" data-host="<%= host.chef.id%>" data-follow-text="<%= __('follow')%>" data-followed-text="<%= __('followed')%>" data-followed="<%= (user && (user.follow && user.follow.some(function(f){ f.id === hosts[0].chef.id}))) ? true : false%>" data-score="<%= host.chef.averageScore || 5%>" style="max-width:100px;font-size: 8px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
              <%= host.chef.shopName%>
            </a>
          </li>
        <% })%>
      </ul>
    </div>
    <% }%>

    <div class="w-100 d-flex border-top-0" style="border: lightgrey solid 1px;">
      <nav id="dishTagsBar" class="sticky-top" style="overflow-y: scroll;min-width: 100px;">
        <ul class="list list-side list-unstyled" data-toggle="btn-set">
          <% tags.forEach(function(tag, index){%>
            <li class="cursor-pointer border-bottom <%= index===0?'active':''%> <%= tag==="discount"?'yellow':''%>"><a style="white-space: nowrap;" data-offset=-74 href="<%= tag.replace("'","").replace(" ","")%>"><%= __(tag)%></a></li>
          <% })%>
        </ul>
        <% if(!user || (user && !user.newUserRewardIsRedeemed && user.points === 0)){ %>
          <div><a id="newUserRewardIcon" data-target="#myModal" toggle="modal" href="javascript:void(0)" onclick="javascript:h.toggleModal(event)" data-href="/user/reward/newUser"><img class="icon-float cursor-pointer" data-src="../../images/icon_new.png"></a></div>
        <% }%>
        <% if(user){ %>
          <div><a id="userReferralBtn" href="/join"><img class="icon-float cursor-pointer" data-src="../../images/icon_share.png"></a></div>
        <% }%>
      </nav>
      <div id="order" class="content container-fluid text-left">
        <div id="chefDishView">
          <% tags.forEach(function(tag){if(tag === "chef"){%>
            <% if(!hosts || !hosts.length){ return; }%>
            <div class="pl-4 text-center light-grey row" style="font-weight: lighter;height: 43px;" id="<%= tag.replace("'","").replace(" ","")%>">
              <h6 class="middle" style="min-width: 80px;"><%= __(tag)%></h6>
            </div>
            <div class="d-flex justify-content-around py-3 mix" id="<%= tag%>">
              <div class="d-flex flex-row vertical-align">
                <div class="mr-2">
                  <img onclick="location.href='/host/public/<%= hosts[0].chef.id%>'" src="<%= hosts[0].chef.picture%>" class="size-small rounded-circle cursor-pointer">
                </div>
                <div data-toggle="tooltip" data-placement="right" title="<%= (parseFloat(hosts[0].chef.avgScore) || 5).toFixed(1)%>">
                  <div class="rating small-rating" data-toggle="star-set" data-rate="<%= (parseFloat(hosts[0].chef.avgScore) || 5).toFixed(1)%>">
                    <i class="fa fa-star d-block"></i>
                    <i class="fa fa-star d-block"></i>
                    <i class="fa fa-star d-block"></i>
                    <i class="fa fa-star d-block"></i>
                    <i class="fa fa-star d-block"></i>
                  </div>
                </div>
              </div>
              <div class="flex-column text-center vertical-align">
                <h5 class="shopName"><%= hosts[0].chef.shopName%></h5>
                <div>
                  <button id="likeBtn" class="btn btn-outline-success mr-lg-2" data-action="like" data-host="<%= hosts[0].id%>"><i class="fa fa-thumbs-up"></i> <span data-count="<%= hosts[0].likes%>"><%= hosts[0].likes%></span></button>
                  <button id="followBtn" class="btn btn-outline-success ml-lg-2" data-action="follow" data-toggle="tooltip" title="<%= __('follow-tip')%>" data-host="<%= hosts[0].id%>" data-followed="<%= (user && (user.follow && user.follow.some(function(f){ f.id === hosts[0].id}))) ? true : false%>"><span class="text"><%= (user && (user.follow && user.follow.some(function(f){ f.id === hosts[0].id}))) ? __('followed') : __('follow')%> </span><i class="<%= (user && (user.follow && user.follow.some(function(f){ f.id === hosts[0].id}))) ? 'fas fa-star' : 'far fa-star'%>"></i></button>
                </div>
              </div>
            </div>
            <%
              var dateList = Object.keys(meals.meals);
            dateList.forEach(function(dateKey){
              var mealObj = meals.meals[dateKey];
              var actualMeals = mealObj.meals;
              var _dishes = [];
            actualMeals.forEach(function(meal){ meal.dishes.forEach(function(dish){
            if(!_dishes.includes(dish.id)){ _dishes.push(dish.id);
            %>
            <% if(tag === "chef"){%>
              <div data-prefs="<%= dish.preference ? Object.keys(dish.preference).length : 0%>" data-cover-string="<%= meal.coverString%>" data-taxrate="<%= meal.getTaxRate()%>" data-id="<%= dish.id%>" data-left-amount="<%= meal.leftQty[dish.id]%>" class="row dish dishItem py-2 mix item <%= meal.chef.shopName.replace(/ |\'/g,'')%> <%= dateKey.replace(" ",'').replace('/','')%>
                <% if(dish.tags){ dish.tags.forEach(function(t){%>
                  <%= " " + t%>
                <%})}%>" style="margin-left: -15px;margin-right: -15px;">
                <div class="col-5">
                  <div class="middle photo">
                    <% dish.photos.forEach(function(photo, index){ if(photo.v){%>
                      <a href="<%= photo.v %>" data-toggle="lightbox" data-title="<%= dish.titleI18n(locale)%>" data-footer="<%= dish.descriptionI18n(locale)%>" data-gallery="<%= dish.id%>" data-type="image">
                        <img data-echo="<%= index===0? photo.v : ''%>" class="rounded">
                      </a>
                    <% }});%>
                  </div>
                </div>
                <div class="col-7 vertical-align">
                  <div class="d-flex flex-column">
                    <h6 class="mb-auto" style="width: 135px;"><%= dish.title%>
                      <small>
                        <%= dish.quantity%><br/>
                        <span class="text-red"><%= __('ends')%> <%= meal.getTimeDiff(meal.provideTillTime, locale)%></span>
                      </small>
                    </h6>
                    <div class="d-flex vertical-align">
                      <div class="text text-price price mr-auto" data-extra=0 value="<%= dish.price%>" data-discount="<%= dish.discount || 0%>">
                        <% if(dish.discount){ %>
                          <s class='text-grey' style='font-size: small;'>$<%= (parseFloat(dish.price) + parseFloat(dish.discount)).toFixed(2)%></s><br/>$<%= dish.price.toFixed(2)%>
                        <% }else{ %>
                          $<%= dish.price.toFixed(2)%>
                        <% } %>
                      </div>
                      <button name="order-btn" style="width: 38px;height: 38px;" class="btn orange rounded-circle text-white font-weight-bold cursor-pointer" onclick="javascript:l.orderFood('<%= dish.id %>',1,true)">+</button>
                      <div name="input-group" class="input-group input-group-sm amount-input round ml-2 d-none" style="max-width:200px;" data-toggle="amount-input" data-customClickHandle="true" data-max="<%= meal.leftQty[dish.id]%>" data-dish="<%= dish.id%>">
                        <div class="input-group-prepend minus" onclick="javascript:l.orderFood('<%= dish.id %>',-1,true)">
                          <span class="input-group-text">-</span>
                        </div>
                        <input class="form-control text-center amount" type="number" pattern="[0-9]*" inputmode="numeric" value="0" readonly>
                        <div class="input-group-append add" onclick="javascript:l.orderFood('<%= dish.id %>',1,true)">
                          <span class="input-group-text">+</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% }}})})})}});%>
        </div>
        <div id="dishContentView" style="padding-bottom:55px;">
            <% tags.forEach(function(tag){ if(tag !== "chef"){ %>
              <div class="pl-4 text-center light-grey row" style="font-weight: lighter;height: 43px;" id="<%= tag.replace("'","").replace(" ","")%>">
                <h6 class="middle" style="min-width: 80px;"><%= __(tag)%></h6>
              </div>
              <%
                var dateList = Object.keys(meals.meals);
                dateList.forEach(function(dateKey){
                var mealObj = meals.meals[dateKey];
                var actualMeals = mealObj.meals;
                var _dishes = [];
                actualMeals.forEach(function(meal){ meal.dishes.forEach(function(dish){
                if(!_dishes.includes(dish.id)){ _dishes.push(dish.id);
              %>
                <% if(dish.type === tag || (dish.tags && dish.tags.includes(tag))){ %>
                  <div data-prefs="<%= dish.preference ? Object.keys(dish.preference).length : 0%>" data-coverstring="<%= meal.coverString%>" data-taxrate="<%= meal.getTaxRate()%>" data-id="<%= dish.id%>" data-left-amount="<%= meal.leftQty[dish.id]%>" class="row dish dishItem py-2 mix item <%= meal.chef.shopName.replace("'","").replace(" ","")%> <%= dateKey.replace(" ",'').replace('/','')%>
                    <% if(dish.tags){ dish.tags.forEach(function(t){%>
                      <%= " " + t%>
                    <%})}%>">
                    <div class="col-5">
                      <div class="middle photo">
                        <% dish.photos.forEach(function(photo, index){ if(photo.v){%>
                          <a href="<%= photo.v %>" data-toggle="lightbox" data-title="<%= dish.titleI18n(locale)%>" data-footer="<%= dish.descriptionI18n(locale)%>" data-gallery="<%= dish.id%>" data-type="image">
                            <img data-echo="<%= index===0? photo.v : ''%>" class="rounded">
                          </a>
                        <% }});%>
                      </div>
                    </div>
                    <div class="col-7 vertical-align">
                      <div class="d-flex flex-column">
                        <h6 class="mb-auto" style="width: 135px;"><%= dish.title%>
                          <small>
                            <%= dish.quantity%><br/>
                            <span class="text-red"><%= __('ends')%> <%= meal.getTimeDiff(meal.provideTillTime, locale)%></span>
                          </small>
                        </h6>
                        <div class="d-flex vertical-align">
                          <div class="text text-price price mr-auto" data-extra=0 value="<%= dish.price%>" data-discount="<%= dish.discount || 0%>">
                            <% if(dish.discount){%>
                              <s class='text-grey' style='font-size: small;'>$<%= (parseFloat(dish.price) + parseFloat(dish.discount)).toFixed(2)%></s><br/>$<%= dish.price.toFixed(2)%>
                            <% }else{%>
                              $<%= dish.price.toFixed(2)%>
                            <% }%>
                          </div>
                          <button name="order-btn" style="width: 38px;height: 38px;" class="btn rounded-circle orange text-white font-weight-bold cursor-pointer" onclick="javascript:l.orderFood('<%= dish.id %>',1,true)">+</button>
                          <div name="input-group" class="input-group input-group-sm amount-input round ml-2 d-none" style="max-width:200px;" data-toggle="amount-input" data-customClickHandle="true" data-max="<%= meal.leftQty[dish.id]%>" data-dish="<%= dish.id%>">
                            <div class="input-group-prepend minus" onclick="javascript:l.orderFood('<%= dish.id %>',-1,true)">
                              <span class="input-group-text">-</span>
                            </div>
                            <input class="form-control text-center amount" type="number" pattern="[0-9]*" inputmode="numeric" value="0" readonly>
                            <div class="input-group-append add" onclick="javascript:l.orderFood('<%= dish.id %>',1,true)">
                              <span class="input-group-text">+</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% }}})})})}});%>
        </div>
        <div id="shoppingCartView" class="red text-white p-2 align-middle d-block w-100" style="line-height:50px;position: fixed;bottom: 0;left: 0;z-index:90;" onclick="javascript:location.href='#order'">
          <div class="d-flex justify-content-end vertical-align">
            <i class="fa fa-2x fa-angle-double-right"></i>
            <i class="fa fa-2x fa-angle-double-right mr-auto"></i>
            <button class="btn btn-outline-light mr-2" onclick="javascript:location.href='/cart'"><span class="order-preview mr-1"></span><i class="fa fa-shopping-cart"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/zh.dayOfMeal.bundle.js"></script>

