
<div class="container-fluid text-center" style="margin-top:-20px;">
  <div class="row">
    <div class="pure-banner vertical-align green">
      <div style="width: 600px;" class="middle banner-text">
        <div class="row vertical-align" style="margin-bottom: 5px;">
          <div class="col-sm-3 relative text-left">
            <a href="/" class="logo logo-sm"></a>
          </div>
          <div class="col-sm-9">
            <h4 class="text-white"><strong><%= __('welcome') %></strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="default-container">
      <ul class="nav nav-tab-green nav-justified" style="padding: 20px;">
        <li><a href="/host/me#myorder"><h4><strong><%= __('host-nav-order') %></strong></h4></a></li>
        <li><a href="/host/me#mymeal"><h4><strong><%= __('host-nav-meal') %></strong></h4></a></li>
        <li class="active"><a href="/host/me#mydish"><h4><strong><%= __('host-nav-dish') %></strong></h4></a></li>
        <li><a href="/host/me#myinfo"><h4><strong><%= __('host-nav-info') %></strong></h4></a></li>
      </ul>

      <div id="dishNewView" style="padding: 5px 20px 50px 20px;">
        <div class="box box-shadow box-primary white text-left">
          <h4 class="text-green"><%= __('new-meal') %></h4>
          <h1></h1>
          <form data-id="<%= user.id %>">
            <div class="form-group">
              <label for="mealTitleInput">1.<%= __('') %></label>
              <input id="mealTitleInput" class="form-control" type="text" placeholder="<%= __('full-name') %>" maxlength="7" data-error="<%= __('full-name') %>" required>
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <label style="display: block;" for="">2.<%= __('') %></label>
              <div class="fileinput fileinput-new form-group" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                <div>
                  <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span>
                    <input id="photoInput-1" type="file" name="..." data-error="<%= __('need-photo') %>">
                  </span>
                  <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
                <div class="help-block with-errors text-red"></div>
              </div>
              <div class="fileinput fileinput-new form-group" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                <div>
                  <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span>
                    <input id="photoInput-2" type="file" name="...">
                  </span>
                  <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
              </div>
              <div class="fileinput fileinput-new form-group" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                <div>
                  <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span>
                    <input id="photoInput-3" type="file" name="...">
                  </span>
                  <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
              </div>
              <div class="alert alert-info"><%= __('need-three-photos') %></div>
            </div>

            <div class="form-group">
              <label for="priceInput">3.<%= __('how-much-for-one') %></label>
              <div class="input-group" style="width: 250px;">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" id="priceInput" placeholder="<%= __('dollar') %>" min="1" max="100" data-error="<%= __('price-incorrect') %>" required>
                <div class="input-group-addon">.00</div>
              </div>
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <label for="categoryInput"><%= __('what-kind') %></label>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle btn-outline" type="button" id="categoryInput" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="entree">
                  <%= __('main') %>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li class="active"><a value="entree"><%= __('main') %></a></li>
                  <li><a value="appetizer"><%= __('appetizer') %></a></li>
                  <li><a value="dessert"><%= __('dessert') %></a></li>
                </ul>
              </div>
            </div>

            <div class="form-group text-center">
              <button type="submit" class="btn btn-default btn-lg round text-white green"><%= __('save-and-submit') %></button>
              <div class="help-block with-errors"><%= __('24hours') %></div>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>
</div>

<script>
  $("#dishNewView form").validator({});
  new DishView({ el : $("#dishNewView"), model : new Dish()})
</script>
