
<div>
  <div class="row">
    <div class="pure-banner green">
      <div class="middle banner-text py-3">
        <div class="row vertical-align">
          <div class="col-lg-2"></div>
          <div class="col-5 col-lg-3">
            <img src="/images/welcome-1.png" style="width: 100%;">
          </div>
          <div class="col-2 col-lg-2">
            <a href="/" class="logo-slogan"></a>
          </div>
          <div class="col-5 col-lg-3">
            <img src="/images/welcome-2.png" style="width: 100%;">
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <ul class="nav nav-tabs nav-fill bg-light pt-3">
      <li class="nav-item"><a class="nav-link" href="/host/me#myorder"><%= __('host-nav-order') %></a></li>
      <li class="nav-item"><a class="nav-link" href="/host/me#mymeal"><%= __('host-nav-meal') %></a></li>
      <li class="nav-item"><a class="nav-link active" href="/host/me#mydish"><%= __('host-nav-dish') %></a></li>
      <li class="nav-item"><a class="nav-link" href="/host/me#myinfo"><%= __('host-nav-info') %></a></li>
    </ul>

    <div class="tab-content">
      <div id="dishNewView" class="tab-pane active m-auto">
        <div class="box box-shadow box-primary white text-left mb-4">
          <h4 class="text-green"><%= __('new-dish') %></h4>

          <form data-id="<%= user.id %>" data-toggle="validator" data-err-container=".submit">
            <div class="form-group">
              <label for="mealTitleInput">1.<%= __('dish-name') %></label>
              <a data-toggle="input-toggle" title="<%= __('toggle-language')%>"><i class="fa fa-refresh"></i></a>
              <input id="mealTitleInput" class="form-control" type="text" placeholder="<%= __('full-name') %>" maxlength="7" data-error="<%= __('full-name') %>" required>
              <input id="mealTitleInput-en" class="form-control" type="text" placeholder="<%= __('full-name-en') %>" maxlength="40" data-error="<%= __('full-name') %>">
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <label style="display: block;" for="">2.<%= __('photos') %> <span class="text-grey">(<%= __('photosTip')%>)</span></label>
              <div class="fileinput fileinput-new form-group" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="width: 200px; height: 150px;max-width: 200px;"></div>
                <div>
                  <span class="btn btn-default btn-file"><span class="fileinput-new"><%= __('select-image')%></span><span class="fileinput-exists"><%= __('change')%></span>
                    <input id="photoInput-1" type="file" data-strictImage=true name="...">
                  </span>
                  <a href="javascript:void(0);" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><%= __('remove')%></a>
                </div>
                <div class="help-block with-errors text-red"></div>
              </div>
              <div class="fileinput fileinput-new form-group" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="width: 200px; height: 150px;max-width: 200px;"></div>
                <div>
                  <span class="btn btn-default btn-file"><span class="fileinput-new"><%= __('select-image')%></span><span class="fileinput-exists"><%= __('change')%></span>
                    <input id="photoInput-2" type="file" data-strictImage=true name="...">
                  </span>
                  <a href="javascript:void(0);" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><%= __('remove')%></a>
                </div>
                <div class="help-block with-errors text-red"></div>
              </div>
              <div class="fileinput fileinput-new form-group" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="width: 200px; height: 150px;max-width: 200px;"></div>
                <div>
                  <span class="btn btn-default btn-file"><span class="fileinput-new"><%= __('select-image')%></span><span class="fileinput-exists"><%= __('change')%></span>
                    <input id="photoInput-3" type="file" data-strictImage=true name="...">
                  </span>
                  <a href="javascript:void(0);" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><%= __('remove')%></a>
                </div>
                <div class="help-block with-errors text-red"></div>
              </div>
              <div class="alert alert-info"><%= __('need-three-photos') %></div>
            </div>

            <div class="form-group">
              <label for="priceInput">3.<%= __('how-much-for-one') %></label>
              <div class="input-group" style="width: 250px;">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" id="priceInput" placeholder="<%= __('dollar') %>" min="1" max="100" data-error="<%= __('price-incorrect') %>" required>
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <label for="priceInput">4.<%= __('how-many-for-one') %></label>
              <div class="input-group" style="width: 250px;">
                <input type="text" class="form-control" id="quantityInput" placeholder="<%= __('fenliang') %>">
              </div>
            </div>

            <div class="form-group">
              <label for="categoryInput">5.<%= __('what-kind') %></label>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle btn-outline" type="button" id="categoryInput" data-toggle="dropdown" data-selected="true" aria-haspopup="true" aria-expanded="true" value="entree">
                  <%= __('main') %>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li class="active"><a href="javascript:void(0)" value="entree"><%= __('main') %></a></li>
                  <li><a href="javascript:void(0)" value="appetizer"><%= __('appetizer') %></a></li>
                  <li><a href="javascript:void(0)" value="dessert"><%= __('dessert') %></a></li>
                </ul>
              </div>
            </div>

            <div class="form-group">
              <label for="desciptionInput">6.<%= __('dish-description') %></label>
              <a data-toggle="input-toggle" title="<%= __('toggle-language')%>"><i class="fa fa-refresh"></i></a>
              <textarea class="form-control" id="descriptionInput" maxlength="200" style="height: 150px;"></textarea>
              <textarea class="form-control" id="descriptionInput-en" maxlength="800" style="height: 150px;"></textarea>
            </div>

            <div class="form-group variation">
              <label for="dishVariationInput">7.<%= __('dish-variation') %></label>
              <div class="currentVar">
              </div>
              <div class="dropdown">
                <a id="dishVariationInput" class="btn btn-default btn-outline dropdown-toggle" type="button" data-toggle="dropdown" data-selected="true" aria-haspopup="true" aria-expanded="true" value="">
                  <span><%= __('add-variation')%></span>
                  <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dLabel">
                  <a class="dropdown-item" href="javascript:void(0);" value="spicy"><%= __('spicy') %></a>
                  <a class="dropdown-item" href="javascript:void(0);" value="sweetness"><%= __('sweetness') %></a>
                  <a class="dropdown-item" href="javascript:void(0);" value="icy"><%= __('icy') %></a>
                  <a class="dropdown-item" href="javascript:void(0);" value="ingredient"><%= __('ingredient') %></a>
                  <a class="dropdown-item" href="javascript:void(0);" value="wellness"><%= __('wellness') %></a>
                  <a class="dropdown-item disabled"><%= __('cant-find-option')%></a>
                  <a class="dropdown-item" href="javascript:void(0);" value="custom"><%= __('add-custom-option')%></a>
                </div>
              </div>
              <div class="customVar"></div>
            </div>

            <div class="form-group">
              <label for="instagramInput">8.<%= __('dish-instagram') %></label>
              <input type="text" id="instagramInput" class="form-control">
            </div>

            <div class="form-group">
              <label for="isDynamicPriceOn">9.<%= __('is-dynamic') %></label><br/>
              <input class="form-control" type="checkbox" data-toggle="switch-button" id="isDynamicPriceOn">

              <div id="dynamicDishSettingView" class="form-group form-inline d-none">
                <div class="card my-2">
                  <div class="card-body">
                    <div class="input-group py-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><%= __('priceRate')%>:$</span>
                      </div>
                      <input type="number" class="form-control" id="priceRateInput" value=0>
                    </div>
                    <div class="input-group py-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><%= __('qtyRate')%></span>
                      </div>
                      <input type="number" class="form-control" id="qtyRateInput" value=0>
                    </div>
                    <div class="input-group py-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><%= __('minimalPrice')%>:$</span>
                      </div>
                      <input type="number" class="form-control" id="minimalPriceInput" value=0>
                    </div>
                  </div>
                </div>
              </div>

              <div class="alert alert-danger"></div>
            </div>

            <div class="form-group text-center submit">
              <button type="submit" class="btn btn-grey-green btn-lg round active"><%= __('save-and-submit') %></button>
              <div class="help-block with-errors"><%= __('24hours') %></div>
              <div class="alert alert-danger" data-toggle="alert"></div>
              <div class="alert alert-success"></div>
            </div>

          </form>

        </div>
      </div>
    </div>

  </div>

</div>

<script>
  new DishView({ el : $("#dishNewView"), model : new Dish()})
</script>
