<div class="footer text-center pt-5 pb-2">
  <div class="row">
    <div class="col">
      <div class="middle">
        <div class="qrcode">
          <img src="/images/qrcode.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="middle">
        <ul class="nav justify-content-center footer-nav">
          <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/SFMeal/"><i class="fab fa-facebook-f fa-2x"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:void(0)"><i class="icon-dot text-red" style="font-size: 30px;"></i></a> </li>
          <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/sfmeal/"><i class="fab fa-instagram fa-2x"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:void(0)"><i class="icon-dot text-red" style="font-size: 30px;"></i></a> </li>
          <li class="nav-item"><a class="nav-link" href="https://www.pinterest.com/sfmeal/"><i class="fab fa-pinterest-p fa-2x"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:void(0)"><i class="icon-dot text-red" style="font-size: 30px;"></i></a> </li>
          <li class="nav-item"><a class="nav-link" href="https://twitter.com/sfmeal"><i class="fab fa-twitter fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="middle">
        <div class="footer-text">
          <ul class="nav justify-content-center footer-nav">
            <li class="nav-item"><a class="nav-link" href="/help#aboutUs"><%= __('about-us')%></a></li>
            <li class="nav-item"><a class="nav-link" href="/help#contactUs"><%= __('contact-us')%></a></li>
            <li class="nav-item"><a class="nav-link" href="/terms#privacy"><%= __('privacy')%></a></li>
            <li class="nav-item"><a class="nav-link" href="/apply"><%= __('step1')%></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5 class="text-white"> <%= __('footer-bar-info')%></h5>
    </div>
  </div>

</div>
