
<div id="wrap">
  <header id="header" class="Fixed">
    <div class="inr">
      <p class="logo-home" href="http://sfmeal.com"><a href="http://sfmeal.com/"><img src="images/logo.png" alt="SFMeal.com"></a></p>
      <nav id="gNav">
        <ul>
          <li><a href="#anchor07"><span>Headline</span></a></li>
          <li><a href="#anchor03"><span>About us</span></a></li>
          <li><a href="#anchor04"><span>Chefs</span></a></li>
          <li><a href="#anchor05"><span>FAQ</span></a></li>
          <li><a href="#anchor06"><span>Contact</span></a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="spHeader">

    <div class="spHT">
      <p class="logo-home"><a href="http://sfmeal.com"><img src="images/logo.png"></a></p>
      <p style="font-weight: 900; line-height: 1.2; margin-left:-10px;">SFMeal.com<br>分享私房菜</p>
      <ul>
        <li><a href="http://sfmeal.com/meal"><span><%= __('see-menu')%> View menu</span></a></li>
      </ul>
    </div>
  </div>
  <!--▲▲/#HEADER ▲▲-->

  <div id="container">
    <div id="containerHd">
      <nav class="chNav">

        <ul>
          <li class="first"><a href="#anchor07">头条</a></li>
          <li class="even"><a href="#anchor03">关于我们</a></li>
          <li><a href="#anchor04">私厨故事</a></li>
          <li class="even"><a href="#anchor05">常见问题</a></li>
          <li class="last"><a href="#anchor06">联系我们</a></li>
        </ul>
      </nav>
      <div class="chBtns">
        <ul>
          <li class="even last"><a href="http://sfmeal.com/meal"><%= __('see-menu')%></a></li>
        </ul>
      </div>
    </div>
    <!--▲▲/#CONTAINERHD ▲▲-->

    <div id="contents">
      <div id="anchor07" style="height:2px"></div>
      <section class="topMv block-revealer" id="rev-1">
        <div class="block-revealer__content" style="opacity: 1;">
          <div class="mvArea">
            <div id="rev-11" class="block-revealer" style="position: relative;">
              <div class="block-revealer__content" style="opacity: 1;">
                <ul id="mvSlick">
                  <img src="images/mv01.png">
                </ul>
                <ul id="mvSlickSp">
                  <img src="images/mv01_sp.png">
                </ul>
              </div>
              <div class="block-revealer__element" style="transform: scaleX(0); transform-origin: 100% 50% 0px; background-color: rgb(135, 134, 103); opacity: 1;"></div>
            </div>
            <!--
            <article> <a href="#">
            <div class="img" style="background-image: url(images/sample_article.png);"></div>
            <dl>
            <dt>2018/00/00</dt>
            <dd>ダミーテキストが入ります。ここにダミーテキストが入ります。</dd>
            </dl>
            </a> </article>
            -->
            <p id="topMvSns">
              <a href="https://www.facebook.com/SFMeal/" target="_blank" title="Facebook" id="rev-2" class="block-revealer" style="position: relative;"><i class="fab fa-facebook-f fa-2x"></i></a>
              <a href="https://www.instagram.com/sfmeal/" target="_blank" title="Instagram" id="rev-3" class="block-revealer" style="position: relative;"><i class="fab fa-instagram fa-2x"></i></a>
            </p>
            <p id="topMvUtility">
              <a href="/terms" id="rev-4" class="block-revealer" style="position: relative;"><%= __('terms')%></a> / <a href="/terms#privacy" id="rev-5" class="block-revealer" style="position: relative;"><%= __('privacy')%></a>
            </p>
            <small id="rev-7" class="block-revealer"><div class="block-revealer__content" style="opacity: 1;">©2018 SFMeal.com - 北美私房菜分享平台</div><div class="block-revealer__element" style="transform: scaleX(0); transform-origin: 100% 50% 0px; background-color: rgb(105, 120, 120); opacity: 1;"></div></small> </div>
        </div><div class="block-revealer__element" style="transform: scaleX(0); transform-origin: 100% 50% 0px; background-color: rgb(238, 238, 238); opacity: 1;"></div></section>
      <!--/topMv -->

      <section id="anchor03" style="margin:0;">
        <section class="topMessage block-revealer" id="rev-20" style="position: relative; margin:0;">
          <div class="topMessageInr" id="aboutus">
            <p class="img block-revealer" id="rev-23">
              <img src="images/img_message.png" class="spHide">
              <img src="images/img_message_sp.png" class="spDisp" width="100%">
            </p>

            <p class="youCan">
              <span id="rev-21" style="display: inline-block; position: relative;" class="block-revealer">Core<br>Value<br></span>
            </p>

            <div class="dataArea">
              <p class="select block-revealer" id="rev-22">SFMeal
                <span>厨艺守破离</span>
              </p>

              <p class="line">
                <em id="rev-24" class="block-revealer" style="position: relative;"><span>苦苦“守”好中华传统美食之道。</span></em>
                <em id="rev-25" class="block-revealer" style="position: relative;"><span>将新思维融入实践，在“破”中完成超越。</span></em>
                <em id="rev-26" class="block-revealer" style="position: relative;"><span>豁达无畏地“离”开传统，超越传统。</span></em>
              </p>

              <h1 class="desc block-revealer" id="rev-27" style="position: relative;">
                <div style="max-width: 540px">作为一个北美私房菜分享平台，SFMeal极力寻找忠于中华地道传统美食的私厨，并鼓励他们使用北美当地肥美新鲜食材，结合中华传统的做法，如炒、爆、熘、炸、烹、煎、溻、贴、瓤、烧、焖、煨、焗、扒、烩、烤、盐焗、熏、泥烤、氽、炖、熬、煮、蒸、拔丝、蜜汁、糖水、涮等，再融入私厨自己的态度及灵魂，创作出一道道色香味俱全并堪称艺术的传统名肴。并将之免费送至各位吃货家中。</div>
              </h1>

              <p class="btn hover block-revealer" id="rev-28">
                <a href="http://sfmeal.com/meal"><img style="max-width: 400px" src="images/btn_01.png" alt="View menu"></a>
              </p>
            </div>

            <p class="messageP">关于我们 About us</p>

          </div>
        </section>
      </section>
      <!--/topMv -->

      <section class="topPlan" id="anchor04" style="margin:0;">
        <h2 class="topHead"> <span class="ja">私厨故事</span> <span class="en">CHEFS
</span> </h2>
        <div class="planBoxWrap">
          <div class="planBox hokende">
            <div class="img block-revealer" id="rev-30" style="position: relative;"><div class="block-revealer__content" style="opacity: 1;"></div><div class="block-revealer__element" style="transform: scaleX(0); transform-origin: 0px 50% 0px; background-color: rgb(247, 247, 247); opacity: 1;"></div></div>
            <div class="data block-revealer" id="rev-29" style="position: relative;"><div class="block-revealer__content" style="opacity: 1; transform: translateX(0px);">
                <div class="cell">
                  <h3> <span class="copy"><span>荣盛私房菜</span></span> <span class="ja">深海红龙小龙虾</span> <span class="en">SHENG</span> </h3>
                  <ul class="tag">
                    <li class="first">鲜活</li>
                    <li class="even">入味</li>
                    <li>正宗</li>
                    <li class="even last">干净</li>
                  </ul>
                  <p class="desc">十三香小龙虾，来源于盱眙，发明人是精通中药香料的徐建中。
                    徐建中世代开的是中药铺，于是他按照药理习性选了30多种草
                    药配上五香粉制作了盱眙十三香，从十三香炒田螺到十三香小
                    龙虾，盱眙风味小龙虾随着小龙虾的兴起风靡了半个中国。</p>
                  <p class="btn"><a href="http://sfmeal.com/meal" class="hover"><img src="images/btn_01.png" alt="查看菜单"></a></p>
                </div>
              </div><div class="block-revealer__element" style="transform: scaleX(0); transform-origin: 0px 50% 0px; background-color: rgb(247, 247, 247); opacity: 1;"></div></div>
          </div>
          <!--/planBox hokende -->

          <div class="planBox jihide">
            <div class="img block-revealer" id="rev-32" style="position: relative;"><div class="block-revealer__content" style="opacity: 1;"></div><div class="block-revealer__element" style="transform: scaleX(0); transform-origin: 100% 50% 0px; background-color: rgb(247, 247, 247); opacity: 1;"></div></div>
            <div class="data block-revealer" id="rev-31" style="position: relative;"><div class="block-revealer__content" style="opacity: 1; transform: translateX(0px);">
                <div class="cell">
                  <h3> <span class="copy"><span>阿震私房菜</span></span> <span class="ja">葱油拌面麻辣香锅冷锅串串</span> <span class="en">AZHEN</span> </h3>
                  <ul class="tag">
                    <li class="first">爽歪歪</li>
                    <li class="even">香</li>
                    <li class="even">上瘾</li>
                    <li class="last">葱油飘香</li>
                  </ul>
                  <p class="desc">说到底阿拉就是吃惯了上海最传统的葱油拌面. 值得庆幸的是，喊我回家吃饭的妈是做上海传统美食的，教会我如何制作地道的传统葱油拌面，虽然弄堂口的小摊消失了…家乡也变的遥不可及…至少我们还有美好的回忆和回忆里温暖的美食。</p>
                  <p class="btn"><a href="http://sfmeal.com/meal" class="hover"><img src="images/btn_01.png" alt="查看菜单"></a></p>
                </div>
              </div><div class="block-revealer__element" style="transform: scaleX(0); transform-origin: 100% 50% 0px; background-color: rgb(247, 247, 247); opacity: 1;"></div></div>
          </div>
          <!--/planBox jihide -->

          <div class="planBox jibunmo">
            <div class="img block-revealer" id="rev-34" style="position: relative;"><div class="block-revealer__content" style="opacity: 1;"></div><div class="block-revealer__element" style="transform: scaleX(0); transform-origin: 0px 50% 0px; background-color: rgb(247, 247, 247); opacity: 1;"></div></div>
            <div class="data block-revealer" id="rev-33" style="position: relative;"><div class="block-revealer__content" style="opacity: 1; transform: translateX(0px);">
                <div class="cell">
                  <h3> <span class="copy"><span>小满私房菜</span></span> <span class="ja">香蕉千层草莓千层芒果千层</span> <span class="en">XIAOMAN</span> </h3>
                  <ul class="tag">
                    <li class="first">清甜</li>
                    <li class="even">嫩滑</li>
                    <li>上瘾</li>
                    <li class="even last">正能量</li>
                  </ul>
                  <p class="desc">小满是一位硅谷设计师，全名叫满月，大家都叫她小满。她十分着迷于千层蛋糕并开始自己研究各种水果口味的千层。她坚持原料选最好的淡奶油、桂花糖，新鲜水果，绝不用罐头。因此她的千层蛋糕甜而不腻，让人百吃不厌。</p>
                  <p class="btn"><a href="http://sfmeal.com/meal" class="hover"><img src="images/btn_01.png" alt="查看菜单"></a></p>
                </div>
              </div><div class="block-revealer__element" style="transform: scaleX(0); transform-origin: 0px 50% 0px; background-color: rgb(247, 247, 247); opacity: 1;"></div></div>
          </div>
          <!--/planBox jibunmo -->

        </div>
        <!--/planBoxWrap -->
      </section>

      <div id="contents2">
        <section id="anchor05"></section>
        <section>
          <h1 class="head01"> <span class="ja">常见问题</span> <span class="en">FAQ</span> </h1>
          <div class="anchorBtn">
            <ul>
              <li class="first"><a href="#anchor01" class="hover"><%= __('foodie')%><i class="fas fa-angle-down d-block mt-4"></i></a></li>
              <li class="even last"><a href="#anchor02" class="hover"><%= __('chef')%><i class="fas fa-angle-down d-block mt-4"></i></a></li>
            </ul>
          </div>
        </section>
        <section id="anchor01">
          <h2 class="faqHead"><%= __('user')%></h2>
          <dl class="faqDl">
            <dt data-toggle="collapse" href="#q1">Question1</dt>
            <dd id="q1" class="collapse">
              <p>Answer1</p>
            </dd>
            <dt data-toggle="collapse" href="#q1">Question2</dt>
            <dd id="q2" class="collapse">
              <p>Answer2</p>
          </dl>
        </section>
        <section id="anchor02" class="last">
          <h2 class="faqHead"><%= __('chef')%></h2>
          <dl class="faqDl">
            <dt data-toggle="collapse" href="#q3">Question1</dt>
            <dd id="q3" class="collapse">
              <p>Answer1</p>
            </dd>
            <dt data-toggle="collapse" href="#q4">Question2</dt>
            <dd id="q4" class="collapse">
              <p>Answer2</p>
          </dl>
        </section>
      </div>
      <!--▲▲ FAQ ENDS ▲▲-->
      <!--YOUTUBE-->

      <section class="topSns last">
        <section id="anchor06"></section>
        <h2 class="topHead"> <span class="ja">联系我们</span> <span class="en">Contact</span> </h2>
        <ul>
          <li class="first"><img src="images/WechatIMG50.jpeg"></li>
          <p>客服/订单服务/在线帮助</p>
        </ul>
      </section>
      <!--/topSns -->

    </div>
    <!--▲▲/#CONTENTS ▲▲-->

    <footer id="footer">
      <small>©2018 SFMeal.com - 北美私房菜分享平台</small> </footer>
    <!--▲▲/#FOOTER ▲▲-->

  </div>
  <!--▲▲/#CONTAINER ▲▲-->

</div>
<!--▲▲/#WRAP ▲▲-->

<!--▲▲/#CONVERSION ▲▲-->

<!--DEFAULT JS-->
<!--[if lt IE 9]><script src="/lib/cmn_js/html5shiv-printshiv.js"></script><![endif]-->

<!--UNIQ SCRIPT-->
<script type="text/javascript" src="js/home/slick.js"></script>
<script>
  $(document).ready(function(){
    $('#mvSlick').slick({
      arrows:false,
      dots:true,
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 3000,
      fade: true
    });
    $('#mvSlickSp').slick({
      arrows:false,
      dots:true,
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
      fade: true
    });
  });
</script>
<script src="js/home/anime.min.js"></script>
<script src="js/home/scrollMonitor.js"></script>
<script src="js/home/main.js"></script>
<script src="js/home/top.js"></script>
