<div class="container default-container text-center relative" style="margin-top:-20px;background-color: #f2f2f2;">

  <div class="banner">
    <div class="img-wrapper row">
      <img src="/images/homecover-1.jpg" class="relative middle">
    </div>

    <div class="absolute logo-container">
      <div class="relative text-left">
        <a href="/" class="logo"></a>
      </div>

      <div class="relative text-left search-container" style="top: 20px;">
        <h4 class="text-white"><strong><%= __('searching-word')%></strong></h4>
        <div>
          <div class="btn-group">
            <input class="btn input round keyword" placeholder="<%= __('searching-tips')%>">
            <button class="btn btn-warning round text-white" onclick="search(this)">
              <i class="fa fa-search"></i>
              <%= __('search')%>
            </button>
          </div>
          <button class="btn btn-red round red" onclick="location.href='/meal'"><%= __('see-menu')%></button>
        </div>

      </div>
    </div>

    <div id="our-story" class="box-primary white absolute middle">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <h2><%= __('our-story')%></h2>
          <span class="divider"></span>
          <h4></h4>
          <h4 class="text-left"><small><%= __('sfmeal')%><br>
              <%= __('who-we-are')%><br>
              <%= __('introduction')%>
            </small>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div id="meal-container" class="container-fluid">
    <div class="row title">
      <h3><%= __('today-special')%><br><small>TODAY SPECIAL</small></h3>
      <button class="btn btn-red round relative" onclick="location.href='/meal'"><%= __('whole-menu')%></button>
    </div>

    <div class="row text-center">
        <%
        var monthDic = ["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"];
        for(var i=0; i< orders.length; i++) {
          var meal = orders[i];
          var featureDishId = meal.features;
          if(!featureDishId){
            var mainDish = meal.dishes[0];
          }else{
            var mainDish = meal.dishes.filter(function(dish){
              return dish.id == featureDishId
            })[0];
          }
          if(mainDish){
        %>

        <div class="meal col-md-6 col-lg-4 appetizer">
          <div class="box-grid white" style="overflow: hidden;">
            <div class="item-image">
              <i class="fa fa-heart fa-2x fav text-white" data-select="<% if(user && user.collects){%><%= user.isCollect(meal.id)%><%}%>" data-toggle="collect-item" data-meal="<%= meal.id%>" data-user="<%= user?user.id:user%>" data-heart="true"></i>
              <img class="photo" src= "<%= meal.coverString %>" data-meal="<%= meal.id %>" onclick="javascript:location.href='/meal/' + $(this).data('meal')">
            </div>
            <div class="col-md-6 basic-info">
              <div class="col-xs-12">
                <h3 class="text-red text-left">$<%= mainDish.price.toFixed(2) %><br>
                  <small><strong class="text-black"><%= mainDish.title %></strong> <span>( <%= mainDish.quantity || '1' + __('fen') %> )</span></small>
                </h3>
              </div>
            </div>
            <div class="col-md-6">
              <h3><small><%= __('left')%><%= meal.leftQty[mainDish.id] %><%= __('fen')%><br><%= __('order-nav-method')%></small></h3>
            </div>
            <div class="divider none-margin"></div>
            <div class="row vertical-align chef-cell">
              <div class="col-sm-3">
                <img class="round_thumb size-small" src=<%= meal.chef.picture || "/images/profile_man.png" %> onclick="javascript:location.href='/host/<%= meal.chef.id%>'">
              </div>
              <div class="col-sm-9">
                <h4 class="text-left text-dark"><%= meal.chef.shopName %><br><small><%= meal.chef.intro %></small></h4>
              </div>
            </div>
          </div>
        </div>
      <% }} %>
    </div>

    <div class="divider"></div>

    <div class="row title">
      <h3><%= __('preorder-special')%><br><small>PREORDER SPECIAL</small></h3>
      <button class="btn btn-default round red text-white relative" onclick="location.href='/meal'"><%= __('whole-menu')%></button>
    </div>

    <%
    var monthDic = ["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"];
    for(var i=0; i< preorders.length; i++) {
      var meal = preorders[i];
      var featureDishId = meal.features;
      if(!featureDishId){
        var mainDish = meal.dishes[0];
      }else{
        var mainDish = meal.dishes.filter(function(dish){
          return dish.id == featureDishId
        })[0];
      }
      if(mainDish){
    %>

    <div class="box-wrapper">
      <div class="preorder-box meal preorder">
        <div class="row vertical-align chef-cell">
          <div class="col-md-1 text-left">
            <img class="round_thumb size-small" src=<%= meal.chef.picture || "/images/profile_man.png" %> onclick="javascript:location.href='/host/<%= meal.chef.id%>'">
          </div>
          <div class="col-md-11">
            <h4 class="text-left text-dark"><%= meal.chef.shopName %><br><small><%= meal.chef.intro %></small></h4>
          </div>
        </div>

        <div class="row box-grid white">
          <div class="col-sm-4 overflow-hidden none-padding">
            <i class="fa fa-heart fa-2x fav text-white" data-select="<% if(user && user.collects){%><%= user.isCollect(meal.id)%><%}%>" data-toggle="collect-item" data-meal="<%= meal.id%>" data-user="<%= user?user.id:user%>" data-heart="true"></i>
            <img class="photo" src=<%= meal.coverString %> data-meal="<%= meal.id %>" onclick="javascript:location.href='/meal/' + $(this).data('meal')">
            <h1 class="desc absolute text-white middle font-elegant"><strong><%= meal.provideFromTime.getDate() %><br><%= monthDic[meal.provideFromTime.getMonth()] %><br><%= meal.provideFromTime.getFullYear() %></strong></h1>

          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-xs-4">
                <h3 class="text-red">$<%= mainDish.price.toFixed(2) %></h3>
              </div>
              <div class="col-xs-5">
                <h3 class="text-left"><small class="text-black"><%= mainDish.title %></small></h3>
              </div>
              <div class="col-xs-3">
                <h3><small><%=  __('self-pickup') + (meal.isDelivery ? ("/" + __('delivery')) : '')%></small></h3>
              </div>
            </div>

            <div class="divider"></div>
            <h4 class="text-left"><small><%= mainDish.description %></small></h4>
          </div>
        </div>
      </div>
    </div>

    <% }}%>

  </div>


</div>
