<link href="/assets/host.css" rel="stylesheet">
<div class="bg-light">
  <div class="d-flex justify-content-center pure-banner vertical-align red p-4">
    <div class="cursor-pointer mr-4">
      <a href="/" class="logo" style="left: 0;"></a>
    </div>
    <div>
      <h3 class="text-white text-left none-margin"><strong><%= __('nav-bar-host')%></strong></h3>
    </div>
  </div>

  <div class="container">
    <% if(!user.host.passGuide){%>
    <div class="col-12 box">
      <div class="alert alert-info"><%= __('host-guide-title')%><a class="btn btn-info" style="margin-left:10px;" href="/apply"><%= __('host-guide-btn')%></a></div>
    </div>
    <%}else if(!user.host.dishVerifying){%>
    <div class="col-12 box">
      <div class="alert alert-info"><%= __('host-guide-title2')%></div>
    </div>
    <%}%>

    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs nav-fill bg-light pt-3">
          <li class="nav-item"><a class="nav-link active" data-toggle="tab" data-href="#myorder"><%= __('host-nav-order')%><span class="ml-1 badge badge-info pull-right"><%= user.host.host_orders.filter(function(order){return order && order.status !== "cancel" && order.status !== "review" && order.status !== "complete" && order.meal}).length || '' %></span></a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" data-href="#mymeal"><%= __('host-nav-meal')%></a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" data-href="#mydish"><%= __('host-nav-dish')%></a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" data-href="#myinfo"><%= __('host-nav-info')%></a></li>
        </ul>
      </div>
    </div>

    <div class="row tab-content" style="min-height:500px;">
      <div id="myorder" class="tab-pane active w-100">
        <div class="box box-base box-shadow white">
          <ul class="nav nav-pills nav-justified p-3">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" data-href="#myorder-order"><%= __('order-nav-order')%><span class="ml-1 badge badge-info pull-right"><%= user.host.host_orders.filter(function(order){return order && order.status !== "cancel" && order.status !== "review" && order.status !== "complete" && order.type === "order" && order.meal}).length || '' %></span></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" data-href="#myorder-preorder"><%= __('order-nav-preorder')%><span class="ml-1 badge badge-info pull-right"><%= user.host.host_orders.filter(function(order){return order && order.status !== "cancel" && order.status !== "review" && order.status !== "complete" && order.type === "preorder" && order.meal}).length || '' %></span></a></li>
          </ul>
          <div class="tab-content">
            <div id="myorder-order" class="tab-pane middle active">
              <% var tabsData = [
                { id : "order-preparing", title : "order-nav-preparing", status : "preparing", type : "order"},
                { id : "order-holding", title : "order-nav-waiting", status : "holding", type : "order"},
                { id : "order-prepared", title : "order-nav-prepared", status : "ready", type : "order"},
                { id : "order-delivered", title : "order-nav-delivered", status : "review", type : "order"},
                { id : "order-reviewed", title : "order-nav-reviewed", status : "complete", type : "order"},
                { id : "order-all", title : "order-nav-all", status : "all", type : "order"}
              ];%>
              <ul class="nav nav-tabs my-2">
                <% tabsData.forEach(function(tabData, i){%>
                <li class="nav-item"><a data-toggle="tab" data-href="#<%= tabData.id%>" class="nav-link text-dark <%= i===0?'active':''%>"><strong><%= __(tabData.title)%></strong><span class="ml-1 badge badge-info pull-right"><%= user.host.host_orders.filter(function(order){return order && order.status === tabData.status && order.status !== "review" && order.type === tabData.type && order.meal}).length || ''%></span></a></li>
                <% });%>
              </ul>
              <div class="tab-content box-scroll">
                <% tabsData.forEach(function(tabData, i){%>
                <div id="<%= tabData.id%>" class="tab-pane middle <%= i===0?'active':''%>">
                  <table class="table table-bordered table-vertical-middle" style="width: 100%;">
                    <thead>
                    <tr>
                      <td class="xs-hide"><%= __('photo')%></td>
                      <td><%= __('meal')%></td>
                      <td><%= __('price')%></td>
                      <td><%= __('quantity')%></td>
                      <td><%= __('paid-amount')%></td>
                      <td><%= __('status')%></td>
                      <td><%= __('action')%></td>
                    </tr>
                    </thead>
                    <%
                      var host = user.host;
                    host.host_orders.forEach(function(order){
                    if(order && order.type===tabData.type && (
                      (tabData.status === "holding" &&
                        (order.status === "pending-payment" ||
                        (order.isSendToHost && (order.status == "adjust" || order.status == "cancelling")))
                      )
                      || order.status===tabData.status || tabData.status === "all")){
                    %>
                    <tbody class="item">
                    <% if(order.pickupInfo){%>
                    <tr class="warning">
                      <td align="left" colspan="7">&nbsp&nbsp&nbsp&nbsp&nbsp<b><%= __('pickup-time')%></b>: <span data-toggle="time-span" data-format="date" data-from="<%= order.pickupInfo.pickupFromTime%>" data-to="<%= order.pickupInfo.pickupTillTime%>"></span><br/>
                        &nbsp&nbsp&nbsp&nbsp&nbsp<b><%= __('pickup-location')%></b>: <%= order.method == 'pickup' ? order.pickupInfo.location : order.contactInfo.address %><br/>
                        &nbsp&nbsp&nbsp&nbsp&nbsp<b><%= __('pickup-method')%></b>: <%= __(order.method)%>&nbsp&nbsp&nbsp&nbsp&nbsp<b><%= __('payment-method')%></b>: <%= order.paymentMethod ? __(order.paymentMethod) : ''%><br/>
                        &nbsp&nbsp&nbsp&nbsp&nbsp<b><%= __('order-number')%></b>: <%= order.id%>&nbsp&nbsp&nbsp&nbsp&nbsp<b><%= __('user')%></b>: <%= order.customerName || __('user')%> &nbsp&nbsp&nbsp&nbsp&nbsp<b><%= __('contact')%></b>:<%= order.customerPhone%></td>
                    </tr>
                    <%}%>
                    <%
                      var list = Object.keys(order.orders);
                      var dishes = host.host_dishes;
                      var index = -1;
                    list.forEach(function(key){
                      var dishOrdered = order.orders[key];
                      var price = parseFloat(dishOrdered.price);
                      var number = dishOrdered.number;
                      var preference = dishOrdered.preference || [];
                      if(!preference.length){preference = [preference];}
                      var extra = preference.reduce(function(total,next){
                        return total + parseInt(next.extra);
                      },0);
                      if(order.status=="adjust") {
                        if(!order.adjusting_orders[key]){
                          return;
                        }
                        var adjustingNumber = order.adjusting_orders[key].number;
                      }
                      if(number == 0 && (adjustingNumber == 0 || !adjustingNumber)){
                        return;
                      }

                    dishes.forEach(function(dish){
                    if(dish.id == key){
                      index++;

                    %>
                    <tr>
                      <td class="xs-hide"><img src="<%= dish.photos[0].v%>" style="width: 150px;"></td>
                      <td><%= dish.title%></td>
                      <td>
                        $<%= price ? price.toFixed(2) : dish.price.toFixed(2)%><br/>
                        <% if(extra){%>
                        (+$<%= extra.toFixed(2)%>)<br/>
                        <% }%>
                        <% if(preference && preference.length && preference[0].property && preference[0].property.length){%>
                          <a data-target="#myModal" toggle="modal" href="javascript:void(0)" onclick="javascript:h.toggleModal(event, appObj.orderView.enterDishPreference)" data-preference="<%= JSON.stringify(preference)%>" data-model="dish" data-action="preference"><%= __('preference')%></a>
                        <% }%>
                      </td>
                      <td><% if(order.status=="adjust"){
                          if(!order.adjusting_orders[key]){
                            return;
                          }
                          var adjustingNumber = order.adjusting_orders[key].number;
                        if(adjustingNumber != number){%>
                        <%= number%> to <strong><%= adjustingNumber%></strong>
                        <%}else{%>
                        <%= number%>
                        <%}}else{%>
                        <%= number%>
                        <%}%><br/><span class="preference"><%= preference.property || ''%></span></td>
                      <%if(index==0){%>
                      <td rowspan="<%= list.length%>" style="vertical-align: middle;"><b style="text-decoration: <%= order.status == "cancel" ? "line-through" : "none"%>">$<%= (order.subtotal + order.tax/100 + order.delivery_fee - order.discount + order.serviceFee).toFixed(2)%></b> (<%= __('service-fee')%>: $<%= order.serviceFee%> + <%= __('tax')%>: $<%= order.tax/100%> + <%= __('delivery-fee')%>: $<%= order.delivery_fee.toFixed(2)%> - <%= __('discount-amount')%>: $<%= order.discount.toFixed(2)%>)</td>
                      <td rowspan="<%= list.length%>" style="vertical-align: middle;"><%= __(order.status)%></td>
                      <td class="minWid50" rowspan="<%= list.length%>" style="vertical-align: middle;">
                        <% if(order.status == "schedule"){ %>
                        <a href="javascript:void(0)" data-toggle="popover" data-title="<%= order.customerName || __('user')%>" data-placement="bottom" data-content="<%= order.customerPhone %>"><%= __('contact-user')%></a>
                        <%}else if(order.status === "pending-payment"){%>
                        <a href="javascript:void(0)" data-action="deleteOrder" data-order="<%= order.id%>"><%= __('deleteOrder')%></a>
                        <%}else if(order.isSendToHost && (order.status == "adjust" || order.status == "cancelling")) {%>
                        <a href="javascript:void(0)" data-action="confirm" data-order="<%= order.id%>"><%= __('confirm')%></a><br/>
                        <a href="javascript:void(0)" data-toggle="alert-button" data-title="<%= __('reject-reason')%>" data-content="<%= __('reason')%>" data-actionFn="javascript:appObj.orderView.reject" data-argument="<%= order.id%>" data-container="#myorder-order"><%= __('reject')%></a><br/>
                        <a href="javascript:void(0)" data-toggle="popover" data-title="<%= order.customerName || __('user')%>" data-placement="bottom" data-content="<%= order.customerPhone %>"><%= __('contact-user')%></a>
                        <%}else if(order.status == "preparing"){%>
                        <a href="javascript:void(0)" data-action="ready" data-order="<%= order.id%>"><%= __('complete')%></a><br/>
                        <a data-target="#myModal" toggle="modal" href="javascript:void(0)" onclick="javascript:h.toggleModal(event)" data-href="/order/<%= order.id%>/adjust-form"><%= __('adjust')%></a><br/>
                        <a href="javascript:void(0)" data-toggle="popover" data-title="<%= order.customerName || __('user')%>" data-placement="bottom" data-content="<%= order.customerPhone %>"><%= __('contact-user')%></a>
                        <%}else if(order.status == "ready"){%>
                        <a href="javascript:void(0)" data-action="receive" data-order="<%= order.id%>"><%= __('confirm-pickup')%></a><br/>
                        <% if(order.method == 'delivery'){%>
                        <a href="javascript:void(0)" data-toggle="popover" data-title="<%= order.customerName || __('user')%>" data-placement="top" data-content="<%= order.contactInfo.address%>"><%= __('see-address')%></a><br/>
                        <%}else if(order.method === 'shipping'){%>?"""""

                        <a href="javascript:void(0)" data-toggle="alert-button" data-action="tracking" data-title="<%= __('tracking')%>" data-content="<%= __('tracking')%>" data-actionFn="javascript:appObj.orderView.tracking" data-argument="<%= order.id%>" data-container="#myorder-preorder"><%= __('Enter-tracking')%></a>
                        <%}%>
                        <a href="javascript:void(0)" data-toggle="popover" data-title="<%= order.customerName || __('user')%>" data-placement="bottom" data-content="<%= order.customerPhone %>"><%= __('contact-user')%></a>
                        <%}else if(order.status == "review"){%>
                        <% if(order.method == 'delivery'){%>
                        <a href="javascript:void(0)" data-toggle="popover" data-title="<%= order.customerName || __('user')%>" data-placement="top" data-content="<%= order.contactInfo.address%>"><%= __('see-address')%></a><br/>
                        <%}%>
                        <a href="javascript:void(0)" data-toggle="popover" data-title="<%= order.customerName || __('user')%>" data-placement="bottom" data-content="<%= order.customerPhone %>"><%= __('contact-user')%></a><br/>
                        <%}else if(order.status == "complete"){%>
                        <a href="/host/public/<%= order.host%>"><%= __('see-review')%></a><br/>
                        <%}%>
                        <a href="/order/<%= order.id%>/receipt" target="__blank"><%= __('view-receipt')%></a>
                      </td>
                    </tr>
                    <%}%>
                    <%}})})%>
                    </tbody>
                    <%}})%>
                  </table>
                  <nav>
                    <ul class="pagination pagination-green pagination-sm" data-trigger="pagination" data-target="#<%= tabData.id%>"></ul>
                  </nav>
                </div>
                <% });%>
              </div>
            </div>

            <div id="myorder-preorder" class="tab-pane middle">
              <% tabsData = [
                { id : "preorder-schedule", title : "order-nav-schedule", status : "schedule", type : "preorder"},
                { id : "preorder-holding", title : "order-nav-waiting", status : "holding", type : "preorder"},
                { id : "preorder-preparing", title : "order-nav-preparing", status : "preparing", type : "preorder"},
                { id : "preorder-prepared", title : "order-nav-prepared", status : "ready", type : "preorder"},
                { id : "preorder-delivered", title : "order-nav-delivered", status : "review", type : "preorder"},
                { id : "preorder-reviewed", title : "order-nav-reviewed", status : "complete", type : "preorder"},
                { id : "preorder-all", title : "order-nav-all", status : "all", type : "preorder"}
              ];%>
              <ul class="nav nav-tabs my-2">
                <% tabsData.forEach(function(tabData, i){%>
                <li class="nav-item"><a data-toggle="tab" data-href="#<%= tabData.id%>" class="nav-link text-dark <%= i===0?'active':''%>"><strong><%= __(tabData.title)%></strong><span class="ml-1 badge badge-info pull-right"><%= user.host.host_orders.filter(function(order){return order && order.status === tabData.status && order.status !== "review" && order.type === tabData.type && order.meal}).length || ''%></span></a></li>
                <% });%>
              </ul>
              <div class="tab-content box-scroll">
                <% tabsData.forEach(function(tabData, i){%>

                <div id="<%= tabData.id%>" class="tab-pane middle <%= i===0?'active':''%>">
                  <table class="table table-bordered table-vertical-middle" style="width: 100%;">
                    <thead>
                    <tr>
                      <td class="xs-hide"><%= __('photo')%></td>
                      <td><%= __('meal')%></td>
                      <td><%= __('price')%></td>
                      <td><%= __('quantity')%></td>
                      <td><%= __('paid-amount')%></td>
                      <td><%= __('status')%></td>
                      <td><%= __('action')%></td>
                    </tr>
                    </thead>
                    <%
                      var host = user.host;
                    host.host_orders.forEach(function(order){
                    if(order && order.type===tabData.type && (
                      (tabData.status === "holding" &&
                        (order.status === "pending-payment" ||
                        (order.isSendToHost && (order.status == "adjust" || order.status == "cancelling")))
                      )
                      || order.status===tabData.status || tabData.status === "all")){
                    %>
                    <tbody class="item">
                    <% if(order.pickupInfo){%>
                    <tr class="warning">
                      <td align="left" colspan="7">&nbsp&nbsp&nbsp&nbsp&nbsp<b><%= __('pickup-time')%></b>: <span data-toggle="time-span" data-format="date" data-from="<%= order.pickupInfo.pickupFromTime%>" data-to="<%= order.pickupInfo.pickupTillTime%>"></span><br/>
                        &nbsp&nbsp&nbsp&nbsp&nbsp<b><%= __('pickup-location')%></b>: <%= order.method == 'pickup' ? order.pickupInfo.location : order.contactInfo.address %><br/>
                        &nbsp&nbsp&nbsp&nbsp&nbsp<b><%= __('pickup-method')%></b>: <%= __(order.method)%>&nbsp&nbsp&nbsp&nbsp&nbsp<b><%= __('payment-method')%></b>: <%= order.paymentMethod ? __(order.paymentMethod) : ''%><br/>
                        &nbsp&nbsp&nbsp&nbsp&nbsp<b><%= __('order-number')%></b>: <%= order.id%>&nbsp&nbsp&nbsp&nbsp&nbsp<b><%= __('user')%></b>: <%= order.customerName || __('user')%> &nbsp&nbsp&nbsp&nbsp&nbsp<b><%= __('contact')%></b>:<%= order.customerPhone%></td>
                    </tr>
                    <%}%>
                    <%
                      var list = Object.keys(order.orders);
                      var dishes = host.host_dishes;
                      var index = -1;
                    list.forEach(function(key){
                      var dishOrdered = order.orders[key];
                      var price = parseFloat(dishOrdered.price);
                      var number = dishOrdered.number;
                      var preference = dishOrdered.preference || [];
                      if(!preference.length){preference = [preference];}
                      var extra = preference.reduce(function(total,next){
                        return total + parseInt(next.extra);
                      },0);
                      if(order.status=="adjust") {
                        if(!order.adjusting_orders[key]){
                          return;
                        }
                        var adjustingNumber = order.adjusting_orders[key].number;
                      }
                      if(number == 0 && (adjustingNumber == 0 || !adjustingNumber)){
                        return;
                      }
                    dishes.forEach(function(dish){
                    if(dish.id === key){
                      index++;
                    %>
                    <tr>
                      <td class="xs-hide"><img src="<%= dish.photos[0].v%>" style="width: 150px;"></td>
                      <td><%= dish.title%></td>
                      <td>
                        <%= price ? price.toFixed(2) : dish.price.toFixed(2)%><br/>
                        <% if(extra){%>
                        (+$<%= extra.toFixed(2)%>)<br/>
                        <% }%>
                        <% if(preference && preference.length && preference[0].property && preference[0].property.length){%>
                          <a data-target="#myModal" toggle="modal" href="javascript:void(0)" onclick="javascript:h.toggleModal(event, appObj.orderView.enterDishPreference)" data-preference="<%= JSON.stringify(preference)%>" data-model="dish" data-action="preference"><%= __('preference')%></a>
                        <% }%>
                      </td>
                      <td><% if(order.status=="adjust"){
                          if(!order.adjusting_orders[key]){
                            return;
                          }
                          var adjustingNumber = order.adjusting_orders[key].number;
                        if(adjustingNumber != number){%>
                        <%= number%> to <strong><%= adjustingNumber%></strong>
                        <%}else{%>
                        <%= number%>
                        <%}}else{%>
                        <%= number%>
                        <%}%><br/><span class="preference"><%= preference.property || ""%></span></td>
                      <%if(index==0){%>
                      <td rowspan="<%= list.length%>" style="vertical-align: middle;"><b style="text-decoration: <%= order.status == "cancel" ? "line-through" : "none"%>">$<%= (order.subtotal + order.tax/100 + order.delivery_fee - order.discount + order.serviceFee).toFixed(2)%></b> (<%= __('service-fee')%>: $<%= order.serviceFee%> + <%= __('tax')%>: $<%= order.tax/100 %> + <%= __('delivery-fee')%>: $<%= order.delivery_fee.toFixed(2)%> - <%= __('discount-amount')%>: $<%= order.discount.toFixed(2)%>)</td>
                      <td rowspan="<%= list.length%>" style="vertical-align: middle;"><%= __(order.status)%></td>
                      <td class="minWid50" rowspan="<%= list.length%>" style="vertical-align: middle;">
                        <% if(order.status === "schedule"){ %>
                        <a href="javascript:void(0)" data-toggle="popover" data-title="<%= order.customerName || __('user')%>" data-placement="bottom" data-content="<%= order.customerPhone %>"><%= __('contact-user')%></a>
                        <%}else if(order.status === "pending-payment"){%>
                        <a href="javascript:void(0)" data-action="deleteOrder" data-order="<%= order.id%>"><%= __('deleteOrder')%></a>
                        <%}else if(order.isSendToHost && (order.status == "adjust" || order.status == "cancelling")) {%>
                        <a href="javascript:void(0)" data-action="confirm" data-order="<%= order.id%>"><%= __('confirm')%></a><br/>
                        <a href="javascript:void(0)" data-toggle="alert-button" data-title="<%= __('reject-reason')%>" data-content="<%= __('reason')%>" data-actionFn="javascript:appObj.orderView.reject" data-argument="<%= order.id%>" data-container="#myorder-preorder"><%= __('reject')%></a><br/>
                        <a href="#"><%= __('contact-user')%></a>
                        <%}else if(order.status == "preparing"){%>
                        <a href="javascript:void(0)" data-action="ready" data-success-text="<%= __('readied')%>" data-order="<%= order.id%>"><%= __('complete')%></a><br/>
                        <a data-target="#myModal" toggle="modal" href="javascript:void(0)" onclick="javascript:h.toggleModal(event)" data-href="/order/<%= order.id%>/adjust-form"><%= __('adjust')%></a><br/>
                        <a href="javascript:void(0)" data-toggle="popover" data-title="<%= order.customerName || __('user')%>" data-placement="bottom" data-content="<%= order.customerPhone %>"><%= __('contact-user')%></a>
                        <%}else if(order.status == "ready"){%>
                        <a href="javascript:void(0)" data-action="receive" data-success-text="<%= __('received')%>" data-order="<%= order.id%>"><%= __('confirm-pickup')%></a><br/>
                        <% if(order.method == 'delivery'){%>
                        <a href="javascript:void(0)" data-toggle="popover" data-title="<%= order.customerName || __('user')%>" data-placement="top" data-content="<%= order.contactInfo.address%>"><%= __('see-address')%></a><br/>
                        <%}else if(order.method === "shipping"){%>
                              <a href="javascript:void(0)" data-toggle="alert-button" data-action="tracking" data-title="<%= __('tracking')%>" data-content="<%= __('tracking')%>" data-actionFn="javascript:appObj.orderView.tracking" data-argument="<%= order.id%>" data-container="#myorder-preorder"><%= __('Enter-tracking')%></a>
                        <% }%>
                        <a href="javascript:void(0)" data-toggle="popover" data-title="<%= order.customerName || __('user')%>" data-placement="bottom" data-content="<%= order.customerPhone %>"><%= __('contact-user')%></a>
                        <%}else if(order.status == "review"){%>
                        <% if(order.method == 'delivery'){%>
                        <a href="javascript:void(0)" data-toggle="popover" data-title="<%= order.customerName || __('user')%>" data-placement="top" data-content="<%= order.contactInfo.address%>"><%= __('see-address')%></a><br/>
                        <%}%>
                        <a href="javascript:void(0)" data-toggle="popover" data-title="<%= order.customerName || __('user')%>" data-placement="bottom" data-content="<%= order.customerPhone %>"><%= __('contact-user')%></a>
                        <%}else if(order.status == "complete"){%>
                        <a href="/host/public/<%= order.host%>"><%= __('see-review')%></a>
                        <%}%>
                        <a href="/order/<%= order.id%>/receipt" target="__blank"><%= __('view-receipt')%></a>
                      </td>
                    </tr>
                    <%}}})})%>
                    </tbody>
                    <%}})%>
                  </table>
                  <nav>
                    <ul class="pagination pagination-green pagination-sm" data-trigger="pagination" data-target="#<%= tabData.id%>"></ul>
                  </nav>
                </div>
                <% });%>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="mymeal" class="tab-pane w-100">
        <div class="box box-shadow white">
          <div class="row">
            <div class="col-12 vertical-align">
              <button class="btn btn-green btn-lg middle" onclick="location.href='/host/me/createMeal'"><strong style="font-size: 16px;"><%= __('add-new')%>Meal</strong></button>
              <i class="fas fa-question-circle fa-2x text-lightgrey cursor-pointer"></i>
            </div>
          </div>
          <ul class="nav nav-tabs" style="margin-top: 20px;margin-bottom: 10px;">
            <li class="active"><a data-toggle="tab" href="#allmeals" class="btn-lg text-dark"><strong><%= __('meal-nav-all')%></strong></a></li>
            <li><a data-toggle="tab" href="#livemeals" class="btn-lg text-dark"><strong><%= __('meal-nav-published')%></strong></a></li>
            <li><a data-toggle="tab" href="#ongoingmeals" class="btn-lg text-dark"><strong><%= __('meal-nav-waiting')%></strong></a></li>
            <li><a data-toggle="tab" href="#offmeals" class="btn-lg text-dark"><strong><%= __('meal-nav-offline')%></strong></a></li>
          </ul>
          <div class="box-scroll tab-content" style="padding-top: 20px;padding-bottom: 60px;">
            <div id="allmeals" class="tab-pane middle active">
              <table id="allmeals-content" class="table table-bordered table-vertical-middle" style="width: 100%;">
                <thead>
                <tr>
                  <td><%= __('photo')%></td>
                  <td><%= __('score')%></td>
                  <td><%= __('reviewed')%> <i class="fas fa-question-circle"></i></td>
                  <td><%= __('status')%> <i class="fas fa-question-circle"></i></td>
                  <td><%= __('action')%> <i class="fas fa-question-circle"></i></td>
                  <td><%= __('on/off')%> <i class="fas fa-question-circle"></i></td>
                </tr>
                </thead>
                <%
                var meals = user.host.meals;
                if(meals && meals.length > 0){
                for(var j=0; j < meals.length; j++){
                  var meal = meals[j];
                %>
                <tbody class="item">
                <tr class="success">
                  <% if(meal.type=="order"){%>
                  <td align="left" colspan="6"><%= __('last-update-time')%><%= meal.updatedAt%> &nbsp&nbsp&nbsp&nbsp&nbsp<%= __('method-order')%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('provide-time')%> <span data-toggle="time-span" data-format="hourly" data-from="<%= meal.provideFromTime%>" data-to="<%= meal.provideTillTime%>"></span></td>
                  <%}else{%>
                  <td align="left" colspan="6"><%= __('last-update-time')%><%= meal.updatedAt%> &nbsp&nbsp&nbsp&nbsp&nbsp<%= __('method-preorder')%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('book-time')%> <span data-toggle="time-span" data-format="hourly" data-from="<%= meal.provideFromTime%>" data-to="<%= meal.provideTillTime%>"></span>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('pickup-time')%>&nbsp <span data-toggle="time-span" data-format="day" data-date="<%= meal.pickups[0].pickupFromTime%>"></span></td>
                  <%}%>
                </tr>
                <tr>
                  <td><img class="cursor-pointer" src="<%= meal.coverString || '/images/food_default.png'%>" style="width: 200px;" onclick="javascript:location.href='/meal/<%= meal.id%>'"><br><%= meal.title%></td>
                  <td style="vertical-align: middle;">
                    <div data-toggle="tooltip" data-placement="bottom" title="<%= meal.score.toFixed(1)%>">
                      <div class="rating" data-toggle="star-set" data-rate="<%= meal.score%>">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                  </td>
                  <td style="vertical-align: middle;"><%= meal.numberOfReviews%></td>
                  <td style="vertical-align: middle;">
                    <%
                    switch(meal.status){
                    case "on":%>
                    <label class="text-green"><%= __('on')%></label>
                    <%  break;
                    case "off":%>
                    <label class="text-grey"><%= __('off')%></label>
                    <%   break;
                    case "ongoing":%>
                    <%= __('ongoing')%>
                    <%   break;
                    case "fail":%>
                    <label class="text-red"><%= __('fail')%></label>
                    <%   break;} %>
                  </td>
                  <td style="vertical-align: middle;">
                    <!--<a class="text-grey" href="/meal/<%= meal.id%>?edit=true"><%= __('update')%></a><br>-->
                    <a class="text-grey" href="/meal/<%= meal.id%>?edit=true"><%= __('edit')%></a><br>
                    <a class="text-grey" href="javascript:void(0)" data-action="delete" data-model="meal" data-id="<%= meal.id%>"><%= __('delete')%></a><br/>
                  <td class="align-middle">
                    <button name="action" class="btn btn-outline ld-ext-right text-red <%= meal.status === 'on' ? '' : 'd-none'%>" data-id="<%= meal.id%>" data-action="off">
                      <%= __('off')%>
                      <div class="ld ld-ring ld-spin"></div>
                    </button>
                    <button name="action" class="btn btn-outline ld-ext-right <%= meal.status === 'off' ? '' : 'd-none'%>" data-id="<%= meal.id%>" data-action="on">
                      <%= __('on')%>
                      <div class="ld ld-ring ld-spin"></div>
                    </button>
                  </td>
                </tr>
                </tbody>
                <%}}%>
              </table>
              <nav>
                <ul class="pagination pagination-green pagination-sm" data-trigger="pagination" data-target="#allmeals-content">
                  <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                </ul>
              </nav>
            </div>
            <div id="livemeals" class="tab-pane middle">
              <table id="livemeals-content" class="table table-bordered table-vertical-middle" style="width: 100%;">
                <thead>
                <tr>
                  <td><%= __('photo')%></td>
                  <td><%= __('score')%></td>
                  <td><%= __('reviewed')%> <i class="fas fa-question-circle"></i></td>
                  <td><%= __('status')%> <i class="fas fa-question-circle"></i></td>
                  <td><%= __('action')%> <i class="fas fa-question-circle"></i></td>
                  <td><%= __('on/off')%> <i class="fas fa-question-circle"></i></td>
                </tr>
                </thead>
                <%
                var meals = user.host.meals;
                if(meals && meals.length > 0){
                for(var k=0; k < meals.length; k++){
                  var meal = meals[k];
                if(meal.status == "on"){
                %>
                <tbody class="item">
                <tr class="success">
                  <% if(meal.type=="order"){%>
                  <td align="left" colspan="6"><%= __('last-update-time')%><%= meal.updatedAt%> &nbsp&nbsp&nbsp&nbsp&nbsp方式:即点&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('provide-time')%>: <span data-toggle="time-span" data-format="hourly" data-from="<%= meal.provideFromTime%>" data-to="<%= meal.provideTillTime%>"></span></td>
                  <%}else{%>
                  <td align="left" colspan="6"><%= __('last-update-time')%><%= meal.updatedAt%> &nbsp&nbsp&nbsp&nbsp&nbsp方式:预定&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('book-time')%>: <span data-toggle="time-span" data-format="hourly" data-from="<%= meal.provideFromTime%>" data-to="<%= meal.provideTillTime%>"></span>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('pickup-time')%>:&nbsp <span data-toggle="time-span" data-format="day" data-date="<%= meal.pickups[0].pickupFromTime%>"></span></td>
                  <%}%>
                </tr>
                <tr>
                  <td><img class="cursor-pointer" src="<%= meal.coverString || '/images/food_default.png'%>" style="width: 200px;" onclick="javascript:location.href='/meal/<%= meal.id%>'"><br><%= meal.title%></td>
                  <td style="vertical-align: middle;">
                    <div data-toggle="tooltip" data-placement="bottom" title="<%= meal.score.toFixed(1)%>">
                      <div class="rating" data-toggle="star-set" data-rate="<%= meal.score%>">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                  </td>
                  <td style="vertical-align: middle;"><%= meal.numberOfReviews%></td>
                  <td style="vertical-align: middle;">
                    <%
                    switch(meal.status){
                    case "on":%>
                    <label class="text-green"><%= __('on')%></label>
                    <%  break;
                    case "off":%>
                    <label class="text-grey"><%= __('off')%></label>
                    <%   break;
                    case "ongoing":%>
                    <label class="text-grey"><%= __('ongoing')%></label>
                    <%   break;
                    case "fail":%>
                    <label class="text-red"><%= __('fail')%></label>
                    <%   break;} %>
                  </td>
                  <td style="vertical-align: middle;">
                    <!--<a class="text-grey" href="/meal/<%= meal.id%>?edit=true"><%= __('update')%></a><br>-->
                    <a class="text-grey" href="/meal/<%= meal.id%>?edit=true"><%= __('edit')%></a><br>
                    <a class="text-grey" href="javascript:void(0)" data-action="delete" data-model="meal" data-id="<%= meal.id%>"><%= __('delete')%></a><br/>
                  <td style="vertical-align: middle;"><a class="text-red" href="/meal/<%= meal.id%>/off"><%= __('off')%></a></td>
                </tr>
                </tbody>
                <%}}}%>
              </table>
              <nav>
                <ul class="pagination pagination-green pagination-sm" data-trigger="pagination" data-target="#livemeals-content">
                  <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                </ul>
              </nav>
            </div>

            <div id="ongoingmeals" class="tab-pane middle">
              <table id="ongoingmeals-content" class="table table-bordered table-vertical-middle" style="width: 100%;">
                <thead>
                <tr>
                  <td><%= __('photo')%></td>
                  <td><%= __('score')%></td>
                  <td><%= __('reviewed')%> <i class="fas fa-question-circle"></i></td>
                  <td><%= __('status')%> <i class="fas fa-question-circle"></i></td>
                  <td><%= __('action')%> <i class="fas fa-question-circle"></i></td>
                  <td><%= __('on/off')%> <i class="fas fa-question-circle"></i></td>
                </tr>
                </thead>

                <%
                var meals = user.host.meals;
                if(meals && meals.length > 0){
                for(var k=0; k < meals.length; k++){
                  var meal = meals[k];
                if(meal.status == "ongoing"){
                %>
                <tbody class="item">
                <tr class="success">
                  <% if(meal.type=="order"){%>
                  <td align="left" colspan="6"><%= __('last-update-time')%><%= meal.updatedAt%> &nbsp&nbsp&nbsp&nbsp&nbsp<%= __('method-order')%>&nbsp&nbsp&nbsp&nbsp&nbsp<td><%= __('provide-time')%><span data-toggle="time-span" data-format="hourly" data-from="<%= meal.provideFromTime%>" data-to="<%= meal.provideTillTime%>"></span></td>
                  <%}else{%>
                  <td align="left" colspan="6"><%= __('last-update-time')%><%= meal.updatedAt%> &nbsp&nbsp&nbsp&nbsp&nbsp<%= __('method-preorder')%>&nbsp&nbsp&nbsp&nbsp&nbsp<td><%= __('book-time')%><span data-toggle="time-span" data-format="hourly" data-from="<%= meal.provideFromTime%>" data-to="<%= meal.provideTillTime%>"></span>&nbsp&nbsp&nbsp&nbsp&nbsp<td><%= __('pickup-time')%>&nbsp <span data-toggle="time-span" data-format="day" data-date="<%= meal.pickups[0].pickupFromTime%>"></span></td>
                  <%}%>
                </tr>
                <tr>
                  <td><img class="cursor-pointer" src="<%= meal.coverString || '/images/food_default.png'%>" style="width: 200px;" onclick="javascript:location.href='/meal/<%= meal.id%>'"><br><%= meal.title%></td>
                  <td style="vertical-align: middle;">
                    <div data-toggle="tooltip" data-placement="bottom" title="<%= meal.score.toFixed(1)%>">
                      <div class="rating" data-toggle="star-set" data-rate="<%= meal.score%>">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                  </td>
                  <td style="vertical-align: middle;"><%= meal.numberOfReviews%></td>
                  <td style="vertical-align: middle;">
                    <%
                    switch(meal.status){
                    case "on":%>
                    <label class="text-green"><%= __('on')%></label>
                    <%  break;
                    case "off":%>
                    <label class="text-grey"><%= __('off')%></label>
                    <%   break;
                    case "ongoing":%>
                    <%= __('ongoing')%>
                    <%   break;
                    case "fail":%>
                    <label class="text-red"><%= __('fail')%></label>
                    <%   break;} %>
                  </td>
                  <td style="vertical-align: middle;">
                    <!--<a class="text-grey" href="/meal/<%= meal.id%>?edit=true"><%= __('update')%></a><br>-->
                    <a class="text-grey" href="/meal/<%= meal.id%>?edit=true"><%= __('edit')%></a><br>
                    <a class="text-grey" href="javascript:void(0)" data-action="delete" data-model="meal" data-id="<%= meal.id%>"><%= __('delete')%></a><br/>
                </tr>
                </tbody>
                <%}}}%>
              </table>
              <nav>
                <ul class="pagination pagination-green pagination-sm" data-trigger="pagination" data-target="#ongoingmeals-content">
                  <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                </ul>
              </nav>
            </div>

            <div id="offmeals" class="tab-pane middle">
              <table id="offmeals-content" class="table table-bordered table-vertical-middle" style="width: 100%;">
                <thead>
                <tr>
                  <td><%= __('photo')%></td>
                  <td><%= __('score')%></td>
                  <td><%= __('reviewed')%> <i class="fas fa-question-circle"></i></td>
                  <td><%= __('status')%> <i class="fas fa-question-circle"></i></td>
                  <td><%= __('action')%> <i class="fas fa-question-circle"></i></td>
                  <td><%= __('on/off')%> <i class="fas fa-question-circle"></i></td>
                </tr>

                </thead>

                <%
                var meals = user.host.meals;
                if(meals && meals.length > 0){
                for(var k=0; k < meals.length; k++){
                  var meal = meals[k];
                if(meal.status == "off"){
                %>
                <tbody class="item">
                <tr class="success">
                  <% if(meal.type=="order"){%>
                  <td align="left" colspan="6"><%= __('last-update-time')%><%= meal.updatedAt%> &nbsp&nbsp&nbsp&nbsp&nbsp<%= __('method-order')%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('provide-time')%> <span data-toggle="time-span" data-format="hourly" data-from="<%= meal.provideFromTime%>" data-to="<%= meal.provideTillTime%>"></span></td>
                  <%}else{%>
                  <td align="left" colspan="6"><%= __('last-update-time')%><%= meal.updatedAt%> &nbsp&nbsp&nbsp&nbsp&nbsp<%= __('method-preorder')%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('book-time')%> <span data-toggle="time-span" data-format="hourly" data-from="<%= meal.provideFromTime%>" data-to="<%= meal.provideTillTime%>"></span>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('pickup-time')%>&nbsp <span data-toggle="time-span" data-format="day" data-date="<%= meal.pickups[0].pickupFromTime%>"></span></td>
                  <%}%>
                </tr>
                <tr>
                  <td><img class="cursor-pointer" src="<%= meal.coverString || '/images/food_default.png'%>" style="width: 200px;" onclick="javascript:location.href='/meal/<%= meal.id%>'"><br><%= meal.title%></td>
                  <td style="vertical-align: middle;">
                    <div data-toggle="tooltip" data-placement="bottom" title="<%= meal.score.toFixed(1)%>">
                      <div class="rating" data-toggle="star-set" data-rate="<%= meal.score%>">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                  </td>
                  <td style="vertical-align: middle;"><%= meal.numberOfReviews%></td>
                  <td style="vertical-align: middle;">
                    <%
                    switch(meal.status){
                    case "on":%>
                    <label class="text-green"><%= __('on')%></label>
                    <%  break;
                    case "off":%>
                    <label class="text-grey"><%= __('off')%></label>
                    <%   break;
                    case "ongoing":%>
                  <td><%= __('ongoing')%>
                    <%   break;
                    case "fail":%>
                    <label class="text-red"><%= __('fail')%></label>
                    <%   break;} %>
                  </td>
                  <td style="vertical-align: middle;">
                    <!--<a class="text-grey" href="/meal/<%= meal.id%>?edit=true"><td><%= __('update')%></a><br>-->
                    <a class="text-grey" href="/meal/<%= meal.id%>?edit=true"><%= __('edit')%></a><br>
                    <a class="text-grey" href="javascript:void(0)" data-action="delete" data-model="meal" data-id="<%= meal.id%>"><%= __('delete')%></a></td>
                  <td style="vertical-align: middle;"><button name="action" class="btn btn-outline text-grey" data-id="<%= meal.id%>" data-action="on"><%= __('on')%></button></td>
                </tr>
                </tbody>
                <%}}}%>
              </table>
              <nav>
                <ul class="pagination pagination-green pagination-sm" data-trigger="pagination" data-target="#offmeals-content">
                  <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                </ul>
              </nav>
            </div>
          </div>

        </div>
      </div>

      <div id="mydish" class="tab-pane w-100">
        <div class="row">
          <div class="col-md-8 mb-3">
            <div class="box box-compact box-shadow box-scroll white">
              <div class="row">
                <div class="col-12">
                  <div class="vertical-align">
                    <button class="btn btn-green btn-lg middle" onclick="location.href='/host/me/createDish'"><strong style="font-size: 16px;"><%= __('meal-add')%></strong></button>
                    <i class="fas fa-question-circle fa-2x text-lightgrey cursor-pointer mr-4"></i>
                  </div>
                </div>
                <div class="col-12" style="margin-top: 20px;">
                  <table id="dish-content w-100" class="table table-striped">
                    <thead>
                    <tr>
                      <td><%= __('photo')%></td>
                      <td><%= __('status')%></td>
                      <td><%= __('review')%></td>
                      <td><%= __('price')%></td>
                      <td><%= __('reviewed')%><i class="fas fa-question-circle text-lightgrey"></i></td>
                      <td><%= __('action')%><i class="fas fa-question-circle text-lightgrey"></i></td>
                    </tr>
                    </thead>
                    <%
                    var dishes = user.host.dishes;
                    if(dishes && dishes.length > 0) {
                    for(var i=0; i < dishes.length; i++){
                      var dish = dishes[i];
                    %>
                    <tbody class="item">
                    <tr class="active" data-id="<%= dish.id%>">
                      <td colspan="6"><%= dish.title%></td>
                    </tr>
                    <tr>
                      <td><img style="width: 150px;max-height: 150px;" src="<%= dish.photos[0].v%>"></td>
                      <td class="align-middle"><%= dish.isVerified ? __('passed') : __('ongoing') %></td>
                      <td class="align-middle"><i class="fa fa-star-o"></i> <%= dish.score.toFixed(1) %></td>
                      <td class="align-middle">$<%= dish.price.toFixed(2)%></td>
                      <td class="align-middle"><%= dish.numberOfReviews%></td>
                      <td class="align-middle">
                        <a href="/dish/<%= dish.id%>?edit=true"><%= __('modify')%></a><br/>
                        <a href="javascript:void(0)" data-action="delete" data-model="dish" data-id="<%= dish.id%>"><%= __('delete')%></a><br/>
                      </td>
                    </tr>
                    <tr><td colspan="6" data-toggle="alert" id="dish-error-<%= i%>" class="alert alert-warning"></td></tr>
                    </tbody>
                    <%}}%>

                  </table>
                  <nav>
                    <ul class="pagination pagination-green pagination-sm" data-trigger="pagination" data-target="#dish-content">
                      <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box box-shadow white">
              <div class="col-12" style="margin-bottom: 15px;">
                <img class="cursor-pointer round_thumb size-large" src="<%= user.picture || ''%>" data-src="<%= user.picture || '../../images/profile_man.png'%> onclick="location.href='/user/me#info'">
              </div>
              <p class="text-orange"><%= user.firstname || __('chef') %>&nbsp;<%= user.lastname || ''%> <i class="fa fa-edit text-lightgrey cursor-pointer" onclick="location.href='/user/me#myinfo'"></i></p>
              <p><%= __('phone')%>: +<%= user.phone%> <i class="fa fa-edit text-lightgrey cursor-pointer" onclick="location.href='/user/me#myinfo'"></i></p>
              <p><%= user.desc %> <i class="fa fa-edit text-lightgrey cursor-pointer" onclick="location.href='/user/me#myinfo'"></i></p>
              <p class="text-grey"><%= __('email')%> <%= user.host.email%></p>
            </div>
          </div>
        </div>
      </div>

      <div id="myinfo" class="tab-pane w-100" data-user="<%= user ? user.id : ''%>">
        <div class="box box-shadow white">
          <form class="form-horizontal text-left" data-toggle="validator" data-id="<%= user.host.id%>" data-err-container="#formAlert">

            <div class="form-group">
              <label class="mb-2">
                <strong>1. <%= __('host-license')%></strong>
                <i class="fas fa-question-circle text-lightgrey cursor-pointer" data-toggle="tooltip" data-placement="right" title="<%= __('photo-restrition')%>"></i>
              </label>

              <div class="text-left row license mt-2">
                <div class="col-12 col-md-5">
                  <div class="fileinput <%= user.host.license? 'fileinput-exists' : 'fileinput-new'%>" data-provides="fileinput">
                    <div class="fileinput-new thumbnail text-center">
                      <img class="cursor-pointer" data-src="../../images/upload_default.png" onclick="$('#licenseUpload').trigger('click')">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-height: 260px;overflow: hidden;" data-src="<%= user.host.license ? (user.host.license.url || null) : null%>">
                      <img class="cursor-pointer w-100 border" style="max-width: 370px;" src="<%= user.host.license ? user.host.license.url : ''%>" data-src="<%= user.host.license ? (user.host.license.url || '../../images/upload_default.png') : '../../images/upload_default.png'%>" style="max-height: 250px;" onclick="$('#licenseUpload').trigger('click')">
                    </div>
                    <div class="form-group">
                        <span>
                          <input class="form-control-file" id="licenseUpload" type="file" data-wantsImage=true onchange="appObj.hostProfileView.uploadLicense(event)" data-error-container=".license">
                        </span>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-7">
                  <div class="card">
                    <div class="card-body">
                      <label><%= __('your-license')%>: <span class="<%= user.host.license ? (user.host.license.valid ? "text-green" : "text-red") : "text-red"%>"><%= user.host.license ? (user.host.license.valid ? "通过" : "审核中") : "未上传"%></span></label>
                      <p> <%= __('expBy')%>: <%= user.host.license ? (user.host.license.valid ? user.host.license.exp : "N/A") : "N/A"%></p>
                      <% if (!user.host.license || !user.host.license.valid){%>
                      <h2></h2>
                      <label><%= __('food-handling-license-help')%>: </label>
                      <p>1.<%= __('goto')%><a target="_blank" href="http://www.premierfoodsafety.com/california-food-handler-card?registrationSourceID=4631&gclid=Cj0KEQjwi_W9BRD_3uio_Jz-p8UBEiQANU80vl4WQnvSgkliztbO5S0gCcYDF4WiMfv1OBNAwz7hj_caAkSV8P8HAQ">premierfoodsafety.com/CAFoodHandler</a><%= __('food-handling-license-1')%></p>
                      <p>2.<%= __('food-handling-license-2')%></p>
                      <p>3.<%= __('food-handling-license-3')%></p>
                      <%}%>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12" style="margin-top:15px;">

                  <div class="row pt-4">
                    <div class="col-12">
                      <div class="alert alert-info" data-toggle="alert"></div>
                      <div class="alert alert-danger" data-toggle="alert"></div>
                      <div class="alert alert-success" data-toggle="alert"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>
                <strong>2. <%= __('host-address')%></strong>
                <i class="fas fa-question-circle text-lightgrey cursor-pointer"></i>
              </label>

              <div id="hostAddressView" class="text-left box-grid">
                <div class="address_block">
                  <div class="row vertical-align">
                    <div class="col-2 text-center">
                      <label class="text-green"><%= __('kitchen')%></label>
                    </div>
                    <div class="col-6">
                      <label><%= user.host.full_address || __('please-enter-address') %><br/> <%= user.phone %></label>
                    </div>
                    <div class="col-2">
                      <a class="text-green cursor-pointer edit" onclick="h.toggleModal(event, appObj.addressView.enterAddressInfo)" data-host="true" data-id="<%= user.host.id%>" data-street="<%= user.host.street || ""%>" data-city="<%= user.host.city || ""%>" data-zip="<%= user.host.zip || ""%>" data-phone="<%=user.phone || ""%>" toggle="modal" data-model="user" data-action="address" data-target="#myModal"><%= __('modify')%></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="mb-2">
                <strong>
                  3. <%= __('host-story')%>
                </strong>
                <i class="fas fa-question-circle text-lightgrey cursor-pointer"></i>
              </label>

              <div class="story p-2">
               <div class="row">
                 <div class="col-sm-5 col-12">
                   <div class="form-group">
                     <label>(1) <%= __('host-title')%></label>
                     <a data-toggle="input-toggle"><i class="fa fa-refresh"></i></a>
                     <input class="form-control mt-2" data-error="<%= __('max-title-7')%>" name="story-title" maxlength="7" type="text" class="form-control" placeholder="<%= __('full-name')%>" value="<%= user.host.shopName || '' %>">
                     <input class="form-control" name="story-title-en" maxlength="30" type="text" class="form-control" placeholder="Kitchen name" value="<%= user.host.shopName_en || '' %>">
                     <div class="help-block with-errors"></div>
                   </div>

                   <div class="form-group">
                     <label>
                       (2) <%= __('host-story-content')%>
                     </label>
                     <a data-toggle="input-toggle"><i class="fa fa-refresh"></i></a>
                     <textarea class="form-control mt-2" data-error="<%= __('host-story-content-max')%>" maxlength="300" name="story-intro" placeholder="<%= __('chef-story')%>" style="width: 100%;height: 360px;"><%= user.host.intro || '' %></textarea>
                     <textarea class="form-control" data-error="<%= __('host-story-content-max')%>" maxlength="1000" name="story-intro-en" placeholder="Chef's story" style="width: 100%;height: 360px;"><%= user.host.intro_en || '' %></textarea>
                     <div class="help-block with-errors"></div>
                   </div>
                 </div>

                 <div class="col-sm-7 col-12">
                   <div class="form-group">
                     <label>
                       (3) <%= __('host-photo')%>
                       <i class="fas fa-question-circle text-lightgrey cursor-pointer" data-toggle="tooltip" data-placement="right" title="<%= __('photo-restrition')%>">
                       </i>
                     </label>

                     <div class="fileinput form-group mt-2 <%= user.host.picture ? 'fileinput-exists' : 'fileinput-new'%>" data-provides="fileinput" style="width: 100%;">
                       <div class="col-12">
                         <div class="fileinput-new thumbnail">
                           <img class="cursor-pointer" data-src="../../images/upload_default.png" onclick="$('storyUpload').trigger('click')">
                         </div>
                         <div class="fileinput-preview fileinput-exists thumbnail" style="max-height: 275px;" data-src="<%= user.host.picture || '../../images/upload_default.png'%>">
                           <img class="cursor-pointer border" src="<%= user.host.picture ? user.host.picture : ''%>" data-src="<%= user.host.picture ? user.host.picture : '../../images/upload_default.png'%>" style="max-height: 265px;" onclick="$('#storyUpload').trigger('click')">
                         </div>
                         <span>
                        <input class="form-control-file" name='story-pic' id="storyUpload" type="file" data-strictImage=true onchange="appObj.hostProfileView.uploadHostPhoto(event)" data-error-container=".story">
                      </span>
                         <div class="alert alert-info" data-toggle="alert"></div>
                         <div class="alert alert-danger" data-toggle="alert"></div>
                         <div class="alert alert-success" data-toggle="alert"></div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
              </div>

            </div>

            <div class="form-group">
              <label>
                4. <%= __('choose-signature-dish')%>
                <i class="fas fa-question-circle text-lightgrey cursor-pointer"></i>
              </label>
              <div class="col-12 mt-3">
                <div class="dishes">
                  <div class="inline-block" style="width:150px;">
                    <div class="dropdown" style="margin-bottom: 10px;">
                      <a class="btn btn-default btn-outline dropdown-toggle text-dark" type="button" data-toggle="dropdown" data-selected="true" aria-haspopup="true" aria-expanded="true" data-value="<%var features = user.host.feature_dishes;if( typeof features != 'undefined' && features[0].dish1.id != ""){ %><%= features[0].dish1.id %><%}else{%>0<%} %>">
                        <div style="width: 100px;display: inline-block;">
                          <%
                          var features = user.host.feature_dishes;
                          if( typeof features != 'undefined' && features[0].dish1.id != "0"){
                          %>
                          <%= features[0].dish1.title %>
                          <%}else{__('first-dish')} %>
                        </div>
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu signatureDish" aria-labelledby="dropdownMenu1">
                        <%
                        var dishes = user.host.dishes;
                        var count = dishes.length;
                        for(var i=0; i < count; i++){
                          var dish = dishes[i];
                        %>
                        <li><a class="dropdown-item" href="javascript:void(0)" data-value="<%= dish.id%>"><%=dish.title%></a></li>
                        <%}%>
                      </ul>
                    </div>
                  </div>

                  <div class="inline-block" style="width:150px;">
                    <div class="dropdown" style="margin-bottom: 10px;">
                      <a class="btn btn-default btn-outline dropdown-toggle text-dark" type="button" data-toggle="dropdown" data-selected="true" aria-haspopup="true" aria-expanded="true" data-value="<%var features = user.host.feature_dishes;if( typeof features != 'undefined' && features[1].dish2.id != ""){ %><%= features[1].dish2.id %><%}else{%>0<%}%>">
                        <div style="width: 100px;display: inline-block;">
                          <%
                          var features = user.host.feature_dishes;
                          if( typeof features != 'undefined' && features[1].dish2.id != "0"){
                          %>
                          <%= features[1].dish2.title %>
                          <%}else{__('second-dish')} %>
                        </div>
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <%
                        var dishes = user.host.dishes;
                        var count = dishes.length;
                        for(var i=0; i < count; i++){
                          var dish = dishes[i];
                        %>
                        <li><a class="dropdown-item" href="javascript:void(0)" data-value="<%= dish.id%>"><%=dish.title%></a></li>
                        <%}%>
                      </ul>
                    </div>
                  </div>

                  <div class="inline-block" style="width:150px;">
                    <div class="dropdown">
                      <a class="btn btn-default btn-outline dropdown-toggle text-dark" type="button" data-toggle="dropdown" data-selected="true" aria-haspopup="true" aria-expanded="true" data-value="<%var features = user.host.feature_dishes;if( typeof features != 'undefined' && features[2].dish3.id != ""){ %><%= features[2].dish3.id %><%}else{%>0<%} %>">
                        <div style="width: 100px;display: inline-block;">
                          <%
                          var features = user.host.feature_dishes;
                          if( typeof features != 'undefined' && features[2].dish3.id != "0"){
                          %>
                          <%= features[2].dish3.title %>
                          <%}else{__('third-dish')} %>
                        </div>
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <%
                        var dishes = user.host.dishes;
                        var count = dishes.length;
                        for(var i=0; i < count; i++){
                          var dish = dishes[i];
                        %>
                        <li><a class="dropdown-item" href="javascript:void(0)" data-value="<%= dish.id%>"><%=dish.title%></a></li>
                        <%}%>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="my-2" id="formAlert">
              <div class="alert alert-danger text-center w-100"></div>
              <div class="alert alert-success text-center w-100"></div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-grey-green active w-25"><%= __('save')%></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/zh.host.bundle.js"></script>
