<div class="container-fluid default-container text-center" style="margin-top:-20px;min-height: 550px;position: relative;">
  <% if(user){ %>
  <div style="height:30px;"><h4>邀请好友</h4></div>
  <div class="referral-yellow row">
    <image style="width: 100%;max-width: 363px;" class="middle" src="/images/referral@2x.png"></image>
  </div>

  <h3 style="padding-top: 10px;">送朋友5元积分<br/>朋友下单后，您会获得5元积分</h3>
  <div class="divider" style="width: 30%;"></div>

  <div style="margin-bottom: 50px;">
    <div class="row">
      <div class="col-lg-2 col-xl-3"></div>
      <div class="col-xs-12 col-lg-8 col-xl-6 text-center">
        <div class="social-share"></div>

        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-xs-12 col-lg-6" style="margin-top: 15px;">
            <div class="row">
              <div class="col-lg-9">
                <input id="linkUrl" class="form-control" type="text" readonly value="<%= baseUrl + '/join?code=' + user.referralCode%>">
              </div>
              <div class="col-lg-3">
                <button id="copyBtn" class="btn btn-outline text-red border-red" onclick="copyLink();" data-toggle="tooltip" title="<%= __('click-to-copy')%>" data-title-clicked="<%= __('copied')%>"><%= __('copy')%></button>
              </div>
            </div>
          </div>
          <div class="col-lg-3"></div>
        </div>
      </div>
      <div class="col-lg-2 col-xl-3"></div>
    </div>
  </div>


  <%}else{%>
  <h3>Hi <%= __('user')%>, 你的朋友 <%= referrer.firstname%> 邀请你加入SFMeal，立即加入来获得10元现金券！</h3>
  <%}%>
</div>

<script>

  $("#wechatBtn").click(function(){
      $("#wechatOverlay").removeClass('hide');
      $("#wechatOverlay").toggle();
  })

  $("#wechatOverlay").click(function(){
    $("#wechatOverlay").toggle();
  })

  $('.social-share').share({
    title : "SFMeal私房菜平台，喂想家的你，加入即可领取5元现金券吧！",
    sites : ['wechat','qq','weibo','facebook'],
    description : "十三香小龙虾，葱油拌面，千里香小馄饨，重庆酸辣粉...欢迎回家吃饭。"
  });

  function copyLink(){
    var copyText = $("#linkUrl");

    /* Select the text field */
    copyText.select();

    /* Copy the text inside the text field */
    document.execCommand("Copy");

    /* Alert the copied text */
    $("#copyBtn").tooltip('hide')
      .attr('data-original-title', $("#copyBtn").data("title-clicked"))
      .tooltip('fixTitle')
      .tooltip('show')
      .focus();
  }



</script>

