<div class="container default-container text-center relative" style="margin-top:-20px;background-color: #f2f2f2;">

  <div class="compact-banner">
    <div class="img-wrapper row">
      <img src="/images/blank.gif" data-echo="/images/home-cover-1.jpg" class="relative middle">
    </div>

    <div class="absolute logo-container">

      <div class="col-lg-3 col-sm-4 col-xs-12 relative text-left">
        <a href="/" class="logo-slogan"></a>
      </div>

      <div class="relative text-left col-lg-9 col-sm-8 col-xs-12 content">
        <h4 class="text-white"><strong><%__('searching-word')%></strong></h4>
        <!--<div class="btn-group">-->
          <!--<input class="input btn btn-default round light text-grey" placeholder="<%= __('searching-tips')%>">-->
          <!--<button class="btn btn-warning round orange text-white" onclick="javascript:search(this)">-->
            <!--<i class="fa fa-search"></i>-->
            <!--<%= __('search')%>-->
          <!--</button>-->
        <!--</div>-->
        <!--<button class="btn btn-grey-red round active" onclick="location.href='/meal'"><%= __('see-menu')%></button>-->
      </div>
    </div>
  </div>

  <div id="shoppingCartView" class="btn btn-grey-red btn-info vertical-align active" style="position: fixed;bottom: 0;right: 0;z-index:90;width: 100%;height:50px;" onclick="javascript:location.href='#order'">
    <div style="width:100%;height: 35px;line-height: 35px;">
      <div class="col-xs-3"><span style="left: 10px;" class="total-preview relative" data-subtotal=""></span></div>
      <div class="col-xs-6 middle"><span style="margin-right: 5px;text-align: center;"><%= __('check-out-fast-btn')%></span></div>
      <div class="col-xs-3 text-right"><div style="right: 10px;" class="btn btn-outline-white order-preview relative" data-item=""></div></div>
    </div>

  </div>

  <div id="meal-detail-container" class="padding-clear" data-meal-prepareTime="<%= meal.prepareTime%>" data-user-lat="<%= user?user.lat:''%>" data-user-long="<%= user?user.long:''%>" data-range="<%= meal.delivery_range%>" data-title="<%= meal.title%>" data-coverString="<%= meal.coverString%>" data-cover="<%= meal.cover%>" data-user="<%= user || ''%>">

    <div class="row">
      <div class="col-md-8">
        <div class="box white">
          <div class="row">
            <div id="meal-detail-intro" class="col-xs-12 col-sm-6">
              <div class="row">
                <div class="col-xs-7 text-left">
                  <h2 style="display: inline-block;"><%= meal.titleI18n(locale) %><small class="text-orange"><% if(meal.type=='order'){ __('order') }else if(meal.type=='preorder'){ __('preorder') } %> <%= meal.isFull()? __('full'): "" %><%= meal.isExpire()?("(" + __('expire') + ")"):""%><%= meal.isNotStart()?( "(" + __('notStart') + ")"):""%></small></h2>
                </div>
                <% if(meal.supportPartyOrder){%>
                <h2 class="col-xs-5">
                  <input id="cateringModeBtn" type="checkbox" data-on-text="<%= __('catering_on')%>" data-off-text="<%= __('catering_off')%>" data-meal="<%= meal.id%>" data-toggle="switch-button" <%= meal.isPartyMode ? "checked=checked" : ""%>>
                </h2>
                <%}%>
              </div>

              <div class="row vertical-align-base">
                <div class="col-xs-12 text-left">
                  <div data-toggle="tooltip" data-placement="bottom" title="<%= meal.score.toFixed(2)%>" style="display: inline;margin-top: 5px;">
                    <div class="rating" data-toggle="star-set" data-rate="<%= meal.score.toFixed(2)%>">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <small style="font-size: 20px;" class="text-lightgrey">(<%= meal.numberOfReviews %>)</small>
                </div>
              </div>

              <h3></h3>

              <div class="row chef-cell vertical-align text-center">
                <div class="col-md-2 col-xs-3">
                  <img class="round_thumb size-small text-center cursor-pointer" onclick="javascript:location.href='/host/public/<%= meal.chef.id%>'" src="/images/blank.gif" data-echo=<%= meal.chef.picture || "/images/profile_man.png" %>>
                </div>
                <div class="col-md-10 col-xs-9">
                  <h4 class="text-left text-dark text-box" style="margin: 0 0 10px 10px;"><%= meal.chef.shopNameI18n(locale) %><br><small><%= meal.chef.shortIntro(locale) %></small></h4>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <!--<h4 class="text-left"><small><%= __('book-time')%>: <span class="text-black"><strong><%= meal.provideDate()%></strong></span></small></h4>-->
                  <div class="row">
                    <div class="col-xs-4">
                      <h4><small><%= __('pickup-date')%>:</small></h4>
                      <div class="pickup-date">
                        <% if(meal.isPartyMode){%>
                        <span class="col-xs-12"><%= meal.getMonthName(meal.pickups[0].pickupFromTime)%></span>
                        <span class="col-xs-12"> > <%= meal.getDaysAfterNow(1)%>  <i class="fa fa-question-circle cursor-pointer" data-toggle="tooltip" title="<%= __('party-pickup-date-tip')%>"></i></span>
                        <%}else{%>
                        <span class="col-xs-12"><%= meal.getMonthName(meal.pickups[0].pickupFromTime)%> <%= meal.getDateFromDate(meal.pickups[0].pickupFromTime)%></span>
                        <span class="col-xs-12"><%= __(meal.getWeekFromDate(meal.pickups[0].pickupFromTime))%></span>
                        <%}%>
                      </div>
                      <div class="pickup-map">
                        <a data-toggle="collapse" data-parent="#meal-detail-container" href="#googlemapContainer" aria-expanded="false" aria-controls="googlemapContainer">
                          <span><%= __('nav_me')%></span>
                          <i class="fa fa-location-arrow"></i>
                        </a>
                      </div>

                    </div>
                    <div class="col-xs-8 text-left">
                      <h4><small><%= __('pickup-location')%>:</small></h4>
                      <div class="pickup-location">
                        <%
                        var colors = ['red', 'blue', 'green','pink','yellow','orange','dark-blue'];
                        var count = 1;
                        meal.pickups.forEach(function(pickup){ if(pickup.method === "pickup" && !meal.isPartyMode){ %>
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="option pickupOption" data-location="<%= pickup.publicLocation || pickup.location%>" data-color="<%= colors[count]%>">
                              <label>
                                <i class="fa fa-hand-paper-o cursor-pointer text-<%= colors[count]%>" data-toggle="tooltip" title="<%= __('pickup')%>"></i>
                                <span> <%= pickup.publicLocation || pickup.location%><% if(pickup.instruction){%>(<%= pickup.instruction%>)<%}%></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <%}else if(pickup.method === "delivery"){if(pickup.isDateCustomized && !meal.isPartyMode){return}%>
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="option deliveryOption" data-area="<%= pickup.area%>" data-location="<%= pickup.deliveryCenter%>" data-color="<%= colors[count]%>">
                              <label>
                                <i class="fa fa-truck cursor-pointer text-<%= colors[count]%>" data-toggle="tooltip" title="<%= __('delivery')%>"></i>
                                <span> <%= pickup.area || pickup.deliveryCenter%> <%= __('nearby')%></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <%}count++;})%>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--<div class="row">-->
                <!--<div class="col-xs-12 text-left">-->
                  <!--<h4><small><i class="fa fa-exclamation-circle"></i> <%= meal.isPartyMode === true ? __('party-meal-pickup-tip', meal.partyRequirement.minimal) : __('pickup_detail_title')%></small></h4>-->
                <!--</div>-->
              <!--</div>-->
            </div>

            <div class="col-xs-12 col-sm-6">
              <!--<div class="vertical-align">-->
                <!--<h4><small><%= __('share-to-all')%></small></h4>-->
                <!--<div id="social-share"></div>-->
                <!--<i class="fa fa-heart fa-2x cursor-pointer" style="margin-left:10px;" data-select="<% if(user && user.collects){%><%= user.isCollect(meal.id)%><%}else{%>false<%}%>" data-toggle="collect-item" data-meal="<%= meal.id%>" data-user="<%= user?user.id:user%>" data-heart="true"></i>-->
              <!--</div>-->

              <h4 class="text-left"><small><% __('pickup-location-after-order')%></small></h4>

              <div id="googlemapContainer" class="collapse">
                <div id="googlemap" data-target="#meal-detail-intro"></div>
              </div>

            </div>
          </div>

          <%
            var dishes = meal.dishes;
            var typeName = {"appetizer" : __('appetizer'), "entree" : __('main'), "dessert" : __('dessert')};
            var headers = ["appetizer", "entree", "dessert"];
            for(var k=0; k < headers.length; k++){
              var header = headers[k];
          %>
            <div class="dark category-cell">
              <h4 class="text-white"><%= typeName[header] %></h4>
            </div>
          <%
            for(var i=0; i < dishes.length; i++){
              var dish = dishes[i];
              if(dish.type == header){
          %>

          <h2></h2>

          <div class="row">
            <div class="col-xs-12">
              <div class="round-container dish" data-id=<%= dish.id %>>
                <div class="relative">
                  <% dish.photos.forEach(function(photo, index){if(photo.v){%>
                  <a href="<%= photo.v %>" data-toggle="lightbox" data-title="<%= dish.titleI18n(locale)%>" data-footer="<%= dish.descriptionI18n(locale)%>" data-gallery="<%= dish.id%>" data-type="image" style="display: <%= index==0?'block':'none'%>">
                    <img src="/images/blank.gif" data-echo="<%= index==0?photo.v:''%>" style="width:100%;">
                  </a>
                  <%}});%>
                  <% if(dish.video){%>
                  <a href="<%= dish.video%>" data-toggle="lightbox" data-title="<%= dish.titleI18n(locale)%>" data-footer="<%= dish.descriptionI18n(locale)%>" data-type="instagram" class="absolute" style="position: absolute; top:10px; left: 20px;">
                    <i class="fa fa-play fa-2x text-red"></i>
                  </a>
                  <%}%>
                  <div class="box-float-top-right red"><h3 class="text-white" style="margin-top: 10px;">$<%= dish.price.toFixed(2) %></h3></div>
                  <% if(meal.isSupportDynamicPrice && dish.isDynamicPriceOn && meal.dynamicDishes.some(function(d){
                      return d.id === dish.id;
                    })) {
                      var orderAmount = meal.getDynamicDishesTotalOrder(0);
                      newPrice = dish.getPrice(orderAmount, meal);
                      if(newPrice !== dish.price){
                  %>
                  <div class="box-float-bottom red"><h3 class="text-white" style="margin-top: 10px;"><%= __('dish-dynamic-price-success', (dish.price - newPrice).toFixed(2))%></h3></div>
                  <%}else{ var amountNeed = dish.qtyRate - orderAmount;%>
                  <div class="box-float-bottom red"><h3 class="text-white" style="margin-top: 10px;"><%= __('dish-dynamic-price-pending', amountNeed, (dish.price - dish.getPrice(dish.qtyRate, meal)).toFixed(2))%></h3></div>
                  <%}}%>
                </div>
                <div class="row dish-operator">
                  <div class="col-sm-8">
                    <div>
                      <div class="col-sm-3">
                        <h4 class="text-black"><%= dish.titleI18n(locale) %><span> ( <%= dish.quantity || '1' + __('fen') %> )</span></h4>
                      </div>
                      <div class="col-sm-6">
                        <div data-toggle="tooltip" data-placement="bottom" title="<%= dish.score.toFixed(2)%>" style="display: inline;margin-top: 5px;">
                          <div class="rating" data-toggle="star-set" data-rate="<%= dish.score.toFixed(2)%>">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <small style="font-size: 20px;" class="text-lightgrey">(<%= dish.numberOfReviews %>)</small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <h3 style="padding: 5px;" class="none-margin"><small><%= dish.descriptionI18n(locale) %></small></h3>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">

                    <div class="row">
                      <div class="col-xs-12">
                        <h4><small class="left-amount"><%= __('left')%><span class="text-red" value=<%= meal.isPartyMode === true ? "100" : meal.leftQty[dish.id] %>><%= meal.isPartyMode === true ? 100 : meal.leftQty[dish.id] %></span><%= __('fen')%></small></h4>
                      </div>
                    </div>

                    <div class="row beforeOrder">
                      <div class="col-xs-12">
                        <button class="btn btn-grey-red take-order btn-lg active <%= parseInt(meal.leftQty[dish.id])==0 ? 'disabled' : '' %>" onclick="javascript:orderFood('<%= dish.id %>',1, true)"><%= parseInt(meal.leftQty[dish.id]) == 0 ? __('check-out-sold-btn') : __('order-one')%></button>
                      </div>
                    </div>

                    <div class="row afterOrder">
                      <div class="col-xs-12" style="margin-top:10px;">
                        <div class="input-group input-group-lg amount-input round" data-toggle="amount-input" data-max="<%= meal.isPartyMode === true ? 100 : meal.leftQty[dish.id] %>" data-dish="<%= dish.id%>" style="width:150px;margin:auto;">
                          <div class="input-group-addon minus" onclick="javascript:orderFood('<%= dish.id %>',-1)">-</div>
                          <input class="form-control text-center dish-number" type="number" pattern="[0-9]*" inputmode="numeric" value="0" style="min-width: 75px;">
                          <div class="input-group-addon add" onclick="javascript:orderFood('<%= dish.id %>',1)">+</div>
                        </div>
                      </div>
                    </div>

                    <div class="row afterOrder" style="margin-top: 10px;">
                      <% if(dish.preference && Object.keys(dish.preference).length){%>
                      <div class="col-xs-12">
                        <a class="btn btn-default btn-outline dropdown-toggle" data-dish=<%= dish.id%> style="width:160px;" type="button" data-toggle="dropdown" data-layer="0" data-submenu aria-haspopup="true" aria-expanded="true" value="">
                          <span><%= __('addVariation')%></span>
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu text-center" aria-labelledby="dLabel">
                          <li class="dropdown-submenu" data-layer="0">
                            <a tabindex="0" data-toggle="dropdown" data-selected="true"><%= __('the')%>1<%= __('fen')%></a>
                            <ul class="dropdown-menu">
                              <% Object.keys(dish.preference).forEach(function(key){%>
                              <li class="dropdown-submenu variation" data-layer="1">
                                <a tabindex="0" data-toggle="dropdown" data-dish=<%= dish.id%> data-variation=<%= key%> data-selected="true"><%= __(key)%></a>
                                <ul class="dropdown-menu">
                                  <% var options = dish.preference[key]; options.forEach(function(option){%>
                                  <li tabindex="0"><a value="<%= option.property%>" data-extra="<%= option.extra%>" href="javascript:void(0);"><%= option.property%> + $<%= option.extra%></a></li>
                                  <%});%>
                                </ul>
                              </li>
                              <%});%>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <% } %>
                    </div>

                  </div>
                </div>

                <h1></h1>
              </div>
              <h1></h1>

              <h1></h1>

              <!--<ul class="nav nav-tabs" data-toggle="tabs">-->
                <!--<li class="active"><a href="#review<%= i%>" data-toggle="tab" class="text-red"><%= __('user-review')%></a></li>-->
                <!--&lt;!&ndash;<li><a href="#host<%= i%>" data-toggle="tab" class="text-red"><%= __('host-review')%></a></li>&ndash;&gt;-->
              <!--</ul>-->

              <div class="tab-content">
                <div id="review<%= i%>" class="tab-pane active">
                  <%
                    var reviews = meal.reviews;
                    var number = 0;
                    var perPage = 3;
                    var curPage = 1;
                    for(var j=0; j < reviews.length; j++){
                      var review = reviews[j];
                      if(review.dish == dish.id && review.isPublic){
                        number++;
                  %>
                  <div class="item">
                    <div class="row">
                      <div class="col-sm-9 text-left">
                        <div data-toggle="tooltip" data-placement="bottom" title="<%= review.score.toFixed(2)%>" style="margin-top: 5px;display: inline;">
                          <div class="rating" data-toggle="star-set" data-rate="<%= review.score.toFixed(2)%>">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <h4 style="display: inline-block;"><small style="font-size: 16px;" class="text-grey" data-id=<%= review.user %>><%= review.username %> : <%= review.title%> ( $<%= parseFloat(review.price).toFixed(2)%> )</small></h4>
                      </div>
                      <div class="col-sm-3">
                        <h3 class="text-right"><small><%= review.get_formatted_time() %></small></h3>
                      </div>
                    </div>
                    <h4 class="text-left"><small class="text-black"><%= review.review %></small></h4>
                    <div class="divider"></div>
                  </div>
                  <% }} %>

                  <nav class="pull-right">
                    <ul class="pagination pagination-sm" data-trigger="pagination" data-target="#review<%= i%>" data-npp="3">
                      <li class="active"><a href="javascript:void(0)">1</a></li>
                    </ul>
                  </nav>
                </div>

                <div id="host<%= i%>" class="tab-pane">
                </div>
              </div>

            </div>
          </div>
          <%}}} %>

      <h1></h1>
      </div>
    </div>

      <div class="col-md-4">
        <div class="box white floater static-floater">
          <div id="order-alert" class="alert alert-danger hide" role="alert">
            <%= __('dish-out-tips')%>
          </div>
          <% if(meal.isFull()){%>
          <div class="alert alert-danger" role="alert">
            <%= __('dish-out-tips')%>
          </div>
          <%}else if(meal.isExpire()){%>
          <div class="alert alert-danger" role="alert">
            <%= __('meal-expire-tips')%>
          </div>
          <%}else if(meal.isNotStart()){%>
          <div class="alert alert-danger" role="alert">
            <%= __('meal-not-start-tips')%>
          </div>
          <%}%>
          <div class="<%= (meal.isFull() || meal.isExpire() || meal.isNotStart()) ? 'hide' : ''%>">
            <table id="order" class="table tableBodyScroll" data-err-container="#order-alert">
              <thead>
              <tr>
                <th><%= __('name')%><i class="fa fa-question-circle cursor-pointer" data-toggle="tooltip" data-placement="buttom" title="<%= __('order-list-tip')%>"></i></th>
                <td><%= __('price')%></td>
                <td><%= __('quantity')%></td>
              </tr>
              </thead>

              <tbody id="toOrderList" class="scroll">
              <%
              dishes = meal.dishes;
              for(i=0; i < dishes.length; i++){
                dish = dishes[i];
              %>
              <tr class="item" data-id=<%= dish.id %> data-left-amount=<%= meal.isPartyMode === true ? "100" : meal.leftQty[dish.id] %>>
                <td><%= dish.titleI18n(locale) %><br/><span class="preference"></span> </td>
                <%
                  var newPrice = dish.getPrice(meal.getDynamicDishesTotalOrder(0), meal);
                if(dish.isDynamicPriceOn && meal.isSupportDynamicPrice && newPrice !== dish.price){ %>
                <td class="price" value=<%= newPrice %> old-value=<%= dish.price || ''%> data-extra=0>$<%= newPrice %> <s>$<%= dish.price%></s></td>
                <%}else{%>
                <td class="price" value=<%= dish.price %> old-value='' data-extra=0>$<%= dish.price %></td>
                <%}%>
                <td>
                  <button type="button" class="btn btn-default btn-xs" onclick="javascript:orderFood('<%= dish.id %>',-1,true)">-</button>
                  <span class="amount" style="padding: 5px;">  0  </span>
                  <button type="button" class="btn btn-default btn-xs" onclick="javascript:orderFood('<%= dish.id %>',1,true)">+</button>
                </td>
              </tr>
              <% }%>
              <tr>
                <th class="text-center">
                  <button class="btn btn-green" id="expandMenuBtn" onclick="updateOrderWindow(true, true)"><%= __('order-more')%></button>
                  <button class="btn btn-green" id="collapseMenuBtn" onclick="updateOrderWindow(true, true)"><%= __('order-less')%></button>
                </th>
              </tr>
              </tbody>
              <tbody>
              <tr></tr>
              <tr>
                <th class="text-right"><%= __('meal-fee')%><span class="subtotal">$0.00</span></th>
              </tr>
              <tr class="border-less">
                <th class="text-right"><%= __('tax')%>:<span class="tax" data-value="0" data-taxrate="<%= meal.getTaxRate()%>"> $0.00</span></th>
              </tr>
              <tr>
                <th class="text-right"><i class="fa fa-question-circle text-lightgrey cursor-pointer" data-toggle="tooltip" title="<%= __('tip-service-fee')%>"></i> <%= __('service-fee')%>:<span class="service-fee" data-value="0"> $<%= meal.serviceFee%></span></th>
              </tr>
              <tr></tr>
              <% if(user){%>
              <tr>
                <th style="vertical-align: middle;"><i class="fa fa-question-circle text-lightgrey cursor-pointer" data-toggle="tooltip" title="<%= __('coupon')%>"></i> <%= __('coupon')%>:</th>
                <th><input class="coupon-code form-control" style="margin:0 5px 0 5px;width: 80px;" maxlength="7" data-code="" data-value=""></input></th>
                <th class="text-right">
                  <button id="applyCouponBtn" class="btn btn-green"><%= __('apply-code')%></button>
                  <button id="disApplyCouponBtn" class="btn btn-default btn-outline" onclick="javascript:applyCoupon(false);"><%= __('disapply-code')%></button>
                </th>
              </tr>
              <tr>
                <th style="vertical-align: middle;"><i class="fa fa-question-circle text-lightgrey cursor-pointer" data-toggle="tooltip" title="<%= __('points-tips')%>"></i> <%= __('points')%>:</th>
                <th><input class="points form-control" style="margin:0 5px 0 5px;width: 80px;" readonly value="<%= user?(user.points || 0):-1%>"></input></th>
                <th class="text-right">
                  <button id="applyPointsBtn" class="btn btn-green"><%= __('apply-code')%></button>
                  <button id="disApplyPointsBtn" class="btn btn-default btn-outline" onclick="javascript:applyPoints(false);"><%= __('disapply-code')%></button>
                </th>
              </tr>
              <tr></tr>
              <%}%>
              <tr>
                <th class="text-right"><%= __('total')%><span class="total"></span></th>
              </tr>
              </tbody>
            </table>

            <div class="row">
              <div class="col-xs-12">
                <button type="button" data-id="<%= meal.id%>" class="btn btn-grey-red active" onclick="javascript:location.href='/meal/' + $(this).data('id') + '/confirm' + '<%= meal.isPartyMode === true ? '?party=true' : ''%>'"><%= __('checkout')%></button>
              </div>
            </div>
          </div>

          <div id="orderAlertView" class="alert alert-danger hide" style="margin-top: 10px;"></div>

          <div class="scroll-container">
            <table id="confirm-order" class="table text-grey" style="margin-top: 10px;">
              <thead class="text-left">
              <tr><td><b><%= __('meal-orders')%></b></td></tr>
              </thead>
              <tbody class="text-left">
              <%
                if(!orders){%>
              <tr><td><%= __('meal-orders-login-can-see')%></td></tr>
              <%
              }else if(orders && orders.length > 0){
                  var index = 1;
                  orders.forEach(function(order){%>
                    <tr><td><%= index%>. <%= order.customerName || __('user')%>
                    <%
                      Object.keys(order.orders).forEach(function(dishId){
                      meal.dishes.forEach(function(dish){
                        if(dish.id == dishId){
                          var amount = order.orders[dishId].number;
                          if(amount>0){
                    %>
                      <%= dish.titleI18n(locale)%>(<%= amount%>)
                    <%index++;
                    }}});})})}else{ %>
                          <tr><td><%= __('meal-no-orders')%></td></tr>
              <%}%>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <h1></h1>
  </div>
</div>

<ol id="tour" style="display: none;">
  <li data-target="#cateringModeBtn" data-angle="355">
    <%= __('catering-option', meal.partyRequirement ? meal.partyRequirement.minimal : 100)%>
  </li>
</ol>

<script>
  var mealSelectionView = new MealSelectionView({ el : $("#meal-detail-container"), model : new Meal()});
  var coverDishId = $("#meal-detail-container").data("cover");
  var user = $("#meal-detail-container").data("user");
  var coverDish = $("#meal-detail-container").find(".dish a[data-gallery='" + coverDishId + "']");
  var dishTitle = coverDish.data("title");
  var desc = coverDish.data("footer");
  setupWechat($("#meal-detail-container").data("coverstring"),$("#meal-detail-container").data("title"), dishTitle + ":" + desc);
  if(!user){
    wechatLogin();
  }
//  $("#social-share").jsSocials({
//    shareIn: "popup",
//    text : "SFMeal.com",
//    shares: ["facebook", "pinterest","twitter","pocket"]
//  });
</script>

<script src="/js/utils/jweixin-1.0.0.js"></script>
