<div class="container default-container text-center relative" style="margin-top:-20px;background-color: #f2f2f2;">

  <div class="normal-banner">
    <div class="img-wrapper row">
      <img src="/images/homecover-1.jpg" class="relative middle">
    </div>

    <div class="absolute" style="width: 95%;top:0;">
      <div class="row relative text-left">
        <a href="/" class="logo"></a>
      </div>

      <div class="row relative text-left" style="top: 20px;width:450px;margin: auto;">
        <h4 class="text-white"><strong>今天吃什么好呢？</strong></h4>
        <div class="btn-group">
          <input name="keyword" class="input btn btn-default round light" placeholder="输入牛排看看">
          <input name="zipcode" type="text" class="btn btn-default zipCode" placeholder="邮编" style="width: 100px;display: inline;" value="<%= user?(user.zipcode?user.zipcode:''):''%>">
          <button class="btn btn-warning round orange text-white" onclick="javascript:search(this)">
            <i class="fa fa-search"></i>
            搜索
          </button>
        </div>
      </div>
    </div>
  </div>

  <h2></h2>

  <div class="container-fluid">
    <div class="row middle">
    </div>

    <%
      var numberOfOrder = meals.filter(function(meal){
        return meal.type == "order";
      }).length;
      var numberOfPreorder = meals.filter(function(meal){
        return meal.type == "preorder";
      }).length;
    %>
    <% if (typeof search != 'undefined' && search ){ %>
      <h4>以下是搜索“<%= typeof keyword === 'undefined' ? keyword : '' %>”的菜单，
        <%= zipcode ? zipcode + "附近" : ""%>一共有<%= numberOfOrder %>份可现点，和<%= numberOfPreorder %>份可预定。</h4>
    <% } %>
    <div class="row middle" style="margin-bottom: 20px;margin-top: 20px;">
      <div class="btn-set" data-toggle="btn-set">
        <button class="btn btn-disable btn-lg round active filter" data-filter="all" style="width: 100px;line-height: 15px;">全部</button>
        <button class="btn btn-disable btn-lg round filter" data-filter=".order" style="width: 100px;line-height: 15px;">现点</button>
        <button class="btn btn-disable btn-lg round filter" data-filter=".preorder" style="width: 100px;line-height: 15px;">预定</button>
      </div>
      <h2></h2>

      <div class="btn-set" data-toggle="btn-set">
        <button class="btn btn-info filter" data-filter=".appetizer">餐前小菜</button>
        <button class="btn btn-info filter" data-filter=".entree">主食</button>
        <button class="btn btn-info sort" data-sort="distance-order:asc">按照距离排序</button>
        <button class="btn btn-info sort" data-sort="price-order:asc">按照热度排序 <i class="fa fa-question-circle"></i></button>
      </div>
    </div>

    <div id="meal-container" class="row text-center">

      <%
      var monthDic = ["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"];
      for(var i=0; i< meals.length; i++) {
          var meal = meals[i];
          var mainDish = meal.dishes[0];
          if(typeof anchor !== 'undefined'){
            var distance = meal.chef.getDistance(anchor.lat, anchor.long);
          }else if(user){
            var distance = meal.chef.getDistance(user.lat, user.long);
          }
      %>

      <div class="meal-box meal col-md-4 col-lg-3 col-xs-12 mix appetizer item <%= meal.type %>" data-distance-order=<%= distance %> data-price-order=<%= mainDish.price %>>
        <div class="box-grid white" style="overflow: hidden;">
          <div class="relative">
          <i class="fa fa-heart fa-2x fav text-white <% if(user && user.collects) user.collects.forEach(function(m){if(meal.id == m.id){%>
                text-red
                <%}})%>" data-toggle="collect-item" data-meal="<%= meal.id%>" data-user="<%= user?user.id:user%>"></i>
            <img class="photo" src= <%= mainDish.photos[0].v %> data-meal=<%= meal.id %> onclick="javascript:location.href='/meal/' + $(this).data('meal')">
            <h1 class="desc absolute text-white middle text-shadow font-elegant"><strong><%= meal.provideFromTime.getDate() %><br><%= monthDic[meal.provideFromTime.getMonth()] %><br><%= meal.provideFromTime.getFullYear() %></strong></h1>
        </div>
          <div class="col-md-6 basic-info">
            <h3 class="text-red text-left">$<%= mainDish.price.toFixed(2) %><br>
              <small class="text-black"><strong><%= mainDish.title %></strong></small>
            </h3>
          </div>
          <div class="col-md-6">
            <h3><small>剩余<%= meal.leftQty[mainDish.id] %>份<br>自取/送餐</small></h3>
          </div>
          <div class="divider"></div>
          <div class="row vertical-align chef-cell">
            <div class="col-sm-3">
              <img class="round_thumb size-small" onclick="location.href='/host/<%= meal.chef.id%>'" src=<%= meal.chef.picture || "/images/thumbnail.jpg" %>>
            </div>
            <div class="col-sm-9">
              <h4 class="text-left text-dark"><%= meal.chef.shopName %><br><small><%= meal.chef.intro %></small></h4>
            </div>
          </div>
        </div>
      </div>
      <% } %>

    </div>
  </div>

  <nav>
    <ul class="pagination pagination-lg" data-trigger="pagination" data-target="#meal-container" data-npp="10">
      <li class="active"><a href="javascript:void(0)">1</a></li>
    </ul>
  </nav>

</div>
