<div class="text-center relative">

  <div class="pure-banner red">
    <div class="middle banner-text py-3">
      <div class="row vertical-align">
        <div class="col-lg-2"></div>
        <div class="col-5 col-lg-3">
          <img src="/images/welcome-1.png" style="width: 100%;">
        </div>
        <div class="col-2 col-lg-2">
          <a href="/" class="logo-slogan"></a>
        </div>
        <div class="col-5 col-lg-3">
          <img src="/images/welcome-2.png" style="width: 100%;">
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>

    <div class="d-block d-md-inline-flex logo-container pb-3">

      <div class="relative text-center mb-3">
        <!--<h4 class="text-white"><strong><%= __('searching-word')%></strong></h4>-->
        <div class="btn-group search-btn-group">
          <input name="keyword" type="text" class="btn round keyword light input" style="max-width: 150px;" placeholder="<%= __('searching-tips')%>">
          <input name="zipcode" type="number" class="btn btn-default zipCode" placeholder="<%= __('zipcode')%>" value="<%= user?(user.zip?user.zip:''):''%>">
          <button class="btn btn-warning round orange text-white searchBtn" onclick="javascript:search(this)">
            <i class="fa fa-search"></i>
            <%= __('search')%>
          </button>
        </div>
      </div>
    </div>
  </div>

  <% if(meals && meals.meals){%>
  <ul class="nav nav-light nav-fill justify-content-center bg-light">
    <li class="nav-item py-4 active"><a class="nav-link" href="javascript:void(0);" data-filter="all" data-toggle="tab"><%= __('all')%></a></li>
    <% Object.keys(meals.meals).forEach(function(dateKey,i){ %>
    <li class="nav-item py-4"><a class="nav-link" href="javascript:void(0);" data-filter=".<%= dateKey%>" data-toggle="tab"><%= __(dateKey)%></a></li>
    <% })%>
  </ul>
  <% }%>

  <div class="container-fluid pt-3">
    <% if (typeof search != 'undefined' && search ){ %>
    <h4><%= __('search-result', (typeof keyword !== 'undefined' ? keyword : ''), zipcode || '' , meals.summary.orderCount,meals.summary.preOrderCount)%></h4>
    <% } %>

    <div id="meal-container" class="text-center">

        <%
          var dateList = Object.keys(meals.meals);
          dateList.forEach(function(dateKey){
            var mealObj = meals.meals[dateKey];
            var actualMeals = mealObj.meals;
            actualMeals.forEach(function(meal){
              var dish = meal.dishes.filter(function(d){
                  return d.id === meal.cover;
              })[0];
        %>
            <div class="box-compact meal-box col-12 col-md-6 meal mix appetizer text-left item middle <%= dateKey %>">

              <div class="d-flex align-items-start">
                <%
                  var dishesTitle = "";
                  meal.dishes.forEach(function(_d, index){
                    if(index>0){
                      dishesTitle += ",";
                    }
                    dishesTitle += _d.title;
                  });
                %>
                <img class="rounded-circle photo" src="<%= meal.coverString%>" data-meal="<%= meal.id%>" onclick="javascript:location.href='/meal/' + $(this).data('meal')">
                <div class="content ml-4">
                  <h5 class="mt-0"><%= meal.title%></h5>
                  <p class="text-grey"><%= dishesTitle%></p>
                  <h6 class="text-primary menu-price">$<%= dish.price%></h6>
                </div>
              </div>

            </div>
        <%})}); %>

      </div>
    </ul>
  </div>

  <nav>
    <div class="pager-list"></div>
  </nav>

  </div>
</div>
