<div class="container default-container text-center relative" style="margin-top:-20px;background-color: #f2f2f2;">

  <div class="normal-banner">
    <div class="img-wrapper row">
      <img src="/images/homecover-1.jpg" class="relative middle">
    </div>

    <div class="absolute logo-container">
      <div class="relative text-left">
        <a href="/" class="logo"></a>
      </div>

      <div class="relative text-left search-container" style="top: 20px;">
        <h4 class="text-white"><strong><%= __('searching-word')%></strong></h4>
        <div class="btn-group">
          <input name="keyword" type="text" class="btn round light input" style="max-width: 150px;" placeholder="<%= __('searching-tips')%>">
          <input name="zipcode" type="number" class="btn btn-default zipCode" placeholder="<%= __('zipcode')%>" style="width: 100px;display: inline;" value="<%= user?(user.zip?user.zip:''):''%>">
          <button class="btn btn-warning round orange text-white searchBtn" onclick="javascript:search(this)">
            <i class="fa fa-search"></i>
            <%= __('search')%>
          </button>
        </div>
      </div>
    </div>
  </div>

  <h2></h2>

  <div class="container-fluid">
    <div class="row middle">
    </div>

    <%
      var numberOfOrder = meals.filter(function(meal){
        return meal.type == "order";
      }).length;
      var numberOfPreorder = meals.filter(function(meal){
        return meal.type == "preorder";
      }).length;
    %>
    <% if (typeof search != 'undefined' && search ){ %>
      <h4><%= __('search-result', (typeof keyword !== 'undefined' ? keyword : ''), (zipcode ? zipcode + __('nearby') : ""), numberOfOrder,numberOfPreorder)%></h4>
    <% } %>
    <div class="row middle" style="margin-bottom: 20px;margin-top: 20px;">
      <div class="btn-set" data-toggle="btn-set">
        <button class="btn btn-disable btn-lg round active filter" data-filter="all" style="width: 100px;line-height: 15px;"><%= __('all')%></button>
        <button class="btn btn-disable btn-lg round filter" data-filter=".order" style="width: 100px;line-height: 15px;"><%= __('meal-type-order')%></button>
        <button class="btn btn-disable btn-lg round filter" data-filter=".preorder" style="width: 100px;line-height: 15px;"><%= __('meal-type-preorder')%></button>
      </div>
      <h2></h2>

      <div class="btn-set" data-toggle="btn-set">
        <button class="btn btn-outline filter" data-filter=".appetizer"><%= __('appetizer')%></button>
        <button class="btn btn-outline filter" data-filter=".entree"><%= __('main')%></button>
        <button class="btn btn-outline sort" data-sort="distance-order:asc"><%= __('sort-as-distance')%></button>
        <button class="btn btn-outline sort" data-sort="price-order:asc"><%= __('sort-as-hot')%> <i class="fa fa-question-circle"></i></button>
      </div>
    </div>

    <div id="meal-container" class="row text-center">

      <%
      var monthDic = ["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"];
      for(var i=0; i< meals.length; i++) {
        var meal = meals[i];
        var cover = meal.cover;
        if(!cover){
          var mainDish = meal.dishes[0];
        }else{
          var mainDish = meal.dishes.filter(function(dish){
            return dish.id == cover;
          })[0];
        }
        if(!mainDish){
          break;
        }
        if(typeof anchor !== 'undefined' && anchor){
          var distance = meal.chef.getDistance(anchor.lat, anchor.long);
        }else if(user){
          var distance = meal.chef.getDistance(user.lat, user.long);
        }
      %>

      <div class="meal-box meal col-md-4 col-lg-3 col-xs-12 mix appetizer item <%= meal.type %>" data-distance-order=<%= distance %> data-price-order=<%= mainDish.price.toFixed(2)%>>
        <div class="box-grid white" style="overflow: hidden;">
          <div class="relative item-image">
          <i class="fa fa-heart fa-2x fav text-white <% if(user && user.collects) user.collects.forEach(function(m){if(meal.id == m.id){%>
                text-red
                <%}})%>" data-toggle="collect-item" data-meal="<%= meal.id%>" data-user="<%= user?user.id:user%>"></i>
            <img class="photo" src= <%= meal.coverString %> data-meal=<%= meal.id %> onclick="javascript:location.href='/meal/' + $(this).data('meal')">
            <% if(meal.type == 'preorder'){ %>
              <h1 class="desc absolute text-white middle text-shadow font-elegant"><strong><%= meal.provideFromTime.getDate() %><br><%= monthDic[meal.provideFromTime.getMonth()] %><br><%= meal.provideFromTime.getFullYear() %></strong></h1>
            <%}%>
          </div>
          <div class="col-md-7 basic-info">
            <div class="col-xs-12">
              <h3 class="text-red text-left">$<%= mainDish.price.toFixed(2) %><br>
                <small><strong class="text-black"><%= mainDish.title %></strong> <span>( <%= mainDish.quantity || '1' + __('fen')%>)</span></small>
              </h3>
            </div>
          </div>
          <div class="col-md-5">
            <h3><small><%= __('left')%><%= meal.leftQty[mainDish.id] + __('fen')%><br><%=  __('self-pickup') + (meal.isDelivery ? ("/" + __('delivery')) : '')%></small></h3>
          </div>
          <div class="divider"></div>
          <div class="row vertical-align chef-cell">
            <div class="col-sm-3">
              <img class="round_thumb size-small" onclick="location.href='/host/<%= meal.chef.id%>'" src=<%= meal.chef.picture || "/images/profile_man.png" %>>
            </div>
            <div class="col-sm-9">
              <h4 class="text-left text-dark"><%= meal.chef.shopName %><br><small><%= meal.chef.intro %></small></h4>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <nav>
    <div class="pager-list"></div>
  </nav>

</div>
