
<div class="container-fluid text-center" style="margin-top:-20px;">
  <div class="row">
    <div class="pure-banner vertical-align green">
      <div class="middle banner-text">
        <div class="vertical-align" style="margin-bottom: 5px;">
          <div class="col-sm-3">
            <a href="/" class="logo logo-sm"></a>
          </div>
          <div class="col-sm-9">
            <h4 class="text-white"><strong><%= __('welcome')%></strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="default-container">
      <ul class="nav nav-tab-green nav-justified" style="padding: 20px;">
        <li><a href="/host/me#myorder"><h4><strong><%= __('host-nav-order')%></strong></h4></a></li>
        <li class="active"><a href="/host/me#mymeal"><h4><strong><%= __('host-nav-meal')%></strong></h4></a></li>
        <li><a href="/host/me#mydish"><h4><strong><%= __('host-nav-dish')%></strong></h4></a></li>
        <li><a href="/host/me#myinfo"><h4><strong><%= __('host-nav-info')%></strong></h4></a></li>
      </ul>

      <div id="mealEditingView" class="middle box-compact">
        <div class="box box-shadow box-primary white text-left">
          <form class="form-horizontal" data-meal-id="<%= meal.id%>" data-id="<%= meal.userId%>" data-host-id="<%= meal.chef.id%>" data-err-container=".submit" data-toggle="validator">

            <div class="form-group">
              <div id="dish-selector" data-toggle="dish-selector" data-mealid="<%= meal.id%>" data-isremote="true" class="row">
                <div class="col-md-5">
                  <label for="dishList">1.</span><%= __('add-to-meal')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                  <ul id="dishList" class="border-lightgrey selectable-list">
                    <% meal.allDishes.forEach(function(dish){
                      var dishes = meal.dishes;
                      var hasDish = false;
                      dishes.forEach(function(existDish){
                        if(dish.id == existDish.id){
                          hasDish = true;
                        }
                      });
                      if(hasDish){%>
                      <li class="select" data-id="<%= dish.id%>"><a class="text-white" name="title"><%= dish.title%><i class="fa fa-ticket"></i></a></li>
                      <%}else{%>
                      <li data-id="<%= dish.id%>"><a class="text-green" name="title"><%= dish.title%><i class="fa fa-ticket"></i></a></li>
                    <%}});%>
                  </ul>
                </div>

                <div class="col-md-7">
                  <div class="row">
                    <div class="col-sm-2 vertical-align" style="height: 120px;">
                      <i class="fa fa-arrow-circle-o-right fa-4x"></i>
                    </div>
                    <div class="col-sm-10">
                      <div>
                        <label>
                          <%= __('meals-dishes')%>
                          <i class="fa fa-star text-yellow" data-toggle="tooltip" title=<%= __('main-dish-tip')%>></i><%= __('as-main-dishes')%>,
                          <i class="fa fa-fire text-yellow" data-toggle="tooltip" title=<%= __('fire-dish-tip')%>></i><%= __('as-fire-dishes')%>,
                          <i class="fa fa-camera text-yellow" data-toggle="tooltip" title="<%= __('cover-dish-tip')%>"></i> <%= __('as-cover')%>
                          <br/><%= __('stock')%>:</label>
                      </div>
                      <ul id="dishSelected" class="border-lightgrey handle-list" data-error="<%= __('need-one-dish')%>">
                        <%
                        var dishes = meal.dishes;
                        var dynamicDishes = meal.dynamicDishes;
                        var cover = meal.cover;
                        var features = meal.features;
                        var total = meal.totalQty;
                        dishes.forEach(function(dish){
                          var hasCover = false;
                          var hasFeatures = false;
                          var hasDynamicDish = dynamicDishes.some(function(d){
                              return d.id === dish.id;
                          });
                          var quantity = total[dish.id] ? total[dish.id] : 1;
                          if(dish.id == cover){ hasCover = true;}
                          if(features.indexOf(dish.id)>-1){ hasFeatures = true; }
                        %>
                        <li class="row" data-toggle="manipulate-item" data-meal-id="<%= meal.id || ''%>" data-id="<%= dish.id || ''%>" data-cover="<%= hasCover%>" data-feature="<%= hasFeatures%>" data-fire="<%= hasDynamicDish%>">
                          <div class="col-xs-6">
                            &nbsp;
                            <i class="manipulate-button fa fa-star <%= (features && features.indexOf(dish.id)!=-1)?'text-yellow':'text-grey'%> cursor-pointer" data-type="feature"></i>
                            <% if(dish.isDynamicPriceOn){%><i class="manipulate-button fa fa-fire <%= hasDynamicDish ?'text-yellow' : 'text-grey'%>  cursor-pointer" data-type="fire"></i>
                            <%}%>
                            <i class="manipulate-button fa fa-camera <%= (cover && cover==dish.id)?'text-yellow' : 'text-grey'%>  cursor-pointer" data-type="cover"></i>
                            <label name="title"><%= dish.title%></label>
                          </div>
                          <div class="col-xs-1">
                            <i class="fa fa-close cursor-pointer select" data-id="<%= dish.id%>" data-type="close" style="margin-left:10px;"></i>
                          </div>
                          <div class="col-xs-4 vertical-align" style="height:52px;padding-top: -10px;">
                            <div class="input-group amount-input" data-toggle="amount-input">
                              <div class="input-group-addon minus">-</div>
                              <input class="form-control" type="number" pattern="[0-9]*" inputmode="numeric" value="<%= quantity%>" style="min-width: 75px;">
                              <div class="input-group-addon add">+</div>
                            </div>
                          </div>
                        </li>
                        <%}); %>
                      </ul>
                      <div class="alert alert-danger" data-toggle="alert"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label style="display: block;" for="">2.<%= __('meal-type-title')%><i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
              <div class="row">
                <div class="col-xs-12">
                  <label id="orderTypeBtn" class="btn btn-default fixed-label vertical-align" data-href="#order" style="width: 120px;" onclick="javascript:$($(this).data('href')).parent().find('.tab-pane').hide();$($(this).data('href')).show();">
                    <input type="radio" id="radio-order-now" name="radio-set-1" class="regular-radio" <%= meal.type=="order" ? "checked=''" : ''%> ><label for="radio-order-now"></label><span style="margin-left: 10px;"><%= __('meal-type-order')%></span>
                  </label>

                  <label id="preorderTypeBtn" class="btn btn-default fixed-label vertical-align" data-href="#preorder" style="width: 120px;" onclick="javascript:$($(this).data('href')).parent().find('.tab-pane').hide();$($(this).data('href')).show();">
                    <input type="radio" id="radio-preorder" name="radio-set-1" class="regular-radio" <%= meal.type=="preorder" ? "checked=''" : ''%>><label for="radio-preorder"></label><span style="margin-left: 10px;"><%= __('meal-type-preorder')%></span>
                  </label>
                </div>
                <div class="col-xs-12 tab-content">
                  <div id="order" style="display: block;" class="tab-pane middle">
                    <div class="form-group row" style="margin-top:20px;">
                      <div class="col-sm-2 vertical-align" style="height: 30px;">
                        <label><%= __('from-time')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                      </div>
                      <div class="col-sm-10 vertical-align start-booking" style="height: 40px;">
                        <div class="form-group">
                          <div class='input-group date' data-toggle="dateTimePicker" data-date="<%= meal.provideFromTime%>">
                            <input type='text' class="form-control" readonly="true"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-2 vertical-align" style="height: 30px;">
                        <label><%= __('end-time')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                      </div>
                      <div class="col-sm-10 vertical-align end-booking" style="height: 40px;">
                        <div class="form-group">
                          <div class='input-group date' data-toggle="dateTimePicker" data-date="<%= meal.provideTillTime%>">
                            <input type='text' class="form-control" readonly="true"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="alert alert-danger" data-toggle="alert"></div>
                  </div>
                  <div id="preorder" style="display: none;" class="tab-pane middle">
                    <div class="form-group row vertical-align" style="height: 80px;margin-top:20px;">
                      <div class="col-sm-4">
                        <label><%= __('book-time')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                      </div>
                      <div class="col-sm-8">
                        <div class="form-group start-booking">
                          <div class='input-group date' data-toggle="dateTimePicker" data-date="<%= meal.provideFromTime%>">
                            <span class="input-group-addon"><%= __('from')%></span>
                            <input type='text' class="form-control" readonly="true"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                          </div>
                        </div>
                        <div class="form-group end-booking">
                          <div class='input-group date' data-toggle="dateTimePicker" data-date="<%= meal.provideTillTime%>">
                            <span class="input-group-addon"><%= __('end')%></span>
                            <input type='text' class="form-control" readonly="true"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="pickup_container">
                      <% if(meal.pickups) { meal.pickups.forEach(function(pickup){ if(pickup.isDateCustomized){return}%>
                      <div class="well form-group pickup">
                        <div class="col-sm-4">
                          <label><%= __('pickup-time')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                        </div>

                        <div class="col-sm-8 start-pickup autoCompleteTarget">
                          <div class="form-group">
                            <div class='input-group date' data-toggle="dateTimePicker" data-date="<%= pickup.pickupFromTime%>">
                              <span class="input-group-addon"><%= __('from')%></span>
                              <input type='text' class="form-control" readonly='true'/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                            </div>
                          </div>

                          <div class="form-group end-pickup">
                            <div class='input-group date' data-toggle="dateTimePicker" data-date="<%= pickup.pickupTillTime%>">
                              <span class="input-group-addon"><%= __('end')%></span>
                              <input type='text' class="form-control" readonly="true"/>
                              <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                              </span>
                            </div>
                          </div>

                          <div class="form-group location pickup-item" style="display: <%= pickup.method == 'pickup' ? 'block' : 'none'%>">
                            <label><%= __('pickup-location')%></label>
                            <input type="text" class="form-control" value="<%= pickup.location || '' %>">
                          </div>

                          <div class="form-group delivery-center delivery-item" style="display: <%= pickup.method == 'delivery' ? 'block' : 'none'%>">
                            <label><%= __('delivery-center')%></label>
                            <input type="text" class="form-control" value="<%= pickup.deliveryCenter || '' %>">
                          </div>

                          <div class="form-group public-location pickup-item" style="display: <%= pickup.method == 'pickup' ? 'block' : 'none'%>">
                            <label><%= __('pickup-public-location')%></label>
                            <input type="text" class="form-control" value="<%= pickup.publicLocation || '' %>">
                          </div>

                          <div class="form-group instruction pickup-item" style="display: <%= pickup.method == 'pickup' ? 'block' : 'none'%>">
                            <label><%= __('pickup-instruction')%></label>
                            <input type="text" class="form-control" value="<%= pickup.instruction || '' %>">
                          </div>

                          <div class="form-group area" data-county="<%= pickup.county || ''%>">
                            <label><%= __('area')%></label>
                            <input class="form-control" type="text" readonly="readonly" value="<%= pickup.area || ''%>">
                          </div>

                          <div class="form-group method">
                            <label><%= __('pickup-method')%></label>
                            <select class="form-control" value="<%= pickup.method%>">
                              <% if(pickup.method == 'delivery'){%>
                              <option value="delivery" selected="true"><%= __('delivery')%></option>
                              <option value="pickup"><%= __('self-pickup')%></option>
                              <%}else{%>
                              <option value="delivery"><%= __('delivery')%></option>
                              <option value="pickup" selected="true"  ><%= __('self-pickup')%></option>
                              <%}%>
                            </select>
                          </div>

                          <div class="form-group phone">
                            <label><%= __('phone')%></label>
                            <input type="tel" class="form-control" value="<%= pickup.phone || meal.phone%>">
                          </div>

                        </div>
                      </div>
                      <%})}else{;%>
                      <div class="well form-group pickup">
                        <div class="col-xs-4">
                          <label><%= __('pickup-time')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                        </div>

                        <div class="col-xs-8 start-pickup">
                          <div class="form-group">
                            <div class='input-group date' data-toggle="dateTimePicker">
                              <span class="input-group-addon"><%= __('from')%></span>
                              <input type='text' class="form-control" readonly="true"/>
                              <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                            </div>
                          </div>

                          <div class="form-group end-pickup">
                            <div class='input-group date' data-toggle="dateTimePicker">
                              <span class="input-group-addon"><%= __('end')%></span>
                              <input type='text' class="form-control" readonly="true"/>
                              <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                            </div>
                          </div>

                          <div class="form-group location">
                            <label><%= __('pickup-location')%></label>
                            <input type="text" class="form-control">
                          </div>

                          <div class="form-group method">
                            <label><%= __('pickup-method')%></label>
                            <select class="form-control">
                              <option value="delivery"><%= __('delivery')%></option>
                              <option value="pickup" selected="true"><%= __('self-pickup')%></option>
                            </select>
                          </div>

                          <div class="form-group phone">
                            <label><%= __('phone')%></label>
                            <input type="text" class="form-control" value="<%= meal.phone || ''%>">
                          </div>

                        </div>
                      </div>
                      <%}%>
                    </div>

                    <div id="pickupAlert" class="alert alert-danger" data-toggle="alert"><%= __('need-one-pickup-location')%></div>

                    <button id="addNewPickupBtn" class="btn btn-info pull-right"><%= __('add-new-pickup')%></button>
                    <button id="removeNewPickupBtn" class="btn btn-danger pull-right" style="margin-right:10px;"><%= __('remove-pickup')%></button>

                  </div>
                </div>
                <script>
                  if($("#radio-order-now").prop('checked')){
                    $("#order").show();
                    $("#preorder").hide();
                  }else{
                    $("#order").hide();
                    $("#preorder").show();
                  }
                </script>
              </div>

              <div id="scheduleAlert" class="alert alert-danger" data-toggle="alert" style="margin-top:10px;"></div>
            </div>

            <div class="form-group" style="margin-top: 30px;">
              <label style="display: block;">3.<%= __('meal-minimal-requirement-title')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
              <div class="row">
                <div class="order-require">
                  <div class="col-xs-12" data-toggle="exclusive-input">
                    <div class="row box-compact">
                      <div class="col-sm-4">
                        <div class="input-group" name="1">
                          <input id="min-order" class="form-control normal-number-input" type="number" min="0" max="999" data-error="<%= __('need-minimal-requirement')%>" value="<%= meal.minimalOrder || 1 %>">
                          <div class="input-group-addon"><%= __('fen')%></div>
                        </div>
                      </div>
                      <div class="col-sm-1 vertical-align" style="height: 35px;"><label class="middle"><%= __('or')%></label></div>
                      <div class="col-sm-4">
                        <div class="input-group" name="2">
                          <input id="min-total" class="form-control normal-number-input" type="number" min="0" max="9999" data-error="<%= __('need-minimal-requirement')%>" value="<%= meal.minimalTotal || 1 %>">
                          <div class="input-group-addon"><%= __('dollar')%></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="row">
                      <div class="col-xs-12 col-md-4">
                        <input type="checkbox" data-toggle="switch-button" id="supportParty" <%= meal.supportPartyOrder===true?"checked='checked'":""%>>
                        <label for="supportParty"></label>
                        <span style="margin-left: 10px;"><%= __('support-party')%></span>
                        <i class="fa fa-question-circle cursor-pointer" data-toggle="tooltip" title="<%= __('party-order-tip')%>"></i>
                      </div>
                      <div class="col-xs-12 col-md-6 <%= meal.supportPartyOrder===true ? '' : 'hide'%>" id="partyRequirementView">
                        <div class="row vertical-align">
                          <div class="col-xs-6">
                            <div class="input-group">
                              <input id="cateringMinimal" class="form-control normal-number-input" type="number" pattern="[0-9]*" inputmode="numeric" min="1" max="9999" data-error="<%= __('need-minimal-requirement')%>" value="<%= meal.supportPartyOrder === true ? meal.partyRequirement.minimal : ''%>">
                              <div class="input-group-addon"><%= __('dollar')%></div>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <label><%= __('party-minimal-requirement')%></label>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="box-compact">
                      <div class="alert alert-danger" data-toggle="alert"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group" style="margin-top: 40px;">
              <div class="row">
                <div class="col-xs-12">
                  <label>4.<%= __('delivery-option')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                </div>
                <div class="col-xs-12">
                  <div class="box-compact vertical-align">
                    <input type="checkbox" id="isDelivery" data-toggle="switch-button" class="regular-checkbox" <%= meal.isDelivery ? "checked=''" : ""%> >
                    <label for="isDelivery"></label>
                    <span style="margin-left: 10px;"><%= __('delivery-available')%></span>
                  </div>
                </div>
              </div>
              <div id="deliverySettingView hide" class="row">
                <div class="col-xs-12">
                  <div class="vertical-align">
                    <input type="checkbox" data-toggle="switch-button" id="isDeliveryBySystem" class="regular-checkbox" <%= meal.isDeliveryBySystem ? "checked=''" : ""%>>
                    <label for="isDeliveryBySystem"></label>
                    <span style="margin-left: 10px;"><%= __('delivery-by-system')%></span>
                  </div>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-8">
                  <div class="well setting <%= (meal.isDelivery && !meal.isDeliveryBySystem) ? '' : 'hide'%>" style="margin-top:45px;">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="input-group">
                          <div class="input-group-addon"><%= __('delivery-fee')%>: $</div>
                          <input id="deliveryFeeInput" class="form-control" type="number" inputmode="numeric" placeholder="5" value="<%= meal.delivery_fee%>">
                        </div>
                      </div>
                      <div class=col-sm-6>
                        <div class="input-group">
                          <div class="input-group-addon"><%= __('delivery-range')%>:</div>
                          <input id="deliveryRangeInput" class="form-control" type="number" inputmode="numeric" placeholder="5" value="<%= meal.delivery_range%>">
                          <div class="input-group-addon"><%= __('miles')%></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="form-group" style="margin-top: 40px;">
              <div class="row">
                <div class="col-xs-12">
                  <label>5.<%= __('shipping-option')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                </div>
                <div class="col-xs-12">
                  <div class="box-compact vertical-align">
                    <input type="checkbox" id="isShipping" class="regular-checkbox" <%= meal.isShipping ? "checked=''" : ""%> >
                    <label for="isShipping"></label>
                    <span style="margin-left: 10px;"><%= __('shipping-available')%></span>
                  </div>
                </div>
              </div>

              <!--<div class="row">-->
                <!--<div class="col-sm-12 col-md-10 col-lg-8">-->
                  <!--<div class="col-sm-6">-->
                    <!--<div class="form-inline">-->
                      <!--<label><%= __('shipping-type')%>:</label>-->
                      <!--<select id="shippingTypeOpt" class="form-control" <%= meal.isShipping ? "" : "disabled=''"%> style="min-width: 250px;" value="<%= meal.shippingPolicy ? meal.shippingPolicy.type : ''%>">-->
                        <!--<option value="custom" <%= (meal.isShipping && meal.shippingPolicy && meal.shippingPolicy.type == 'custom') ? "selected" : ""%>><%= __('custom')%></option>-->
                        <!--<option value="fixed" <%= (meal.isShipping && meal.shippingPolicy && meal.shippingPolicy.type == 'fixed') ? "selected" : ""%>><%= __('fixed')%></option>-->
                      <!--</select>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class=col-sm-6>-->
                    <!--<div class="input-group">-->
                      <!--<div class="input-group-addon"><%= __('shipping-fee')%>: $</div>-->
                      <!--<input id="shippingFee" class="form-control" type="number" pattern="[0-9]*" inputmode="numeric" placeholder="" value="<%= meal.shippingPolicy ? meal.shippingPolicy.price : ''%>" <%= (meal.isShipping && meal.shippingPolicy && meal.shippingPolicy.type == 'fixed') ? "" : "disabled=''"%>>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->

              <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-8">
                  <div class="box-compact">
                    <div class="row">
                      <!--<div class="col-xs-6 vertical-align">-->
                        <!--<input type="checkbox" id="freeShippingOption" class="regular-checkbox" <%= (meal.isShipping && meal.shippingPolicy && meal.shippingPolicy.hasFreePolicy) ? "checked=''" : ""%> >-->
                        <!--<label style="margin-left: 10px;" for="freeShippingOption"></label>-->
                        <!--<span style="margin-left:10px;"><%= __('offer-free-shipping-amount')%></span>-->
                      <!--</div>-->
                      <div class="col-xs-6">
                        <div class="input-group">
                          <div class="input-group-addon"><%= __('free-amount')%>: $</div>
                          <input type="number" pattern="[0-9]*" inputmode="numberic" class="form-control" id="freeAmount" value="<%= (meal.isShipping && meal.shippingPolicy) ? meal.shippingPolicy.freeAmount : ''%>" <%= !meal.isShipping || !meal.shippingPolicy || !meal.shippingPolicy.hasFreePolicy ? 'disabled="true"' : ''%>>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group" style="margin-top:40px">
              <label style="margin-right:15px;">6.<%= __('is-dynamic')%></label>
              <input type="checkbox" data-toggle="switch-button" id="isSupportDynamicPrice" class="regular-checkbox" <%= !!meal.isSupportDynamicPrice ? "checked=''" : ""%>>
            </div>

            <div class="form-group" style="margin-top: 40px;">
              <label>7.<%= __('name-your-dish')%></label>
              <button class="btn btn-default" data-toggle="input-toggle" data-displaystyle="inline-block" title="<%= __('toggle-language')%>" data-target="#title-container"><i class="fa fa-refresh"></i> </button>
              <div class="row">
                <div class="col-xs-12" id="title-container">
                  <input id="meal_title" class="form-control" style="width: 200px;display: inline-block;" type="text" maxlength="7" placeholder="<%= __('full-name')%>" data-required-error="<%= __('need-name')%>" required value="<%= meal.title%>">
                  <input id="meal_title_en" class="form-control" style="width: 200px;display: inline-block;" type="text" maxlength="30" placeholder="Meal title" data-required-error="<%= __('need-name')%>" value="<%= meal.title_en || ''%>">
                  <small> <%= __('Ex-meal-title')%></small>
                </div>
              </div>
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group text-center submit">
              <button name="publish" type="submit" class="btn btn-green btn-lg round" style="margin-right: 20px;"><%= __('save-and-on')%></button>
              <button name="save" type="button" class="btn btn-disable btn-lg round text-grey"><%= __('save-and-off')%></button>
              <div class="alert alert-danger" data-toggle="alert" style="margin-top: 20px;"></div>
              <div class="alert alert-success" data-toggle="alert" style="margin-top: 20px;"></div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>

<script>
  var mealView = new MealView({ el : "#mealEditingView", model : new Meal()});
  utility.initAutoComplete();
</script>
