
<div class="container-fluid text-center" style="margin-top:-20px;">
  <div class="row">
    <div class="pure-banner vertical-align green">
      <div class="middle banner-text">
        <div class="vertical-align" style="margin-bottom: 5px;">
          <div class="col-sm-3">
            <a href="/" class="logo logo-sm"></a>
          </div>
          <div class="col-sm-9">
            <h4 class="text-white"><strong><%= __('welcome')%></strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="default-container">
      <ul class="nav nav-tab-green nav-justified" style="padding: 20px;">
        <li><a href="/host/me#myorder"><h4><strong><%= __('host-nav-order')%></strong></h4></a></li>
        <li class="active"><a href="/host/me#mymeal"><h4><strong><%= __('host-nav-meal')%></strong></h4></a></li>
        <li><a href="/host/me#mydish"><h4><strong><%= __('host-nav-dish')%></strong></h4></a></li>
        <li><a href="/host/me#myinfo"><h4><strong><%= __('host-nav-info')%></strong></h4></a></li>
      </ul>

      <div id="mealCreatingView">
        <div class="box box-shadow box-primary white text-left">
          <h4 class="text-green"><%= __('new-meal')%></h4>
          <h1></h1>
          <form class="form-horizontal" data-host-id="<%= host.id%>" data-err-container=".submit" data-toggle="validator">

            <div class="form-group">
              <div id="dish-selector" data-toggle="dish-selector" class="row" data-isRemote="false">
                <div class="col-md-5">
                  <label for="dishList">1.<%= __('add-to-meal')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                  <ul id="dishList" class="border-lightgrey selectable-list">
                    <% dishes.forEach(function(dish){%>
                      <li data-id="<%= dish.id%>"><a name="title"><%= dish.title%><i class="fa fa-ticket"></i></a></li>
                    <%});%>
                  </ul>
                </div>

                <div class="col-md-7">
                  <div class="row">
                    <div class="col-sm-2 vertical-align" style="height: 120px;">
                      <i class="fa fa-arrow-circle-o-right fa-4x"></i>
                    </div>
                    <div class="col-sm-10">
                      <div>
                        <label><%= __('meals-dishes')%>，<i class="fa fa-star-o text-yellow"></i> <%= __('as-main-dishes')%>, <i class="fa fa-camera text-yellow"></i> <%= __('as-cover')%></label>
                      </div>
                      <ul id="dishSelected" class="border-lightgrey handle-list" data-error="<%= __('need-one-dish')%>"></ul>
                      <div class="alert alert-danger" data-toggle="alert"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label style="display: block;" for="">2.<%= __('meal-type-title')%><i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
              <div class="row">
                <div class="col-xs-12">
                  <label id="orderTypeBtn" class="btn btn-default fixed-label vertical-align" data-href="#order" style="width: 120px;">
                    <input type="radio" id="radio-order-now" name="radio-set-1" class="regular-radio" checked=""><label for="radio-order-now"></label><span style="margin-left: 10px;"><%= __('meal-type-order')%></span>
                  </label>

                  <label id="preorderTypeBtn" class="btn btn-default fixed-label vertical-align" data-href="#preorder" style="width: 120px;" onclick="javascript:$($(this).data('href')).parent().find('.tab-pane').hide();$($(this).data('href')).show();">
                    <input type="radio" id="radio-preorder" name="radio-set-1" class="regular-radio"><label for="radio-preorder"></label><span style="margin-left: 10px;"><%= __('meal-type-preorder')%></span>
                  </label>
                </div>
                <div class="col-xs-12 tab-content">
                  <div id="order" style="width: 90%;display: block;" class="tab-pane middle">
                    <div class="form-group row" style="margin-top:20px;">
                      <div class="col-sm-2 vertical-align" style="height: 30px;">
                        <label><%= __("from-time")%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                      </div>
                      <div class="col-sm-10 vertical-align start-booking" style="height: 40px;">
                        <div class="form-group">
                          <div class='input-group date' data-toggle="dateTimePicker" data-min="now">
                            <input type='text' class="form-control" readonly="true"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-2 vertical-align" style="height: 30px;">
                        <label><%= __('end-time')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                      </div>
                      <div class="col-sm-10 vertical-align end-booking" style="height: 40px;">
                        <div class="form-group">
                          <div class='input-group date' data-toggle="dateTimePicker" data-min="now">
                            <input type='text' class="form-control" readonly="true"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="alert alert-danger" data-toggle="alert"></div>
                  </div>

                  <div id="preorder" style="width: 90%;display: none;" class="tab-pane middle">
                    <div class="well form-group" style="margin-top:20px;">
                      <div class="col-sm-4">
                        <label><%= __('provide-time')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                      </div>
                      <div class="col-sm-8">
                        <div class="form-group start-booking">
                          <div class='input-group date' data-toggle="dateTimePicker" data-min="now">
                            <span class="input-group-addon"><%= __('from')%></span>
                            <input type='text' class="form-control" readonly="true"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                          </div>
                        </div>
                        <div class="form-group end-booking">
                          <div class='input-group date' data-toggle="dateTimePicker" data-min="now">
                            <span class="input-group-addon"><%= __('end')%></span>
                            <input type='text' class="form-control" readonly="true"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="pickup_container">
                      <div class="well form-group pickup">
                        <div class="col-sm-4">
                          <label><%= __('pickup-time')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                        </div>

                        <div class="col-sm-8 start-pickup">
                          <div class="form-group">
                            <div class='input-group date' data-toggle="dateTimePicker">
                              <span class="input-group-addon"><%= __('from')%></span>
                              <input type='text' class="form-control" readonly="true"/>
                              <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                              </span>
                            </div>
                          </div>

                          <div class="form-group end-pickup">
                            <div class='input-group date' data-toggle="dateTimePicker">
                              <span class="input-group-addon"><%= __('end')%></span>
                              <input type='text' class="form-control" readonly="true"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                            </div>
                          </div>

                          <div class="form-group location">
                            <label><%= __('pickup-location')%></label>
                            <input type="text" class="form-control">
                          </div>

                          <div class="form-group public-location">
                            <label><%= __('pickup-public-location')%></label>
                            <input type="text" class="form-control">
                          </div>

                          <div class="form-group method">
                            <label><%= __('pickup-method')%></label>
                            <select class="form-control">
                              <option value="delivery"><%= __('delivery')%></option>
                              <option value="pickup" selected="true"><%= __('self-pickup')%></option>
                            </select>
                          </div>

                          <div class="form-group phone">
                            <label><%= __('phone')%></label>
                            <input type="text" class="form-control" value="<%= host.user.phone || ''%>">
                          </div>

                        </div>
                      </div>
                    </div>

                    <div id="pickupAlert" class="alert alert-danger" data-toggle="alert"><%= __('need-one-pickup-location')%></div>

                    <button id="addNewPickupBtn" class="btn btn-info pull-right"><%= __('add-new-pickup')%></button>
                    <button id="removeNewPickupBtn" class="btn btn-danger pull-right" style="margin-right:10px;"><%= __('remove-pickup')%></button>

                  </div>
                </div>
              </div>
              <div id="scheduleAlert" class="alert alert-danger" data-toggle="alert" style="margin-top:10px;"></div>
            </div>

            <div class="form-group order-require" style="margin-top: 10px;">
              <div class="row">
                <div class="col-xs-12">
                  <label>3.<%= __('meal-minimal-requirement-title')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                </div>
                <div class="col-xs-12">
                  <div class="col-sm-4">
                    <div class="input-group">
                      <input id="min-order" class="form-control" type="number" pattern="[0-9]*" inputmode="numeric" min="1" max="999" style="min-width: 100px;" data-error="<%= __('need-minimal-requirement')%>">
                      <div class="input-group-addon"><%= __('fen')%></div>
                    </div>
                  </div>
                  <div class="col-sm-1 vertical-align" style="height: 35px;"><label class="middle"><%= __('or')%></label></div>
                  <div class="col-sm-4">
                    <div class="input-group">
                      <input id="min-total" class="form-control" type="number" pattern="[0-9]*" inputmode="numeric" min="1" max="9999" style="min-width: 100px;" data-error="<%= __('need-minimal-requirement')%>">
                      <div class="input-group-addon">.00<%= __('dollar')%></div>
                    </div>
                  </div>
                </div>
                <div class="alert alert-danger" data-toggle="alert"></div>
              </div>
            </div>

            <div class="form-group" style="margin-top: 40px;">
              <div class="row">
                <div class="col-xs-12">
                  <label>4.<%= __('delivery-option')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                </div>
                <div class="col-xs-12">
                  <div class="box-compact vertical-align">
                    <input type="checkbox" id="isDelivery" class="regular-checkbox" checked="checked">
                    <label for="isDelivery"></label>
                    <span style="margin-left: 10px;"><%= __('delivery-available')%></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-8">
                  <div class="col-sm-6">
                    <div class="input-group">
                      <div class="input-group-addon"><%= __('delivery-fee')%>: $</div>
                      <input id="deliveryFeeInput" class="form-control" type="number" pattern="[0-9]*" inputmode="numeric" placeholder="5" value="5">
                    </div>
                  </div>
                  <div class=col-sm-6>
                    <div class="input-group">
                      <div class="input-group-addon"><%= __('delivery-range')%>:</div>
                      <input id="deliveryRangeInput" class="form-control" type="number" pattern="[0-9]*" inputmode="numeric" placeholder="5" value="5">
                      <div class="input-group-addon"><%= __('miles')%></div>
                    </div>
                  </div>
                </div>
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="form-group" style="margin-top: 40px;">
              <div class="row">
                <div class="col-xs-12">
                  <label>5.<%= __('shipping-option')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer"></i></label>
                </div>
                <div class="col-xs-12">
                  <div class="box-compact vertical-align">
                    <input type="checkbox" id="isShipping" class="regular-checkbox" >
                    <label for="isShipping"></label>
                    <span style="margin-left: 10px;"><%= __('shipping-available')%></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-8">
                  <div class="col-sm-6">
                    <div class="form-inline">
                      <label><%= __('shipping-type')%>:</label>
                      <select id="shippingTypeOpt" class="form-control" style="min-width: 250px;">
                        <option value="custom"><%= __('custom')%></option>
                        <option value="fixed"><%= __('fixed')%></option>
                      </select>
                    </div>
                  </div>
                  <div class=col-sm-6>
                    <div class="input-group">
                      <div class="input-group-addon"><%= __('shipping-fee')%>: $</div>
                      <input id="shippingFee" class="form-control" type="number" pattern="[0-9]*" inputmode="numeric" placeholder="" disabled="disabled">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-8">
                  <div class="box-compact">
                    <div class="row">
                      <div class="col-xs-6 vertical-align">
                        <input type="checkbox" id="freeShippingOption" class="regular-checkbox">
                        <label style="margin-left: 10px;" for="freeShippingOption"></label>
                        <span style="margin-left:10px;"><%= __('offer-free-shipping-amount')%></span>
                      </div>
                      <div class="col-xs-6">
                        <div class="input-group">
                          <div class="input-group-addon"><%= __('free-amount')%>: $</div>
                          <input type="number" pattern="[0-9]*" inputmode="numberic" class="form-control" id="freeAmount" disabled="disabled">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group row" style="margin-top: 30px;">
              <div class="row">
                <div class="col-xs-12">
                  <label style="display: block;" for="">6.<%= __('name-your-meal')%></label>
                  <input id="meal_title" class="form-control" style="width: 200px;display: inline-block;" type="text" maxlength="7" placeholder="<%= __('full-name')%>" data-error="<%= __('need-name')%>" required><small>  <%= __('Ex-meal-title')%></small>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>

            <div class="form-group text-center submit">
              <button name="publish" type="button" class="btn btn-green btn-lg round" style="margin-right: 20px;"><%= __('save-and-on')%></button>
              <button name="save" type="button" class="btn btn-disable btn-lg round text-grey"><%= __('save-and-off')%></button>
              <div class="alert alert-danger" data-toggle="alert" style="margin-top: 20px;"></div>
              <div class="alert alert-success" data-toggle="alert" style="margin-top: 20px;"></div>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>
</div>

<script>
  new MealView({ el : "#mealCreatingView", model : new Meal()});
  if(!googleAPILoaded){
    jQuery.ajax({
      url: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBwSdr10kQ9xkogbE34AyzwspjaifpaFzA&libraries=places&callback=initAutoComplete",
      dataType: 'script',
      async: true,
      defer : true,
      success : function(){
        googleAPILoaded = true;
      }
    });
  }else{
    initAutoComplete();
  }
</script>
