<div class="container default-container text-center relative" style="margin-top:-20px;background-color: #f2f2f2;">

  <div class="compact-banner">
    <div class="img-wrapper row">
      <img src="/images/homecover-1.jpg" class="relative middle">
    </div>

    <div class="row absolute" style="width: 100%;top:0;">

      <div class="col-xs-4 relative text-left">
        <a href="/" class="logo"></a>
      </div>

      <div class="relative text-left col-xs-8 content" style="">
        <h4 class="text-white"><strong><%__('searching-word')%></strong></h4>
        <div class="btn-group">
          <input class="input btn btn-default round light text-grey" placeholder="<%= __('searching-tips')%>">
          <button class="btn btn-warning round orange text-white" onclick="javascript:search(this)">
            <i class="fa fa-search"></i>
            <%= __('search')%>
          </button>
        </div>
        <button class="btn btn-red round" onclick="location.href='/meal'"><%= __('see-menu')%></button>

      </div>

    </div>
  </div>

  <div id="meal-detail-container" class="container-fluid padding-clear" data-lat="<%= meal.chef.lat%>" data-long="<%= meal.chef.long%>" data-range="<%= meal.chef.deliveryRange%>">

    <div class="row">
      <div class="col-md-8">
        <div class="box white">
          <div class="row">
            <div class="col-xs-6">
              <div class="row vertical-align-base">
                <div class="col-xs-9">
                  <h2 class="text-left"><%= meal.title %>  <small class="text-orange"><% if(meal.type=='order'){ __('order') }else if(meal.type=='preorder'){ __('preorder') } %> <i class="fa fa-question-circle text-lightgrey"></i><%= meal.isFull()? __('full'): "" %></small></h2>
                </div>
                <div class="col-xs-3 text-left">
                  <i class="fa fa-heart fa-2x cursor-pointer" data-select="<% if(user && user.collects){%><%= user.isCollect(meal.id)%><%}else{%>false<%}%>" data-toggle="collect-item" data-meal="<%= meal.id%>" data-user="<%= user?user.id:user%>" data-heart="true"></i>
                </div>
              </div>

              <div class="row vertical-align-base">
                <div class="col-xs-12 text-left">
                  <div data-toggle="tooltip" data-placement="bottom" title="<%= meal.score.toFixed(2)%>">
                    <div class="rating" data-toggle="star-set" data-rate="<%= meal.score.toFixed(2)%>">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <small style="font-size: 20px;" class="text-lightgrey">(<%= meal.numberOfReviews %>)</small>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <% if(meal.type=="order"){%>
                    <h3 class="text-left"><small><%= __('provide-time')%> <span data-toggle="time-span" data-format="hourly" data-from="<%= meal.provideFromTime%>" data-to="<%= meal.provideTillTime%>" class="text-red"> <%= meal.provideDate()%></span></small></h3>
                  <%}else{%>
                    <h3 class="text-left"><small><%= __('book-time')%> <span data-toggle="time-span" data-format="date" data-from="<%= meal.provideFromTime%>" data-to="<%= meal.provideTillTime%>" class="text-red"> <%= meal.provideDate()%></span></small></h3>
                    <h3 class="text-left"><small><%= __('pickup-time')%> <span data-toggle="time-span" data-format="day" data-date="<%= meal.pickups[0].pickupFromTime%>" class="text-red"></span></small></h3>
                  <%}%>
                </div>
              </div>

              <div class="row chef-cell vertical-align text-left">
                <div class="col-md-2 col-xs-3">
                  <img class="round_thumb size-small text-center cursor-pointer" onclick="javascript:location.href='/host/<%= meal.chef.id%>'" src=<%= meal.chef.picture || "/images/thumbnail.jpg" %>>
                </div>
                <div class="col-md-8 col-xs-8">
                  <h4 class="text-left text-dark" style="margin: 0 0 0 10px;"><%= meal.chef.shopName %><br><small><%= meal.chef.intro %></small></h4>
                </div>
                <div class="col-md-2">
                  <i class="fa fa-question-circle fa-2x text-lightgrey cursor-pointer" style="position: relative;right: -10px;"></i>
                </div>
              </div>

              <div class="row">
                <% if(meal.type === "order"){%>
                  <div class="box-simple text-left">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"><small class="font-small"><span class="text-black"><%= __('kitchen-pickup')%></span>  <%= __('self-pickup-fee')%></small>
                      </label>
                    </div>
                  </div>
                <div class="divider"></div>
                  <div class="box-simple text-left">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"><small class="font-small"><span class="text-black"><%= __('delivery')%></span>  <%= __('delivery-fee-and-time')%>：<a class="text-red" href="#"><%= __('click-to-cal')%></a> </small>
                      </label>
                    </div>
                  </div>
                <%}else{
                var count = 1;
                meal.pickups.forEach(function(pickupMethod){%>
                  <div class="box-simple text-left">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"><small class="font-small"><span class="text-black"><% __('self-pickup')%> </span><%= __('location') + count %>：<%= pickupMethod.location%>，<%= __('time')%> <span data-toggle="time-span" data-format="hourly" data-from="<%= pickupMethod.pickupFromTime%>" data-to="<%= pickupMethod.pickupTillTime%>"></span></small>
                      </label>
                    </div>
                  </div>
                  <div class="divider"></div>
                <% count++;})}%>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="vertical-align">
                <h4><small><%= __('share-to-all')%></small></h4>
                <div id="social-share"></div>
                <script>
                  $("#social-share").jsSocials({
                    shareIn: "popup",
                    text : "SFMeal.com",
                    shares: ["facebook", "pinterest","twitter"]
                  });
                </script>
                <!--<ul class="nav navbar-nav" style="width: 185px;float: none;">-->
                  <!--<li><a href="#"><i class="fa fa-facebook-f fa-lg"></i></a></li>-->
                  <!--<li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>-->
                  <!--<li><a href="#"><i class="fa fa-pinterest-p fa-lg"></i></a></li>-->
                  <!--<li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>-->
                <!--</ul>-->
              </div>

              <h4 class="text-left"><small><% __('pickup-location-after-order')%></small></h4>

              <div id="googlemap" style="height: 440px;"></div>

            </div>
          </div>

          <%
            var dishes = meal.dishes;
            var typeName = {"appetizer" : __('appetizer'), "entree" : __('main'), "dessert" : __('dessert')};
            var header = {"appetizer" : false, "entree" : false, "dessert" : false};
            for(var i=0; i < dishes.length; i++){
              var dish = dishes[i];
              if(!header[dish.type]){
                header[dish.type] = true;
          %>

          <div class="dark category-cell">
            <h4 class="text-white"><%= typeName[dish.type] %></h4>
          </div>

          <% }%>

          <h2></h2>

          <div class="row">
            <div class="col-xs-12">
              <div class="round-container dish" data-id=<%= dish.id %>>
                <img src="<%= dish.photos[0].v %>" style="width: 100%;">
                <div class="box-float-top-right red"><h3 class="text-white" style="margin-top: 10px;">$<%= dish.price.toFixed(2) %></h3></div>
                <div class="row">
                  <div class="col-sm-8">
                    <h3></h3>
                    <div>
                      <div class="col-sm-3">
                        <h4 class="text-black"><%= dish.title %></h4>
                      </div>
                      <div class="col-sm-6">
                        <div data-toggle="tooltip" data-placement="bottom" title="<%= dish.score.toFixed(2)%>">
                          <div class="rating" data-toggle="star-set" data-rate="<%= dish.score.toFixed(2)%>">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <small style="font-size: 20px;" class="text-lightgrey"> <%= dish.numberOfReviews %></small>
                      </div>
                      <div class="col-sm-3">
                        <h4><small class="left-amount"><%= __('left')%><span class="text-red" value=<%= meal.leftQty[dish.id] %>><%= meal.leftQty[dish.id] %></span><%= __('fen')%></small></h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <h3 style="padding: 5px;" class="none-margin"><small><%= dish.description %></small></h3>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4" style="padding-top: 25px;">
                    <button class="btn btn-red round take-order" onclick="javascript:orderFood('<%= dish.id %>',1)"><%= __('order-one')%></button>
                    <button class="btn btn-red round untake-order" onclick="javascript:orderFood('<%= dish.id %>',-1)" style="width: 50px;display: none;">-</button>
                  </div>
                </div>

                <h1></h1>
              </div>
              <h1></h1>

              <h1></h1>

              <ul class="nav nav-tabs" data-toggle="tabs">
                <li class="active"><a href="#review<%= i%>" data-toggle="tab" class="text-red"><%= __('user-review')%></a></li>
                <li><a href="#host<%= i%>" data-toggle="tab" class="text-red"><%= __('host-review')%></a></li>
              </ul>

              <div class="tab-content">
                <div id="review<%= i%>" class="tab-pane active">
                  <%
                    var reviews = meal.reviews;
                    var number = 0;
                    var perPage = 3;
                    var curPage = 1;
                    for(var j=0; j < reviews.length; j++){
                      var review = reviews[j];
                      if(review.dish == dish.id){
                        number++;
                  %>
                  <div class="item">
                    <div class="row">
                      <div class="col-sm-9 text-left">
                        <div data-toggle="tooltip" data-placement="bottom" title="<%= review.score.toFixed(2)%>" style="margin-top: 5px;">
                          <div class="rating" data-toggle="star-set" data-rate="<%= review.score.toFixed(2)%>">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <h4 style="display: inline-block;"><small style="font-size: 16px;" class="text-lightgrey" data-id=<%= review.user %>><%= review.username %></small></h4>
                      </div>
                      <div class="col-sm-3">
                        <h3 class="text-right"><small><%= review.get_formatted_time() %></small></h3>
                      </div>
                    </div>
                    <h4 class="text-left"><small class="text-black"><%= review.review %></small></h4>
                    <div class="divider"></div>
                  </div>
                  <% }} %>

                  <nav class="pull-right">
                    <ul class="pagination pagination-sm" data-trigger="pagination" data-target="#review<%= i%>" data-npp="3">
                      <li class="active"><a href="javascript:void(0)">1</a></li>
                    </ul>
                  </nav>
                </div>

                <div id="host<%= i%>" class="tab-pane">
                </div>
              </div>

            </div>
          </div>
          <%} %>

      <h1></h1>
      </div>
    </div>

      <div class="col-md-4">
        <div class="box white floater" style="position: fixed;bottom: 10px;">
          <div id="order-alert" class="alert alert-danger hide" role="alert">
            <%= __('dish-out-tips')%>
          </div>
          <% if(meal.isFull()){%>
          <div class="alert alert-danger" role="alert">
            <%= __('dish-out-tips')%>
          </div>
          <%}%>
          <table id="order" class="table" data-err-container="#order-alert">
            <thead>
            <tr>
              <th><%= __('meal-fee')%></th>
            </tr>
            <tr>
              <th><%= __('name')%></th>
              <td><%= __('price')%></td>
              <td><%= __('quantity')%></td>
            </tr>
            </thead>
            <tbody>
            <%
              var dishes = meal.dishes;
              for(var i=0; i < dishes.length; i++){
                var dish = dishes[i];
            %>
            <tr class="success item" data-id=<%= dish.id %> data-left-amount=<%= meal.leftQty[dish.id] %>>
              <td><%= dish.title %></td>
              <td class="price" value=<%= dish.price %>>$<%= dish.price %></td>
              <td>
                <button type="button" class="btn btn-default btn-xs" onclick="javascript:orderFood('<%= dish.id %>',-1)">-</button>
                <span class="amount" style="padding: 5px;">  0  </span>
                <button type="button" class="btn btn-default btn-xs" onclick="javascript:orderFood('<%= dish.id %>',1)">+</button>
              </td>
            </tr>
            <% }%>
            <tr></tr>
            <tr>
              <th></th>
              <td></td>
              <th class="text-right subtotal"><%= __('meal-fee')%> $0.00</th>
            </tr>
            <tr></tr>
            <tr>
              <th><%= __('pickup-method')%></th>
              <td><%= __('estimated-time')%></td>
              <td><%= __('delivery-fee')%></td>
            </tr>
            <tr></tr>
            <tr class="info">
              <td><%= __('self-pickup')%></td>
              <td><%= meal.prepareTime + __('min')%></td>
              <td><%= __('free')%></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <th class="text-right delivery" data-value="0"><%= __('meal-delivery-fee')%> $0.00</th>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
              <th></th>
              <td></td>
              <th class="text-right total"><%= __('total')%><span class="total"></span></th>
            </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-red" onclick="location.href += '/confirm'"><%= __('next-step')%></button>
        </div>
      </div>

    </div>
    <h1></h1>
  </div>
</div>

<script>
  var mealSelectionView = new MealSelectionView({ el : $("#meal-detail-container"), model : new Meal()});
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwSdr10kQ9xkogbE34AyzwspjaifpaFzA&callback=mealSelectionView.initMap" async defer></script>
