
  <div id="adjustOrderView" class="popup box middle">
    <div id="adjustAlertView" class="alert alert-danger hide" data-toggle="alert">
      <%= __('dish-out-tips')%>
    </div>
    <table id="order" class="table" data-meal="<%= order.meal.id%>" data-order="<%= order.id%>" data-err-container="#adjustAlertView">
      <thead>
      <tr>
        <th><%= __('order-adjust-title')%></th>
      </tr>
      <tr>
        <th colspan="3"><%= __('name')%></th>
        <td><%= __('price')%></td>
        <td><%= __('quantity')%></td>
      </tr>
      </thead>
      <tbody>
      <%
      var list = order.orders;
      order.dishes.forEach(function(dish){
        var dishId = dish.id;
        var number = list[dishId].number;
        var preference = list[dishId].preference;
        var preferenceTitle = "";
        var extra = 0;
        if(preference && preference.length){
          preference.forEach(function(pref){
            if(pref.property){
              preferenceTitle += "(" + pref.property + "x1)";
            }
            extra += parseInt(pref.extra);
          })
        };
      %>
      <tr class="success item" data-id=<%= dish.id%> data-left-amount=<%= order.meal.leftQty[dish.id] %> data-preference="<%= JSON.stringify(preference)%>">
        <td colspan="3"><%= dish.title%><br/><span class="preference" data-preference="<%= preferenceTitle%>"><%= preferenceTitle%></span></td>
        <% if(!extra){%>
        <td class="price" data-extra="<%= extra%>" value="<%= dish.price.toFixed(2)%>">$<%= dish.price%></td>
        <%}else{%>
        <td class="price" data-extra="<%= extra%>" value="<%= dish.price.toFixed(2)%>">$<%= dish.price %> <br/>(+$<%= extra + ")"%></td>
        <%}%>

        <td>
          <button type="button" class="btn btn-default btn-xs" onclick="javascript:orderFood('<%= dish.id %>',-1)">-</button>
          <span class="amount" style="padding: 5px;" data-value="<%= number%>">  <%= number%>  </span>
          <button type="button" class="btn btn-default btn-xs" onclick="javascript:orderFood('<%= dish.id %>',1)">+</button>
        </td>
      </tr>
      <%})%>
      <tr></tr>
      <tr>
        <th colspan="3"></th>
        <td></td>
        <th class="text-right"><%= __('meal-fee')%><span class="subtotal"></span></th>
      </tr>
      <tr>
        <th colspan="3"></th>
        <td></td>
        <th class="text-right"><i class="fa fa-question-circle text-lightgrey cursor-pointer" data-toggle="tooltip" title="<%= __('tip-service-fee')%>"></i> <%= __('service-fee')%>:<span class="service-fee" data-value="0"> $1.00</span></th>
      </tr>
      <tr></tr>
      <tr>
        <th colspan="3"><%= __('pickup-method')%></th>
        <td><%= __('estimated-time')%></td>
        <td><%= __('delivery-fee')%></td>
      </tr>
      <tr></tr>
      <tr class="info">
        <td colspan="3"><%= __('self-pickup')%></td>
        <td>30<%= __('min')%></td>
        <td><%= __('free')%></td>
      </tr>
      <tr>
        <th colspan="3"></th>
        <td></td>
        <th class="text-right"><%= __('meal-delivery-fee')%><span class="delivery" data-value="0"></span></th>
      </tr>
      <tr>
        <th colspan="3"></th>
        <td></td>
        <th class="text-right"><%= __('tax')%>:<span class="tax" data-value="0" data-taxrate="<%= order.getTaxRate()%>"> $0.00</span></th>
      </tr>
      <tr></tr>
      <tr>
        <th colspan="3"></th>
        <td></td>
        <th class="text-right"><%= __('total')%><span class="total" data-value="0"></span></th>
      </tr>
      </tbody>
    </table>

    <div id="orderAlertView" class="form alert alert-danger hide"></div>

    <span class="divider"></span>

    <button type="button" class="btn btn-danger red" data-action="adjust"><%= __('confirm-order')%></button>
  </div>

  <script>
    loadOrder(false);
    new OrderView({ el : $("#adjustOrderView"), model : new Order()})
  </script>

