<div id="paymentView">
  <div class="popup box middle">

    <form class="form-horizontal" data-id="<%if(typeof payment !='undefined'){%><%=payment.id%><%}%>" data-url="<%if(typeof payment != 'undefined'){%>/payment/<%=payment.id%><%}else{%>/payment<%}%>">
      <div class="row row-centered">
        <div class="col-xs-12">
          <div class="page-header">
            <h2 class="gdfg"><%= __('address-info')%></h2>
          </div>
          <fieldset>
          <legend><%= __('address')%></legend>

          <!-- Street -->
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput"><%= __('street')%></label>
            <div class="col-sm-6">
              <input type="text" name="street" placeholder="Street" class="address form-control" value="<%if(typeof payment != 'undefined'){%><%=payment.street%><%}%>" required>
            </div>
          </div>

          <!-- City -->
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput"><%= __('city')%></label>
            <div class="col-sm-6">
              <input type="text" name="city" placeholder="City" class="city form-control" value="<%if(typeof payment != 'undefined'){%><%=payment.city%><%}%>" required>
            </div>
          </div>

          <!-- State -->
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput"><%= __('state')%></label>
            <div class="col-sm-6">
              <input type="text" name="state" maxlength="65" placeholder="State" class="state form-control" value="<%if(typeof payment != 'undefined'){%><%=payment.state%><%}%>" required>
              <div class="help-block with-errors"></div>
            </div>
          </div>

          <!-- Postcal Code -->
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput"><%= __('zipcode')%></label>
            <div class="col-sm-6">
              <input type="text" name="zip" maxlength="9" placeholder="Postal Code" class="zip form-control" value="<%if(typeof payment != 'undefined'){%><%=payment.postal%><%}%>" required>
              <div class="help-block with-errors"></div>
            </div>
          </div>

          <!-- Country -->
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput"><%= __('country')%></label>
            <div class="col-sm-6">
              <!--<input type="text" name="country" placeholder="Country" class="country form-control">-->
              <div class="country bfh-selectbox bfh-countries" name="country" placeholder="Select Country" data-flags="true" data-filter="true" data-country="<%if(typeof payment != 'undefined'){%><%=payment.country%><%}else{%>US<%}%>"> </div>
            </div>
          </div>
          </fieldset>

          <fieldset>
            <legend><%= __('card-info')%></legend>

            <!-- Card Holder Name -->
            <div class="form-group">
              <label class="col-sm-4 control-label"  for="textinput"><%= __('card-holder')%></label>
              <div class="col-sm-6">
                <input type="text" name="cardholdername" maxlength="70" placeholder="Card Holder Name" class="card-holder-name form-control" required value="<%if(typeof payment != 'undefined'){%><%=payment.cardholder%><%}%>">
              </div>
            </div>

            <!-- Card Number -->
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput"><%= __('card-number')%></label>
              <div class="col-sm-6">
                <input type="text" id="cardnumber" name="cardNumber" maxlength="19" placeholder="Card Number" class="card-number form-control" required value="<%if(typeof payment != 'undefined'){%><%=payment.cardNumber%><%}%>">
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <!-- Expiry-->
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput"><%= __('card-exp')%></label>
              <div class="col-sm-6">
                <div class="form-inline">
                  <select name="month" data-stripe="exp-month" class="card-expiry-month stripe-sensitive required form-control" value=<%if(typeof payment != 'undefined'){%><%=payment.expMonth%><%}%>>
                    <option value="1" selected="selected">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                  <span> / </span>
                  <select name="year" data-stripe="exp-year" class="card-expiry-year stripe-sensitive required form-control" value=<%if(typeof payment != 'undefined'){%><%=payment.expYear%><%}%>>
                  </select>
                  <script type="text/javascript">
                    var select = $(".card-expiry-year"),
                        year = new Date().getFullYear();

                    for (var i = 0; i < 12; i++) {
                      select.append($("<option value='"+(i + year)+"' "+(i === 0 ? "selected" : "")+">"+(i + year)+"</option>"))
                    }

                    var month = $(".card-expiry-month").attr("value");
                    $(".card-expiry-month option").each(function(){
                      if($(this).attr("value")==month){
                        $(this).attr("selected","selected");
                      }
                    });

                    var year = $(".card-expiry-year").attr("value");
                    $(".card-expiry-year option").each(function(){
                      if($(this).attr("value")==year){
                        $(this).attr("selected","selected");
                      }
                    });
                  </script>
                </div>
              </div>
            </div>

            <!-- CVV -->
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">CVV/CVV2</label>
              <div class="col-sm-3">
                <input type="text" id="cvv" placeholder="CVV" maxlength="4" class="card-cvc form-control" required data-error="<%= __('cvv-wrong-format')%>">
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="alert alert-danger" role="alert"></div>

            <!-- Important notice -->
            <div class="form-group">
              <!-- Submit -->
              <div class="control-group">
                <div class="controls text-center">
                  <button class="btn btn-success" type="submit"><% if( typeof payment != 'undefined'){__('save')}else{__('create')}%></button>
                  <button class="btn btn-info" name="setToDefault" type="button"><%= __('set-default-payment')%></button>
                  <% if (typeof payment != "undefined"){%>
                  <button class="btn btn-error" name="delete" type="button"><%= __('delete')%></button>
                  <%}%>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </form>

    <span class="divider popline"></span>

    <% if( typeof payment != 'undefined'){%>
    <h6 class="text-center"><%= __('create-new-card?')%><a href="javascript:void(0)" toggle="modal" data-target="#myModal" data-href="/payment/new" onclick="toggleModal(event)"><%= __('create-new-card')%></a></h6>
    <%}%>

  </div>
</div>

<script>
  $("#payment-form").validator({});
  new PaymentView({ el : $("#paymentView"), model : new Payment()})
</script>

<script src="/js/bootstrap/bootstrap-formhelpers-min.js"></script>
