<link href="/assets/pintuan.css" rel="stylesheet">
<div class="default-container text-center relative">

  <div id="pintuanContainer" data-user="<%= userId%>" class="mx-auto">

    <div class="overflow-hidden w-100 middle relative">
      <img class="w-100" style="max-width:1000px;" data-src="../../images/pintuanBanner.jpg">
      <a class="absolute rounded-circle black text-white pt-2" style="top: 25px;right: 5px;width: 65px;height: 65px;opacity: 0.5;">
        活动<br/>说明
      </a>
    </div>

    <% if(pinDishes && pinDishes.length){%>
      <div class="w-100 d-flex">
        <div id="order" class="content container-fluid" style="max-width: 1000px;min-height: 300px;">
          <div id="pinDishesContentView" class="text-center px-2 py-4">
            <p>拼团商品</p>
            <div class="row">
              <% pinDishes.forEach(function(dish){%>
                <div class="col-lg-6 col-12 dish pintuanItem mix item border rounded overflow-hidden" style="padding: 0;" data-prefs="<%= dish.preference ? Object.keys(dish.preference).length : 0%>" data-id="<%= dish.id%>" data-left-amount="10">
                  <div class="d-flex">
                    <div class="photo rounded overflow-hidden">
                      <% dish.photos.forEach(function(photo, index){ if(photo.v){%>
                        <a href="<%= photo.v %>" data-toggle="lightbox" data-title="<%= dish.titleI18n(locale)%>" data-footer="<%= dish.descriptionI18n(locale)%>" data-gallery="<%= dish.id%>" data-type="image">
                          <img data-echo="<%= index===0? photo.v : ''%>">
                        </a>
                      <% }});%>
                    </div>
                    <div class="d-flex flex-grow-1 flex-column p-2 ml-2">
                      <h5 class="d-flex justify-content-between vertical-align">
                        <span><%= dish.title%></span>
                        <small class="ml-auto"><%= __('in-group-amount', dish.qty)%></small>
                      </h5>
                      <h5 class="mb-auto">
                        <div class="d-flex vertical-align">
                          <button class="btn btn-sm border border-darkgrey"><%= __('group-amount', (dish.minimalOrder || 1))%></button>
                          <span class="text-red ml-2"><% if(dish.discount){%><s class="text-grey mr-1"><%= dish.price.toFixed(2)%></s><%}%>$<%= (dish.price - dish.discount).toFixed(2) %></span>
                        </div>
                        <div class="progress mt-2">
                          <div class="progress-bar" role="progressbar" style="<%= (dish.qty/dish.minimalOrder)*100 ? ('width:' + (dish.qty/dish.minimalOrder)*100) : 'width:10%;'%>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (dish.qty/dish.minimalOrder)*100%>%</div>
                        </div>
                        <div></div>
                      </h5>
                      <div class="d-flex vertical-align align-self-end">
                        <button name="order-btn" class="btn btn-danger" onclick="javascript:l.orderFood('<%= dish.id %>',1,true)"><%= __('go-pingtuan')%></button>
                        <div name="input-group" class="input-group input-group-sm amount-input round ml-2 d-none" style="max-width:200px;" data-toggle="amount-input" data-customClickHandle="true" data-max="10" data-dish="<%= dish.id%>">
                          <div class="input-group-prepend minus" onclick="javascript:l.orderFood('<%= dish.id %>',-1,true)">
                            <span class="input-group-text">-</span>
                          </div>
                          <input class="form-control text-center amount" type="number" pattern="[0-9]*" inputmode="numeric" value="0" readonly>
                          <div class="input-group-append add" onclick="javascript:l.orderFood('<%= dish.id %>',1,true)">
                            <span class="input-group-text">+</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <%})%>
            </div>
          </div>
        </div>
      </div>
    <% }%>
    <div id="shoppingCartView" class="red text-white p-2 align-middle d-block w-100" style="line-height:50px;position: fixed;bottom: 80px;left: 0;z-index:90;" onclick="javascript:location.href='#order'">
      <div class="row">
        <div class="col-3"><span style="left: 10px;" class="total-preview relative" data-subtotal=""></span></div>
        <div class="col-6 middle text-center"><button type="button" class="btn btn-outline-light" id="gotoCheckoutBtn" class="mr-1"><%= __('go-to-check-out-btn')%></button></div>
        <div class="col-3 text-right"><div id="orderPreviewBtn" style="right: 10px;" class="btn btn-outline-white order-preview relative text-white" data-toggle="tooltip"></div></div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/zh.pintuan.bundle.js"></script>

