<link href="/assets/pocket.css" rel="stylesheet">
<div class="d-flex justify-content-center pure-banner vertical-align red p-4">
  <div class="cursor-pointer mr-2">
    <a href="/" class="logo" style="left: 0;"></a>
  </div>
  <div>
    <h3 class="text-white text-left none-margin"><strong><%= __('nav-bar-pocket')%></strong></h3>
  </div>
</div>

  <div>
    <ul class="nav nav-tabs nav-fill bg-light pt-3">
      <li class="nav-item"><a class="nav-link" data-toggle="tab" data-href="#mydetail"><%= __('pocket-detail')%></a></li>
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" role="tab" data-href="#mypurse"><%= __('pocket-bank')%></a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" data-href="#mypayment"><%= __('pocket-payment')%></a></li>
    </ul>

    <div class="tab-content pt-2 pb-4" style="min-height: 500px;">

      <div id="mydetail" class="tab-pane middle" style="width: 90%;">
        <div class="box box-shadow white">

          <div class="row">
            <div class='input-group from col-12 middle' style="max-width: 500px;" data-toggle="dateTimePicker">
              <div class="input-group-prepend"><span class="input-group-text"><%= __('from')%></span></div>
              <input type='text' class="form-control" style="min-width: 200px;" />
              <button type="button" class="btn btn-outline-secondary datepickerbutton">
                <i class="far fa-clock"></i>
              </button>
            </div>
            <div class='input-group to col-12 mt-lg-2 middle' style="max-width: 500px;" data-toggle="dateTimePicker">
              <div class="input-group-prepend"><span class="input-group-text"><%= __('to')%></span></div>
              <input type='text' class="form-control" style="min-width: 200px;" />
              <button type="button" class="btn btn-outline-secondary datepickerbutton">
                <i class="far fa-clock"></i>
              </button>
            </div>
          </div>

          <div class="d-flex mt-2">
            <div class="flex-grow-1">
              <div class="input-group btn-outline round border-blue rounded mx-auto">
                <input class="form-control" placeholder="<%= __('search-placeholder')%>">
                <button id="searchBtn" data-target="#transaction_container" class="input-group-prepend btn btn-outline-info" style="border-top: none !important;border-bottom: none !important;border-right: none !important;">
                  <i class="fa fa-search text-blue"></i>
                </button>
              </div>
            </div>
            <div id="durationBtn" data-target="#transaction_container" class="btn btn-blue do middle ml-2"><%= __('filter')%></div>
          </div>

          <div class="alert alert-warning d-none" data-toggle="alert"><%= __('need-from-or-to-time')%></div>

          <div class="row mt-4">
            <div class="col-12">
              <h5 class="text-left"><strong><%= __('pocket-settled-bills')%></strong></h5>
            </div>
          </div>

          <div class="row">
            <div class="col-12 text-center">
              <div class="btn-set">
                <button class="btn btn-outline-dark filter" type="button" data-filter="all">All</button>
                <button class="btn btn-outline-dark filter" type="button" data-filter=".comp"><%= __('type-compensation')%></button>
                <button class="btn btn-outline-dark filter" type="button" data-filter=".payment"><%= __('type-payment')%></button>
                <button class="btn btn-outline-dark filter" type="button" data-filter=".charge"><%= __('type-charge')%></button>
                <!--<button class="btn btn-info filter" type="button" data-filter=".fee"><%= __('type-fee')%></button>-->
              </div>
            </div>
          </div>

          <h1></h1>

          <div id="transaction_container" class="box-simple">

            <%
            user.pocket.transactions = user.pocket.transactions || [];
            for(var i = 0; i < user.pocket.transactions.length; i++) {
              var tranObj = user.pocket.transactions[i];
            if(tranObj.orderStatus !== "cancel" && (tranObj.status === "paid" || tranObj.status === "succeeded" || tranObj.status === "cash")){
            if(tranObj.type === "type-compensation" && !tranObj.reversed){
            %>
            <div class="mix comp" style="border-radius: 5px;display: block !important;" data-created="<%= tranObj.created%>" data-title="<%= tranObj.host.shopName%>">
              <div class="row vertical-align" style="padding:5px;">
                <div class="col-2"><%= tranObj.month%><br/><%= tranObj.day%></div>
                <div class="col-4"><%= __(tranObj.type) %>(<%= __(tranObj.paymentMethod || '')%>) <label><%= tranObj.metadata.orderId ? tranObj.metadata.orderId.slice(-4) : ''%></label> <i class="fas fa-question-circle white cursor-pointer" data-toggle="tooltip" title=<%= __('order-last-4')%>></i></div>
                <div class="col-3"><img class="img-thumbnail round_thumb size-small" src="<%= tranObj.host.picture || ""%>" data-src="<%= tranObj.host.picture || "/images/profile_man.png"%>" onclick="javascript:location.href='/host/public/<%= tranObj.host.id %>'">&nbsp;<%= tranObj.host.shopName%></div>
                <div class="col-3"><b>$<%= tranObj.amount/100 %></b> ( <%= __('compensation-amount')%>: $<%= Math.round(tranObj.amount)/100 %>)</div>
              </div>
            </div>
            <%}else if(tranObj.type === 'type-payment'){var refund = tranObj.amount_refunded;%>
            <div class="mix payment" style="border-radius: 5px;display: block !important;;" data-created="<%= tranObj.created%>" data-title="<%= tranObj.host.shopName%>">
              <div class="row vertical-align" style="padding:5px;">
                <div class="col-2"><%= tranObj.month%><br/><%= tranObj.day%></div>
                <div class="col-4"><%= __(tranObj.type) %>(<%= __(tranObj.paymentMethod || '')%>) <label><%= tranObj.metadata.orderId.slice(-4)%></label> <i class="fas fa-question-circle white cursor-pointer" data-toggle="tooltip" title=<%= __('order-last-4')%>></i></div>
                <div class="col-3"><img class="img-thumbnail round_thumb size-small" src="<%= tranObj.host.picture || ''%>" data-src="<%= tranObj.host.picture || "/images/profile_man.png"%>" onclick="javascript:location.href='/host/public/<%= tranObj.host.id %>'">&nbsp;<%= tranObj.host.shopName%></div>
                <div class="col-3"><b>$<%= (tranObj.amount - refund - tranObj.application_fee_amount - tranObj.tip*100)/100%></b> ( <%= __('order-fee')%>: $<%= Math.round(tranObj.amount - tranObj.deliveryFee * 100 - tranObj.metadata.tax - tranObj.tip*100)/100 %> + <%= __('tax')%>: $<%= tranObj.metadata.tax/100%> + <%= __('delivery-fee')%>: $<%= tranObj.deliveryFee%> - <%= __('application_fee')%>: $<%= tranObj.application_fee_amount/100%><%= refund ? " - " + __('refunded')+ ": $" + refund/100 : "" %> )</div>
              </div>
            </div>
            <%}else if(tranObj.type === 'type-charge'){var refund = tranObj.amount_refunded;%>
            <div class="mix charge" style="border-radius: 5px;display: block !important;;" data-created="<%= tranObj.created%>" data-title="<%= tranObj.host.shopName%>">
              <div class="row vertical-align" style="padding:5px;">
                <div class="col-2"><%= tranObj.month%><br/><%= tranObj.day%></div>
                <div class="col-4"><%= __(tranObj.type) %>(<%= __(tranObj.paymentMethod || '')%>) <label><%= tranObj.metadata.orderId.slice(-4)%></label> <i class="fas fa-question-circle white cursor-pointer" data-toggle="tooltip" title=<%= __('order-last-4')%>></i></div>
                <div class="col-3"><img class="img-thumbnail round_thumb size-small" src="<%= tranObj.host.picture || ''%>" data-src="<%= tranObj.host.picture || "/images/profile_man.png"%>" onclick="javascript:location.href='/host/public/<%= tranObj.host.id %>'">&nbsp;<%= tranObj.host.shopName%></div>
                <div class="col-3"><b>$<%= (tranObj.amount - refund)/100%></b> ( <%= __('order-fee')%>: $<%= Math.round(tranObj.amount - tranObj.deliveryFee * 100 - tranObj.metadata.tax)/100 %> + <%= __('tax')%>: $<%= tranObj.metadata.tax/100%> + <%= __('delivery-fee')%>: $<%= tranObj.deliveryFee%> <%= refund ? " - " + __('refunded')+ ": $" + refund/100 : "" %> )</div>
              </div>
            </div>
            <%}}}%>

          </div>

          <div class="mixitup-page-list"></div>
          <div class="mixitup-page-stats"></div>

          <!--<nav class="pull-right">-->
          <!--<ul class="pagination pagination-sm" data-trigger="pagination" data-target="#transaction_container" data-npp="20">-->
          <!--<li class="active"><a href="javascript:void(0)">1</a></li>-->
          <!--</ul>-->
          <!--</nav>-->

          <div class="middle mt-2">
            <div class="btn btn-outline border-blue white text-blue"><strong><%= __('see-all')%></strong></div>
          </div>
        </div>
      </div>
      <!-- mypurse end -->

      <div id="mypurse" style="width: 90%;" class="tab-pane middle active">
        <div class="box box-shadow white">
          <% if(typeof host != 'undefined' && host){%>
          <h4 class="text-left"><%= __('pocket-my-bank')%>: <small class="bank_name"></small>
            <% if (host.bankId){%>
            <small><a toggle="modal" data-updating="true" data-host="<%= host.id%>" data-target="#myModal" data-model="user" data-action="bank" href="javascript:void(0)" onclick="h.toggleModal(event,appObj.transactionView.enterHostInfo)">  <%= __('bank-update')%> </a></small><i class="fas fa-question-circle text-grey cursor-pointer"></i>
            <%}else{%>
            <small><a toggle="modal" data-updating="false" data-host="<%= host.id%>" data-target="#myModal" data-model="user" data-action="bank" href="javascript:void(0)" onclick="h.toggleModal(event,appObj.transactionView.enterHostInfo)">  <%= __('bank-new')%> </a></small><i class="fas fa-question-circle text-grey cursor-pointer"></i>
            <%}%>
          </h4>
          <h4 class="text-left"><%= __('pocket-my-balance')%>:</h4>
          <div class="jumbotron">
            <h1 class="text-blue">$<%= user.pocket.balance%></h1>
          </div>
          <%}%>
            <h4 class="text-left"><%= __('pocket-my-points')%>:</h4>
            <div class="jumbotron">
              <h1 class="text-blue"><%= user.points + ' ' + __('points')%><small>($<%= (user.points/10).toFixed(2)%>)</small></h1>
            </div>
            <h4 class="text-center"><%= __('latest-badge')%></h4>
            <div class="text-center"><i class="fa fa-ribbon fa-2x my-4"></i></div>
            <div class="text-center">
              <button class="btn btn-outline text-black"><%= __('view')%></button>
            </div>
            <div class="divider">-</div>
            <h4 class="text-center"><%= __('my-badges')%></h4>

            <div class="row my-4">
              <% badges.forEach(function(badge){%>
                <div class="col-4">
                  <div class="text-center">
                    <% if(badge.customImage){%>
                      <img class="w-100 cursor-pointer" style="max-width: 89px;" src="<%= badge.customImage%>" onclick="location.href='/user/<%= user.id%>/badge/<%= badge.id%>'">
                  <% }else{%>
                      <i class="cursor-pointer <%= badge.iconClass%> fa-2x <%= badge.isAchieved ? 'text-yellow' : ''%>" onclick="location.href='/user/<%= user.id%>/badge/<%= badge.id%>'"></i>
                    <% }%>

                    <h5>
                      <small><%= badge.achievedDate%></small><br/>
                      <%= badge.title%>
                      <%= badge.desc%>
                    </h5>
                  </div>
                </div>
              <% });%>
            </div>

        </div>
      </div>

      <div id="mypayment" style="width: 90%;" class="tab-pane middle" data-id="<%= user.id %>">
        <div class="box box-shadow white">
          <%
          var cards = user.payment;
          for(var j=0; j < cards.length; j++){
            var card = cards[j];
            var last4 = card.last4;
          if(card.isDefaultPayment){
          %>
          <button class="btn btn-disable blue btn-fat btn-lg active" style="margin-right: 10px;height: 80px;" toggle="modal" data-target="#myModal" data-href="/payment/<%= card.id%>" onclick="h.toggleModal(event)"><strong><%= card.brand %><br/><%= last4 %></strong></button>
          <%}else{%>
          <button class="btn btn-disable btn-fat btn-lg<%if(card.isDefaultPayment){%> active<%}%>" style="margin-right: 10px;height: 80px;" toggle="modal" data-target="#myModal" data-href="/payment/<%=card.id%>" onclick="h.toggleModal(event)"><strong><%= card.brand %><br/><%= last4 %></strong></button>
          <%}}%>
          <button class="btn btn-disable btn-fat btn-lg" style="margin-right: 10px;height: 80px;" toggle="modal" data-target="#myModal" data-href="/payment/new" onclick="h.toggleModal(event)"><strong><i class="fa fa-plus fa-2x"></i></strong><br/><%= __('card-new')%></button>
        </div>
      </div>
      <!-- payment end -->
    </div>
  </div>
</div>
<script src="/assets/zh.pocket.bundle.js"></script>
