<link href="/assets/chefProfile.css" rel="stylesheet">
<div class="default-container text-center relative">

  <div class="pure-banner red py-4">
    <div style="width: 600px;" class="col-12 middle banner-text">
      <div class="d-flex justify-content-around vertical-align" style="margin-bottom: 5px;">
        <div>
          <a href="/" class="logo"></a>
        </div>
        <div>
          <h4 class="text-white text-left none-margin"><strong><%= __('host-public-profile')%></strong></h4>
        </div>
      </div>
    </div>
  </div>

  <div id="hostProfileView" data-host="<%= host.id%>" class="box" data-title="<%= host.shopNameI18n(locale)%>" data-desc="<%= host.introI18n(locale)%>" data-user="<%= user ? user.id : ''%>">

    <div class="box white">

      <div class="row">
        <div class="col-12">
          <img data-src="<%= host.picture || "../../images/profile_man.png"%>" src="<%= host.picture || ''%>" class="round_thumb" style="width: 150px;height: 150px;">
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-12">
          <h5 class="text-dark">
            <%= host.shopNameI18n(locale) %><br/>
            <small>
            <% if(!host.license || !host.license.valid){%><i class="fa fa-check text-yellow mr-2"></i><%= __('has-foodhandler-license')%> <%}%>
              <br/><br/><br/>
              <span class="text-left"><%= host.introI18n(locale) %></span>
            </small>
          </h5>
        </div>
      </div>

      <div class="d-flex justify-content-center pt-2">
        <button id="likeBtn" style="width:100%;max-width:250px;" class="btn btn-grey-red btn-lg active mr-2"><i class="fa fa-thumbs-up"></i> <span data-count="<%= host.likes%>"><%= host.likes%></span></button>
        <button id="followBtn" style="width:100%;max-width:250px;" class="btn btn-grey-green btn-lg active ml-2" data-followed="<%= (user && (user.follow && user.follow.some(function(f){ f.id === host.id}))) ? true : false%>"><span class="text"><%= (user && (user.follow && user.follow.some(function(f){ f.id === host.id}))) ? __('followed') : __('follow')%> </span><i class="<%= (user && (user.follow && user.follow.some(function(f){ f.id === host.id}))) ? 'fas fa-star' : 'far fa-star'%>"></i></button>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <h4 class="text-left text-red"><strong><%= __('next-meal')%></strong></h4>
      <i class="fas fa-angle-right fa-2x text-red"></i>
    </div>

    <div class="divider red none-margin" style="height: 8px;"></div>

    <ul id="nextMealView" class="d-flex relative p-0" style="overflow-x: scroll;overflow-y: hidden;list-style: none;">
      <% host.meals.forEach(function(meal){%>
      <li class="relative col-10 col-md-5 p-0" style="flex-shrink: 0;">
        <div class="absolute d-block m-auto" style="left:0;top:0;height: 80px;background-color:rgba(0, 0, 0, 0.5);">
          <div class="p-2">
            <h6 class="text-white"><%= meal.provideDate()%></h6>
            <h5 class="text-white"><%= meal.title%></h5>
          </div>
        </div>
        <img src="<%= meal.coverString%>" class="w-100 cursor-pointer" onclick="javascript:location.href='/meal#<%= meal.getDateDesc(meal.pickups[0].pickupFromTime)%>'">
      </li>
      <% })%>
    </ul>

    <div class="d-flex">
      <h4 class="text-left text-red"><strong><%= __('my-review')%></strong></h4>
    </div>

    <div class="divider red none-margin" style="height: 8px;"></div>

    <div id="host-reviews">
      <%
      host.reviews.forEach(function(review){
      if(review.isPublic){
      %>
      <div class="item">
        <div class="row">
          <div class="col-sm-9 text-left">
            <div data-toggle="tooltip" data-placement="bottom" title="<%= review.score.toFixed(2)%>" style="margin-top: 5px;">
              <div class="rating" data-toggle="star-set" data-rate="<%= review.score.toFixed(2)%>">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <h4 style="display: inline-block;"><small style="font-size: 16px;" class="text-grey" data-id=<%= review.user %>><%= review.username %> : <%= review.title%> <%= review.price ? "( $" + parseFloat(review.price).toFixed(2) + ")" : ''%> </small></h4>
          </div>
          <div class="col-sm-3">
            <h3 class="text-right"><small><%= review.get_formatted_time() %></small></h3>
          </div>
        </div>
        <h4 class="text-left"><small class="text-black"><%= review.review %></small></h4>
        <div class="divider"></div>
      </div>
      <%
      }});
      %>
    </div>
    <nav class="pull-right">
      <ul class="pagination pagination-red pagination-sm" data-trigger="pagination" data-target="#host-reviews">
        <li class="active"><a href="javascript:void(0)">1</a></li>
      </ul>
    </nav>
  </div>
</div>

<script src="/assets/vendors~admin~apply~badge~bank~checkout~chefProfile~createDish~createMeal~dayOfMeal~editDish~editMea~c094081c.bundle.js"></script>
<script src="/assets/vendors~admin~apply~badge~bank~checkout~chefProfile~createDish~createMeal~dayOfMeal~editDish~editMea~c2a0d7e1.bundle.js"></script>
<script src="/assets/zh.chefProfile.bundle.js"></script>
