<div class="green" style="padding: 25px;margin-top: -25px;">
  <div class="box-email white relative middle text-left">
    <h4 class="text-green"><%= __('new-order-receipt-title')%></h4>
    <p>Hi <%= customerName%>,</p>
    <p><%= __('new-order-receipt-detail', host.shopName)%></p>
    <div class="divider" style="margin-bottom: 10px;"></div>
    <p><%= __('order-number')%>:<%= id%></p>
    <table class="table table-email">
      <% Object.keys(orders).forEach(function(dishId){
        var orderedDish = orders[dishId];
        var amount = parseInt(orderedDish.number);
        var preference = orderedDish.preference;
        var title = "";
        var extra = 0;
        if(preference && preference.length > 0) {
          preference.forEach(function (pref) {
            title += "(" + pref.property + ')';
          });
          extra = preference.reduce(function (total, next) {
            return total + parseInt(next.extra);
          }, 0);
        }
        if(amount > 0){
          var dish = dishes.filter(function(dish){
            return dish.id === dishId;
          })[0];
          var price = parseInt(orderedDish.price);
      %>
      <tr>
        <td class="xs-hide"><img src="<%= dish.photos[0].v%>" style="width: 100px;"></td>
        <td class="text-green" style="vertical-align: middle;"><%= dish.title%><%= title%></td>
        <td style="vertical-align: middle;"><%= amount%><%= __('fen')%></td>
        <td style="vertical-align: middle;text-align: right;">
          $<%= (amount * price).toFixed(2)%>
          <% if(price !== dish.price){ %>
          <s>$<%= (amount * dish.price).toFixed(2)%></s>
          <% }if(extra){%>
          (+$<%= extra.toFixed(2)%>)<br/>
          <% }%>
        </td>
      </tr>
      <%}});%>
      <tr>
        <td class="xs-hide"></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= __('dingdan')%>: $<%= subtotal.toFixed(2)%></td>
      </tr>
      <tr class="border-less">
        <td class="xs-hide"></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= __('delivery-fee')%>: $<%= delivery_fee.toFixed(2)%></td>
      </tr>
      <tr class="border-less">
        <td class="xs-hide"></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= __('tax')%>: $<%= (subtotal * getTaxRate()).toFixed(2)%></td>
      </tr>
      <tr class="border-less">
        <td class="xs-hide"></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= __('service-fee')%>: $<%= meal ? meal.serviceFee : serviceFee%></td>
      </tr>
      <tr class="border-less">
        <td class="xs-hide"></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= __('total')%> $<%= (subtotal * (1 + getTaxRate()) + delivery_fee + (meal?meal.serviceFee:0)).toFixed(2)%></td>
      </tr>
      <tr>
        <td><%= __('payment-method')%>: <%= __(paymentInfo.method)%></td>
        <td></td>
        <td></td>
        <td class="xs-hide"></td>
      </tr>
      <tr>
        <td><%= __('contact-phone')%>: <%= pickupInfo.phone%></td>
        <td></td>
        <td></td>
        <td class="xs-hide"></td>
      </tr>
      <tr>
        <td colspan="4"><%= __('comment')%>: <%= pickupInfo.comment%></td>
      </tr>
      <tr class="active">
        <td><%= __('pickup-method')%>: <%= __(pickupInfo.method)%></td>
        <td><%= __('pickup-time')%>: <%= pickupInfo.pickupFromTime%> - <%= pickupInfo.pickupTillTime%></td>
        <td><%= __('pickup-location')%> : <%= pickupInfo.method == 'pickup' ? pickupInfo.location : contactInfo.address%></td>
        <td class="xs-hide"></td>
      </tr>
    </table>
    <div class="row text-center">
      <h4><small><%= __('order-receipt-help')%></small></h4>
      <!--<% if(!download){%>-->
      <!--<a href="/order/<%= id%>/receipt/download" class="btn btn-red"><%= __('save-receipt')%></a>-->
      <!--<%}%>-->
      <a href="http://maps.apple.com/?q=<%= pickupInfo.method == 'pickup' ? pickupInfo.location : contactInfo.address%>" class="btn btn-red"><%= __('find-route')%></a>
      <a class="btn btn-info" toggle="modal" data-target="#myModal" data-href="/templates/user/signup.html" href="javascript:void(0)" onclick="toggleModal(event)"> <%= __('nav-bar-register') %></a>
      <i class="fa fa-question-circle cursor-pointer" data-toggle="tooltip" title="<%= __('user-benefit')%>"></i>
    </div>
  </div>

</div>
