<div class="green" style="padding: 25px;margin-top: -25px;">
  <div class="box-email white relative middle text-left">
    <h4 class="text-green"><%= __('new-order-receipt-title')%></h4>
    <p>Hi <%= customerName%>,</p>
    <p><%= __('new-order-receipt-detail', host.shopName)%></p>
    <div class="divider" style="margin-bottom: 10px;"></div>
    <p><%= __('order-number')%>:<%= id%></p>
    <table class="table table-email">
      <% Object.keys(orders).forEach(function(dishId){
        var amount = parseInt(orders[dishId].number);
        var preference = orders[dishId].preference;
      if(amount > 0){
        var dish;
        dishes.forEach(function(d){
          if(d.id == dishId){
            dish = d;
            return;
          }
        });
      %>
      <tr>
        <td class="xs-hide"><img src="<%= dish.photos[0].v%>" style="width: 100px;"></td>
        <td class="text-green" style="vertical-align: middle;">
        <% if(preference && preference.length > 0){
          var title = '';
          preference.forEach(function(pref){
            title += "(" + pref.property + ')';
          });
        %>
        <%= dish.title%>(<%= amount%>)<%= title%>
        <% }else{%>
        <%= dish.title%>(<%= amount%>)
        <% }%>
        </td>
        <td style="vertical-align: middle;"><%= amount%><%= __('fen')%></td>
        <td style="vertical-align: middle;text-align: right;">$<%= (amount * dish.price).toFixed(2)%></td>
      </tr>
      <%}});%>
      <tr>
        <td class="xs-hide"></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= __('dingdan')%>: $<%= subtotal.toFixed(2)%></td>
      </tr>
      <tr class="border-less">
        <td class="xs-hide"></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= __('delivery-fee')%>: $<%= delivery_fee.toFixed(2)%></td>
      </tr>
      <tr class="border-less">
        <td class="xs-hide"></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= __('tax')%>: $<%= (subtotal * getTaxRate()).toFixed(2)%></td>
      </tr>
      <tr class="border-less">
        <td class="xs-hide"></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= __('service-fee')%>: $<%= service_fee.toFixed(2)%></td>
      </tr>
      <tr class="border-less">
        <td class="xs-hide"></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= __('total')%> $<%= (subtotal * (1 + getTaxRate()) + delivery_fee + service_fee).toFixed(2)%></td>
      </tr>
      <tr>
        <td><%= __('payment-method')%>: <%= __(paymentInfo.method)%></td>
        <td></td>
        <td></td>
        <td class="xs-hide"></td>
      </tr>
      <tr>
        <td><%= __('contact-phone')%>: : <%= pickupInfo.phone%></td>
        <td></td>
        <td></td>
        <td class="xs-hide"></td>
      </tr>
      <tr class="active">
        <td><%= __('pickup-method')%>: <%= __(pickupInfo.method)%></td>
        <td><%= __('pickup-time')%>: <%= pickupInfo.pickupFromTime%> - <%= pickupInfo.pickupTillTime%></td>
        <td><%= __('pickup-location')%> : <%= pickupInfo.method == 'pickup' ? pickupInfo.location : contactInfo.address%></td>
        <td class="xs-hide"></td>
      </tr>
    </table>
    <div class="row text-center">
      <h4><small><%= __('order-receipt-help')%></small></h4>
      <% if(!download){%>
      <a href="/order/<%= id%>/receipt/download" class="btn btn-red"><%= __('save-receipt')%></a>
      <%}%>
    </div>
  </div>

</div>
