<div class="green" style="padding: 25px;margin-top: -20px;">
  <div class="box-email white relative middle text-left">

    <% if(meal.orders.length == 0){%>
    <h3 class="text-green"><u><%= meal.chef ? meal.chef.shopName : __('weekly-orders')%></u> <small><%= __('guest-list-no-tips')%></small></h3>
    <%}else{%>
    <h3 class="text-green"><u><%= meal.chef ? meal.chef.shopName : __('weekly-orders')%></u></h3>
    <%}%>

    <% if(meal.orders.length != 0){
    meal.pickups.forEach(function(pickup){ %>

    <% if(pickup.method === "delivery"){ %>
      <p><%= __('delivery-time')%>: <%= pickup.pickupFromTime%> - <%= pickup.pickupTillTime%>
        <button class="btn btn-info copyBtn" data-index="<%= pickup.index%>" data-title="<%= __('delivery-time')%>: <%= pickup.pickupFromTime%> - <%= pickup.pickupTillTime%>"><%= __('copy')%></button>
      </p>
    <%}else{%>
      <p>
      <%= __('pickup-time')%>: <%= pickup.pickupFromTime%> - <%= pickup.pickupTillTime%><br/>
      <%= __('pickup-location')%>: <%= pickup.location%>
      <button class="btn btn-info copyBtn" data-index="<%= pickup.index%>" data-title="<%= __('pickup-time')%>: <%= pickup.pickupFromTime%> - <%= pickup.pickupTillTime%><br/><%= __('pickup-location')%>: <%= pickup.location%>"><%= __('copy')%></button>
      </p>
    <%}%>
    <table class="table table-bordered">
      <thead>
      <tr>
        <td><%= __('user')%></td>
        <td><%= __('order-number')%></td>
        <td><%= __('content')%></td>
        <td><%= __('contact')%></td>
        <td><%= __('delivery-location')%></td>
        <td><%= __('amount-owe')%></td>
        <td><%= __('comment')%></td>
      </tr>
      </thead>
      <tbody>
      <% meal.orders.forEach(function(order){
        if(order.pickupInfo.pickupFromTime === pickup.pickupFromTime && order.pickupInfo.pickupTillTime === pickup.pickupTillTime && pickup.index === order.pickupOption){
          if(!pickup.isDateCustomized && !order.isPartyMode){ %>
      <tr data-option="<%= order.pickupOption%>">
        <td><%= order.customerName %></td>
        <td><%= order.id%></td>
        <td>
          <% Object.keys(order.orders).forEach(function(dishId){
            var amount = order.orders[dishId].number;
            var preference = order.orders[dishId].preference;
            if(amount > 0){
              var dish;
              meal.dishes.forEach(function(d){
                if(d.id == dishId){
                  dish = d;
                  return;
                }
              })%>
          <% if(preference && preference.length > 0){
            var title = '';
            preference.forEach(function(pref){
              title += "(" + pref.property + ')';
            });
          %>
          <%= dish.title%>(<%= amount%>)<%= title%>
          <% }else{%>
          <%= dish.title%>(<%= amount%>)
          <% }%>
          <%}});%>
        </td>
        <td><%= order.customerPhone%></td>
        <td><%= order.contactInfo.address%></td>
        <td><%= order.paymentMethod == 'cash' ? ( '$' + order.charges['cash']/100) : ''%></td>
        <td><%= order.pickupInfo.comment || ''%></td>
      </tr>
      <%}else{%>

      <%}}})%>
      </tbody>
    </table>
    <%})}%>

    <div class="divider"></div>

    <div class="row text-center">
      <% if(meal.orders.length == 0){%>
      <a class="btn btn-green btn-inline" href="https://www.sfmeal.com/meal/<%= meal.id%>?edit=true"><%= __('open-meal')%></a>
      <%}else{%>
      <a class="btn btn-green btn-inline" href="javascript:window.print();"><%= __('print-list')%></a>
      <%}%>

    </div>
  </div>
</div>

<script>
  $(".copyBtn").click(function(){
      var indexes = ["0","A","B","C","D","E","F","G","H","I","J","K","L","M","N"];
      var pickupIndex = $(this).data("index");
      var pickupTitle = $(this).data("title");
      var pickupInfos = $("[data-option='" + pickupIndex + "']");
      var text = pickupTitle;
      var pickupIndexTitle = indexes[pickupIndex];
      pickupInfos.each(function(index){
          var infoRows = $(this).find("td");
          if(infoRows.length){
            var phone = infoRows[3].innerText.replace(/\D/g, "");
            var content = "送餐序号:" + pickupIndexTitle + index + "; " + infoRows[0].innerText + " : " + infoRows[2].innerText + "(" + infoRows[6].innerText + ") ; " + infoRows[4].innerText + " ; （" + phone + "） ; 应收: " + infoRows[5].innerText;
            text += "\n\n" + content + "\n";
          }
      });
      copyToClipboard(text);
  })

  function copyToClipboard(text) {
    if (window.clipboardData && window.clipboardData.setData) {
      // IE specific code path to prevent textarea being shown while dialog is visible.
      return clipboardData.setData("Text", text);

    } else if (document.queryCommandSupported && document.queryCommandSupported("copy")) {
      var textarea = document.createElement("textarea");
      textarea.textContent = text;
      textarea.style.position = "fixed";  // Prevent scrolling to bottom of page in MS Edge.
      document.body.appendChild(textarea);
      textarea.select();
      try {
        return document.execCommand("copy");  // Security exception may be thrown by some browsers.
      } catch (ex) {
        console.warn("Copy to clipboard failed.", ex);
        return false;
      } finally {
        document.body.removeChild(textarea);
      }
    }
  }
</script>
