
<div id="resetPasswordView">
  <div class="popup box middle signin" style="width: 350px;min-height: 350px;">
    <h4><%= __('reset-password')%></h4>

    <form id="resetPasswordForm" class="text-center" data-toggle="validator" role="form">
      <div class="form-group">
        <label class="sr-only" for="passwordInput"><%= __('password')%></label>
        <input type="password" data-minLength="8" class="form-control" id="passwordInput" placeholder="<%= __('password')%>?" data-error="<%= __('need-password')%>" required>
        <span class="help-block"><%= __('need-eight-digit')%></span>
      </div>

      <div class="form-group">
        <label class="sr-only" for="passwordInput"><%= __('password')%></label>
        <input type="password" data-minLength="6" class="form-control" id="passwordConfirmInput" data-match="#passwordInput" data-error="<%= __('need-six-digit')%>" data-match-error="<%= __('need-same-password')%>" placeholder="<%= __('confirm-password')%>?" required>
        <div class="help-block with-errors"></div>
      </div>

      <div class="form-group">
        <button id="resetPasswordBtn" type="button" class="btn btn-danger btn-lg round red popline"><%= __('confirm')%></button>
      </div>

      <div class="alert alert-success hide"></div>

      <div class="alert alert-danger hide">
        <%= __('password-error')%>
      </div>

    </form>
  </div>
</div>

<script>
  $("#resetPasswordView form").validator({});
  new LoginView({model : new Auth(), el: $("#resetPasswordView")});
</script>
