<div id="orderReviewPopup" data-order="<%= order.id || ''%>" class="p-4">
  <%
  if(order.reviewing_orders && order.reviewing_orders.length){
  order.reviewing_orders.forEach(function(dishId){
  order.dishes.forEach(function(dish){
  if(dish.id == dishId){
  %>
  <div class="dish-item" data-dish="<%= dish.id%>">
    <div class="d-flex justify-content-around vertical-align">
      <div class="d-none d-md-table-cell">
        <img class="rounded border" src="<%= dish.photos[0].v%>" style="max-height:100px;">
      </div>
      <div>
        <h5 class="none-margin">
          <%= dish.title%>
          <small>$<%= dish.price%></small>
        </h5>
      </div>
      <div>
        <div data-toggle="tooltip" data-placement="bottom">
          <div class="card white">
            <div class="rating" data-toggle="star-set">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-12">
        <textarea class="form-control review" placeholder="<%= __('review-placeholder')%>" style="height:100px;"></textarea>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:10px;">
    <div class="col-12 text-right">
      <div id="meal-review-alert" class="alert alert-danger d-none"><%= __('review-warning')%></div>
      <div class="btn btn-grey-red leaveReview active" data-target="#orderReviewPopup" data-host="<%= order.host%>" data-meal="<%= order.meal%>" data-err-container="#meal-review-alert" style="margin-right:20px;"><%= __('submit')%></div>
    </div>
  </div>
  <%}})})}else{%>
    <h3 class="text-center"><small><%= order.status === "review" ? __('complete-review-tip') : __('no-review-tip')%><br/><br/><a class="btn btn-grey-red active" href="/host/public/<%= order.host%>"><%= __('see-review')%></a></small></h3>
  <%}%>
</div>

<script>
  new ReviewView({ el : $("#orderReviewPopup"), model : new Order()})
</script>
