<div class="container-fluid default-container text-center relative" style="margin-top:-20px;background-color: #f2f2f2;">

  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="sidenav-item" href="#">
            <%= __('terms')%>
          </a>
        </li>
        <li><a href="#menu-toggle" class="btn btn-default" data-toggle="menu-toggle"><%= __('help-menu-collapse')%></a></li>
        <li><span class="divider"></span></li>
        <li>
          <a class="sidenav-item" href="/help#general">常规帮助</a>
        </li>
        <li>
          <a class="sidenav-item" href="#terms"><%= __('terms')%></a>
        </li>
        <li>
          <a class="sidenav-item" href="#privacy"><%= __('privacy-policy')%></a>
        </li>
      </ul>
    </div>

    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 text-left">
            <div id="terms">
              <h2>服务条款</h2>
              <a href="#menu-toggle" class="btn btn-default" data-toggle="menu-toggle"><%= __('terms')%></a>
              <div class="divider"></div>
              <p>
                <b>1. Acceptance of the Terms</b>
                <br/><br/>
                By logging to, connecting to, accessing or using our Site, you acknowledge that you have read and understood the following Terms of Use including the terms of our Privacy Policy (which is available at https://www.sfmeal.com/terms#privacy) (collectively, the “Terms”) and you agree to be bound by them and to comply with all applicable laws and regulations regarding your use of the Site and you acknowledge that these Terms constitute a binding and enforceable legal contract between SFMeal and you. IF YOU DO NOT AGREE TO THESE TERMS, PLEASE DO NOT ENTER TO, CONNECT TO, ACCESS OR USE THE SITE IN ANY MANNER. The Site is available only to individuals who (a) are at least eighteen (16) years old (see Section 11 below); (b) possess the legal authority (on behalf of themselves and their organization) to enter into these Terms and to form a binding agreement under any applicable law; and (c) own a valid credit card and a valid e-mail address.
                <br/><br/>
                <b>2. 主要术语</b>
                <br/><br/>
                SFMeal.com 提供一个在线平台，连接需要分享在家做的食物的厨师与需要订购该食物的吃货（合称为“服务”），该服务可以通过www.sfmeal.com和 SFMeal.com 用来提供服务的其他网站（合称为“网站”）获得以及通过手机、平板电脑和其他智能设备应用程序和应用程序接口（合称为“应用程序”）获得。
                <br/><br/>
                如果您使用网站、应用程序或服务，且您居住在美国，本《服务条款》是您与 SFMeal.com, LLC. 之间订立。
                <br/><br/>
                “Meal” 指厨师建立的含有菜式的菜单。
                <br/><br/>
                “菜式” 指厨师建立的单个菜款。
                <br/><br/>
                “SFMeal 内容” 指 SFMeal 通过网站、应用程序、服务或其相关促销活动和官方的社交媒体渠道提供的所有内容，包括任何第三方许可的内容，但是不包括会员内容。
                <br/><br/>
                “Food Share” Participating in food events such as preparing home food, delivering home food, pickingup home food or other User's activities as a result, directly or indirectly, from using SFMeal's Site and Services
                <br/><br/>
                “Order” 指吃货通过SFMeal.com预定厨师在SFMeal.com上发布的Meal
                <br/><br/>
                “集体内容” 指会员内容和 SFMeal 内容。
                <br/><br/>
                “通信”指电子邮件、通过应用程序发出的信息、文本消息或者向微信帐户发出的信息。
                <br/><br/>
                “内容” 指文本、图表、图像、音乐、软件（不包括应用程序）、音频、视频、信息或其他材料。
                <br/><br/>
                “吃货” 指要求厨师通过网站、应用程序或服务预订登记的会员。
                <br/><br/>
                “厨师” 指通过网站、应用程序和服务创建登记并通过审核成为厨师的任何会员。
                <br/><br/>
                “会员” 指完成 SFMeal 账户注册过程的人，包括但不限于厨师与吃货，如以下“账户注册”部分所述。
                <br/><br/>
                “会员内容”指任何会员发布、上传、发表、提交、传播的所有内容，或在他们的登记中包含的会员简介或者通过网站、应用程序或服务提供的 SFMeal 促销活动。
                <br/><br/>

                <b>3.What is SFMeal?</b>
                <br/><br/>
                We, at SFMeal, take great measures to provide you with the best experience you can have while using SFMeal's Site; However, SFMeal has no control over the conduct of any Hosts, Guests or any other User and disclaims all liability in this regard. Hosts and Guests are recommended to carefully and thoroughly examine and check with their respective Guests and Hosts all necessary details related to their Order (as defined below) prior to any engagement been made. Participating in food related activities such as picking up meal, delivery meal, cooking ay home or other User's activities as a result, directly or indirectly, from using SFMeal's Site and Services, is entirely at your own risk. PLEASE NOTE THAT SOME HOSTS COOK AND/OR PREPARE IN SUCH FOOD SHARING MEAS RAW AND/OR UNDERCOOKED ANIMAL FOOD. CONSUMING RAW OR UNDERCOOKED MEATS, POULTRY, SEAFOOD, SHELLFISH, OR EGGS MAY INCREASE YOUR RISK OF FOODBORNE ILLNESS, ESPECIALLY IF YOU HAVE A MEDICAL CONDITION. 
                SFMeal is not a party to any agreement entered into between Hosts and Guests in any circumstances nor does it operate as a place of business for vending food of any sort. User has the sole and ultimate responsibility regarding compliance with all laws, regulation (including without limitation the applicable tax regulations and food regulations), religious duties (if and as promised by Host) or any other duty relating to the Meal. We do not accept any liability for any loss, damage, cost or expense that you may suffer or incur as a result of or in connection with your participation in any Food Share conducted by a User or a third party. Certain Food Share may be subject to separate terms and conditions incurred by their respective Hosts, organizers etc. and we recommend that you review such terms and conditions, as they may be. It is the responsibility of the Host to assure that a Food Share is conducted in compliance with all applicable laws, rules and regulations, including with respect to any tax obligations relating to the Food Shares.
                Host who is classified with a badge of “SFMeal Verified” was visited by an SFMeal's member team and SFMeal found him/her as appropriate to participate in our Services. However, SFMeal DOES NOT GUARANTEE THAT ANY HOST WHO IS CLASSIFIED WITH A BADGE OF “SFMeal VERIFIED” WILL MEET YOUR REQUIREMENTS AND SFMeal DOES NOT ACCEPT ANY LIABILITY FOR ANY LOSS, DAMAGE, COST OR EXPENSE THAT YOU MAY SUFFER OR INCUR AS A RESULT OF OR IN CONNECTION WITH YOUR PARTICIPATION IN ANY Food Share CONDUCTED BY ANY HOST, INCLUDING WITHOUT LIMITATION ANY HOST WHO IS CLASSIFIED AS “SFMeal VERIFIED”.  
                <br/><br/>
                The Site provides you with information regarding our Services, including any content related thereto such as contact information, materials, text, logos, button icons, images, data compilations, other specialized content, technical data, documentation, know-how, specifications materials, designs, data, the "look and feel" of the Site, interface, GUI, interactive features related graphics and other features obtained from or through the Site (collectively, the “Content”). Further, the Site provides the Users the ability to contact us via the contact form available in our Site.  
                ALL RIGHTS IN AND TO THE CONTENT AVAILABLE ON THE SITE ARE RESERVED TO SFMeal. TO THE EXTENT LEGALLY PERMISSIBLE, THE SITE, THE SERVICES THE CONTENT AVAILABLE THEREIN AND THE USER GENERATED CONTENT (AS SUCH TERM IS DEFINED BELOW) ARE PROVIDED ON AN "AS IS" BASIS. SFMeal WILL NOT BE LIABLE FOR ANY DAMAGES OR LOSS INCURRED TO YOU, YOUR ORGANIZATION OR ANY OTHER PERSON AS A RESULT OF OR IN CONNECTION WITH YOUR USE OF THE SITE, THE SERVICES AND/OR THE CONTENT AND/OR THE USER GENERATED CONTENT AVAILABLE THEREIN.
                <br/><br/>
                WE, AT SFMeal, TAKE GREAT MEASURES TO PROVIDE YOU WITH THE BEST EXPERIENCE YOU CAN HAVE WHILE USING SFMeal'S SITE AND SERVICES. HOWEVER, SFMeal HAS NO CONTROL OVER THE CONDUCT OF ANY HOSTS, GUESTS OR ANY OTHER USER AND DISCLAIMS ALL LIABILITY IN THIS REGARD. HOSTS AND GUESTS ARE RECOMMENDED TO CAREFULLY AND THOROUGHLY EXAMINE AND CHECK WITH THEIR RESPECTIVE GUESTS AND HOSTS ALL NECESSARY DETAILS RELATED TO THEIR Food Share AND ORDER (AS DEFINED BELOW) PRIOR TO ANY ENGAGEMENT BEEN MADE.
                <br/><br/>
                YOUR USE OF THE SITE, THE SERVICES, THE USER GENERATED CONTENT AND/OR THE CONTENT AVAILABLE THEREIN IS ENTIRELY AT YOUR OWN RISK.
                <br/><br/>

                <b>4.Account Registration</b>
                <br/><br/>
                In order to book a Meal and/or to create a Meal, you must register and create an account (“Account”). The registration is free of charge. Registration can be done by using a personal Social Network Account (namely, Facebook or Google) or by completing the registration form (“Registration Form”) available on the Site. You may not have more than one (1) active SFMeal Account.  
                <br/><br/>
                Please note that in order to become a Host, you will be required to submit through our Site an application form in which you will be requested to fill in some details, as further detailed in our Privacy Policy. SFMeal will then initiate a verification process. Afterwards, SFMeal will determine, at its sole discretion, whether or not you shall become a Host.
                <br/><br/>
                Your Account is password protected. In order to protect the security of your Personal Information available on your Account to the greatest extent possible, you must safeguard and not disclose your Account log-in details and you must supervise the use of such Account. You must provide accurate and complete information when creating an Account and you agree to not misrepresent your identity or your Account information. You agree to keep your Account information up to date and accurate. Otherwise, we will not be able to provide you with the Service and to contact you when necessary.
                <br/><br/> 
                YOU ARE SOLELY AND FULLY RESPONSIBLE FOR MAINTAINING THE CONFIDENTIALITY OF THE PASSWORD AND ACCOUNT AND FOR ALL ACTIVITIES THAT OCCUR UNDER YOUR ACCOUNT. If we in good faith believe you have created an Account impersonating another person you may be expose to civil and/or criminal liability.
                <br/><br/>
                You may not assign or transfer your rights or delegate your duties under the Account without the prior written consent of SFMeal. You must notify us immediately of any unauthorized use of your Account or any other breach of security and in such events you must change your password immediately via the settings in the Site. We cannot and will not be liable for any loss or damage arising from any failure of yours to comply with these Terms, i.e., if someone else accesses your Account through the registration information he/she has obtained from you or through a violation by you of these Terms, or for any unauthorized use of your password or Account or any other breach of security.
                <br/><br/>
                If you wish to cancel and remove your Account, you can send us an e-mail of your request to: admin@SFMeal.com. Your Account will terminate within reasonable time following your request, and from that date of termination you will no longer be able to access your Account (see further details with respect thereto in the Privacy Policy).
                <br/><br/>
                Note that either as a Host or as a Guest, you will be able to edit or remove, at any time, any information contained in your personal Account. CANCELLING YOUR ACCOUNT MAY CAUSE THE LOSS OF CERTAIN INFORMATION YOU PROVIDED US AND/OR THE CAPACITY OF YOUR ACCOUNT. WE DO NOT ACCEPT ANY LIABILITY FOR SUCH LOSS.
                <br/><br/>

                <b>5.Order and Billing</b>
                <br/><br/>
                A. Key Terms
                <br/><br/>
                <b>"Order Fee"</b> An amount charged to guest upon order taken and it's calculated by all price and quantity of all the ordered dishes plus Tax, it will be shown upon checkout.
                <br/><br/>
                <b>"Service Fee"</b> A certain percentage of the Order Fee, it will be shown on host's payment summary email.
                <br/><br/>
                <b>"Tax"</b> Sales tax of the county where the host located.
                <br/><br/>
                B. Order and Billing Arrangements
                <br/><br/>
                As a registered User, each Guest is welcome to order an online meal with any Host offering his services via SFMeal's Site (“Order”). A Guest may pay for the Order by using our Online Payment Processors (as defined below).
                <br/><br/>
                Once you take your order, the SFMeal.com will charge you for Order Fee. The Order Fee charged from the Guest will be kept faithfully by SFMeal and in compliance with any applicable law, and the Order Fee subtract the Service Fee will only be transferred to the respective Host up to night (9) business days following the order taken date. The Host appoints SFMeal as the Host's limited agent solely for the purpose of collecting payment made by Guests on behalf of the Host.

                <br/><br/>
                <b>6.Fees and Payments</b>
                <br/><br/>
                Payments may be processed via certain online payment service providers (“Online Payment Processors”). We may add or change the Online Payment Processors in our sole discretion. The Online Payment Processors enable you to send payments securely online using a credit card, debit card or bank account. We do not control and are not affiliated with such Online Payment Processors. These Online Payment Processors are independent contractors and have no employment or agency relationship with SFMeal. SFMeal is not responsible in any way for the actions or performance (or lack thereof) of the Online Payment Processors. The use of the Online Payment Processors is at your own risk. It is your responsibility to abide by all the terms specified by the Online Payment Processors in their terms of use and privacy policies list here: <a href="https://stripe.com/us/legal/">https://stripe.com/us/legal/</a>, You acknowledge that you are fully assuming the risks of conducting any transactions via the Online Payment Processors.
                <br/><br/>
                Hosts are solely responsible to determine the applicable taxes and are hereby required to comply with the applicable tax law and pay any taxes including VAT, surcharges, sales taxes, goods and services taxes, and other similar municipal, state and federal indirect or other withholding and personal or corporate income taxes imposed and levied in connection with Order made of their respective Food Share via SFMeal’s Site and Services or the payment thereof and they represent and warrant that they will pay such taxes in time and in compliance with the applicable tax law.
                Note that failing to pay such taxes, as ordered by applicable tax law, or failing to comply with any provisions specified in the applicable tax law may prevent such Hosts from continuing sharing their food on SFMeal’s Site. 
                You, as a Guest, represent and warrant that you will pay to your Host all fees and taxes incurred with your Order in a timely manner and in compliance with SFMeal’s fee schedule. Failing to settle your payments including any taxes incurred with your Order, will prevent you from executing your Order
                with SFMeal’s Site and from further using SFMeal’s Site and Services.
                Notwithstanding the above, Company shall reserve the right, but have no obligation, to withhold any applicable taxes and obtain any other remedies available by law.
                The Company may, at any time and at its sole discretion, amend the fee schedule, payment terms and cancellation policy specified on the Site. Any such changes will take effect immediately after being posted on SFMeal's Site. SFMeal VERIFIED may deduct foreign currency processing costs from any payment.
                <br/><br/>

                <b>7. Cancellation of Order</b>
                <br/><br/>
                All Orders are subject to SFMeal’s cancellation policy, which is specified in the following link:  <a href="/help#cancellationPolicy"><%= __('cancellationPolicy')%></a>
                Your Order shall be deemed canceled only upon receipt of SFMeal’s confirmation of your cancellation. The Company reserves the right to cancel an Order at any time upon returning full refund of Order Amount to the Guest. 
                In case a Host cancels Guest’s Order, Company will refund Guest with the full Order Fee such Guest has paid to SFMeal. SFMeal reserves the right to charge the canceling Host with the Service Fee. SFMeal shall not bear any liability for any cost, expense, loss or damage that you may suffer or incur as a result of Host’s or Guest’s cancelation of an Order.
                <br/><br/>
                Additionally, SFMeal reserves the right to charge back from Hosts the Order Fee they received for order if upon the receipt of a complaint by a Guest with respect to such order, SFMeal believes, at its sole discretion, that such order was not compatible with SFMeal’s standards of service, including in compliance with this Terms, or in case of any misconduct of the Host.
                <br/><br/>

                <b>8. Intellectual Property Rights</b> 
                <br/><br/>
                The Site, the Content and the Company's proprietary assets and any and all intellectual property rights pertaining thereto, including, but not limited to, inventions, patents and patent applications, trademarks, trade names, service marks, copyrightable materials and trade secrets, whether or not registered or capable of being registered (excluding the User Generated Content) (collectively, “Intellectual Property”), are owned by and/or licensed to the Company and are protected by applicable copyright and other intellectual property laws and international conventions. All rights not expressly granted to you hereunder are reserved by the Company and its licensors.
                <br/><br/>
                The Terms do not convey to you an interest in or to the Company Intellectual Property but only a limited revocable right of use in accordance with the Terms. Nothing in the Terms constitutes a waiver of the Company’s Intellectual Property under any law.
                <br/><br/>
                To the extent you provide any feedbacks, comments or suggestions to SFMeal (“Feedback”), SFMeal shall have an-exclusive, royalty-free, fully paid up, worldwide, perpetual and irrevocable license to incorporate the Feedback into any SFMeal current or future products, technologies or services and use same for any purpose all without further compensation to you and without your approval. You agree that all such Feedback shall be deemed to be non-confidential. Furthermore, you warrant that your Feedback is not subject to any license terms that would purport to require SFMeal to comply with any additional obligations with respect to any SFMeal current or future products, technologies or services that incorporate any Feedback.

                <br/><br/>
                <b>9. User Generated Content</b>
                <br/><br/>
                1. The Site allows you to upload, post, publish and make available through it, including without limitation on our blog, your own copyrightable materials such as literary works, text, images, text material, photos and any other proprietary materials, including without limitation Hosts' posts on their pages and/or any part thereof and links to copyrightable materials (the “User Generated Content”). Please be sure that while you use the Site you respect the proprietary rights including any intellectual property and privacy rights of third parties who have any rights with respect to the User Generated Content you uploaded to the Site. SFMeal will not bear any liability for any loss, damage, cost or expense that you may suffer or incur as a result of or in connection with uploading any User Generated Content.
                <br/><br/>
                2. As long as the User Generated Content is subject to the applicable copyright law, such User Generated Content shall remain at all times, and to the extent permitted by law, the sole and exclusive property of the User.
                <br/><br/>
                3. You understand and agree that you are solely responsible for your User Generated Content and the consequences of posting or publishing such material, on the Site, in any way.
                <br/><br/>
                4. You represent and warrant that you are the rightful owner of the User Generated Content you upload to the Site or that you have (and will continue to have) all the necessary licenses, rights, consents, and permissions from the rightful owners of such User Generated Content and that such User Generated Content does not infringe any third party's intellectual property rights or other rights (including without limitation, any privacy rights, publicity rights, copyrights, or any other intellectual property rights).
                <br/><br/>
                IT IS THE USER’S RESPONSIBILITY TO OBTAIN ANY AND ALL CONSENTS REQUIRED UNDER ANY APPLICABLE LAWS, REGARDING THE POSTING OF ANY PERSONAL INFORMATION OF OTHERS WHICH IS PART OF THE USER GENERATED CONTENT, AND TO ADHERE TO ANY APPLICABLE LAWS REGARDING SUCH INFORMATION.
                <br/><br/>
                5. You expressly agree that the User Generated Content will not include any unsolicited promotions, advertising, contests or raffles.
                <br/><br/>
                6. You agree that you will not post or upload any User Generated Content containing content which is unlawful for you to possess, post or upload in the country in which you are resident, or which it would be unlawful for SFMeal to use or possess in connection with the Site (including but not limited to any content which is defamatory, libelous, pornographic, indecent, harassing, threatening, abusive or fraudulent).
                <br/><br/>
                7. Although SFMeal has no obligation to screen, edit or monitor any of the User Generated Content, SFMeal explicitly reserves the right, at its sole discretion, to remove or edit, without giving any prior notice, any User Generated Content available on the Site at any time and for any reason, and you are solely responsible for creating backup copies of and replacing any User Generated Content you post or store on the Site at your sole expense.
                <br/><br/>
                8. When you upload, post, publish or make available any User Generated Content on the Site, you grant to (i) SFMeal an irrevocable, perpetual, non-exclusive, royalty-free, transferable, assignable, fully sub-licensable and worldwide license, to use, reproduce, distribute, transmit, create derivative works of, display, copy, make available to the public and perform that User Generated Content, along with the name that you submit in connection with such User Generated Content, in connection with the Site, whether through the Internet, mobile devices or otherwise, in any media formats and through any media channels known today and developed in the future; and (ii) each User of the Site a non-exclusive and royalty-free license to access your User Generated Content through the Site and to use such User Generated Content solely for personal and non-commercial purposes. The Company may publish and use any User Generated Content without the Users prior consent. You hereby agree and understand that you will not be entitled to prevent any transfer of User Generated Content to any third party. The Company shall not bear any liability for any use by any third party of the User Generated Content. In addition, you hereby explicitly waive any moral right you may have in and to the User Generated Content and forever waive and agree not to claim or assert any entitlement to any and all moral rights in any of the User Generated Content.  
                <br/><br/>
                9. SFMeal TAKES NO RESPONSIBILITY AND ASSUMES NO LIABILITY FOR ANY USER GENERATED CONTENT UPLOAD, POSTED, PUBLISHED AND MADE AVAILABLE BY YOU OR ANY THIRD PARTY IN THE SITE, OR FOR ANY LOSS OR DAMAGE THERETO, NOR IS SFMeal LIABLE FOR ANY MISTAKES, DEFAMATION, LIBEL, FALSEHOODS, OBSCENITIES OR PORNOGRAPHY YOU OR ANY OTHER THIRD PARTY MAY ENCOUNTER.

                <br/><br/>
                <b>10.Refund</b>
                <br/><br/>
                In the event of misleading representation or misconduct on the Site and in connection with the Service or in the framework of food sharing proccess held by Hosts through the use of SFMeal’s Site and Services, SFMeal may decide, in its sole discretion, to credit you with a refund for the Order Amount paid or part thereof and charge the Host with this amount. No action of SFMeal may be construed as accepting any liability other than as mentioned herein.
                <br/><br/>

                <b>11.User Restriction</b>
                <br/><br/>
                There are certain conducts which are strictly prohibited on SFMeal's Site. Please read the following restrictions carefully. Failure to comply with the provisions set forth herein may result in the termination of your access to SFMeal and may also expose you to civil and/or criminal liability.
                <br/><br/>
                You may not, whether by yourself or anyone on your behalf; (a) use SFMeal's Site for any illegal, unlawful or unauthorized purposes; (b) use SFMeal's Site in any form of spam, unsolicited mail or similar conduct; (c) allow access to your Account to anyone other than yourself, including, without limitation, any persons who are under the age of 16. You accept full responsibility for any unauthorized use of the Site and/or Service on your behalf, including by minors; (d) use SFMeal's Site for non-personal or commercial purposes (other than as a Host) without Company’s express prior written consent; (e) remove or disassociate, from the Content and/or the Site any copyright, trademark or other proprietary notices contained in such materials (such as ©,™, or ®); (f) interfere with or violate other Users' rights to privacy and other rights, or harvest or collect data and information about other Users without their express consent, whether manually or automatically with the use of any robot, spider, crawler, any search or retrieval application, or use other automatic device, process or method to access SFMeal's Site and retrieve, index and/or data-mine any information; (g) interfere with or disrupt the operation of SFMeal's Site or the servers or networks that host SFMeal's Site, or disobey any laws or regulations or requirements, procedures, policies, or regulations of such servers or networks; (h) falsely state or otherwise misrepresent your affiliation with any person or entity, or express or imply that the Company endorses you, your site, your business or any statement you make, or present false or inaccurate information about the Site; (i) take any action that imposes, or may impose, in our sole discretion, an unreasonable or disproportionately large load on our platform infrastructure; (j) as a Host, provide falsely or inaccurate information with respect to the service you offer through SFMeal's Site and Services for Guests, including, but not limited to any representation you make with respect to your Food Share, including the hosting place and the food you offer via SFMeal's Services; (k) bypass any measures we may use to prevent or restrict access to SFMeal's Site; (l) copy, distribute, display, execute publicly, make available to the public, reduce to human readable form, decompile, disassemble, adapt, sublicense, make any commercial use, sell, rent, transfer, lend, process, compile, reverse engineer, combine with other software, translate, modify or create derivative works of any material that is subject to SFMeal's proprietary rights, including SFMeal's Intellectual Property (as such term is defined below), in any way or by any means, unless expressly permitted in the Terms; (m) copy, modify, alter, adapt, make available, translate, port, reverse engineer, decompile, or disassemble any portion of the Content made accessible by SFMeal on or through the Site, or publicly display, reproduce, create derivative works from, perform, distribute, or otherwise use such Content, other than as permitted under these Terms; (n) transmit, distribute, display or otherwise make available through or in connection with SFMeal's Site any content, including User Generated Content, which may infringe third party rights, including intellectual property rights and privacy rights, or which may contain any unlawful content; (o) create a browser, frame, border environment or GUI around SFMeal's Site; (p) link, including in-line linking, to elements on SFMeal's Site, such as images and videos, independently from the web pages of SFMeal's Site on which they originally appear;; (q) frame or mirror any part of the Site without SFMeal's prior express written authorization; (r) create a database by systematically downloading and storing all or any of the Content from the Site; (s) transmit or otherwise make available in connection with the Site any virus, worm, Trojan Horse, time bomb, web bug, spyware, or any other computer code, file, or program that may or is intended to damage or hijack the operation of any hardware, software, or telecommunications equipment, or any other actually or potentially harmful, disruptive, or invasive code or component; and/or (t) infringe and/or violate any of the Terms.

                <br/><br/>
                Last Updated: Oct 4, 2016

                Contacting SFMeal.com

                If you have any questions about these Terms, please contact SFMeal.com
              </p>
            </div>

            <div id="privacy">
              <h2>隐私政策</h2>
              <p>Last Updated: October 4, 2016</p>
              <p>
                <div class='innerText'>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.<br></div><span id='infoCo'></span><br>
                <div class='grayText'><strong>What personal information do we collect from the people that visit our blog, website or app?</strong></div><br />
                <div class='innerText'>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number, credit card information, social security number  or other details to help you with your experience.</div><br>
                <div class='grayText'><strong>When do we collect information?</strong></div><br />
                <div class='innerText'>We collect information from you when you register on our site, place an order, fill out a form or enter information on our site.</div><br>Provide us with feedback on our products or services  <span id='infoUs'></span><br>
                <div class='grayText'><strong>How do we use your information? </strong></div><br />
                <div class='innerText'> We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:<br><br></div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To improve our website in order to better serve you.</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To allow us to better service you in responding to your customer service requests.</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To administer a contest, promotion, survey or other site feature.</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To quickly process your transactions.</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To ask for ratings and reviews of services or products</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To follow up with them after correspondence (live chat, email or phone inquiries)</div><span id='infoPro'></span><br>
                <div class='grayText'><strong>How do we protect your information?</strong></div><br /><div class='innerText'>Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.<br><br></div>
                <div class='innerText'>We use regular Malware Scanning.<br><br></div>
                <div class='innerText'>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology. </div><br>
                <div class='innerText'>We implement a variety of security measures when a user places an order  to maintain the safety of your personal information.</div><br>
                <div class='innerText'>All transactions are processed through a gateway provider and are not stored or processed on our servers.</div><span id='coUs'></span><br>
                <div class='grayText'><strong>Do we use 'cookies'?</strong></div><br /><div class='innerText'>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</div>
                <div class='innerText'><br><strong>We use cookies to:</strong></div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Help remember and process the items in the shopping cart.</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Understand and save user's preferences for future visits.</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.</div>
                <div class='innerText'><br>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.<br></div>
                <div class='innerText'><br><strong>If users disable cookies in their browser:</strong></div><br>
                <div class='innerText'>If you turn cookies off, some features will be disabled. Some of the features that make your site experience more efficient and may not function properly.</div><br>
                <div class='innerText'>However, you will still be able to place orders <div class='innerText'>Continuing your unfinished order and remember your current location</div>.</div><br><span id='trDi'></span><br>
                <div class='grayText'><strong>Third-party disclosure</strong></div><br />
                <div class='innerText'>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety. <br><br> However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses. </div><span id='trLi'></span><br>
                <div class='grayText'><strong>Third-party links</strong></div><br />
                <div class='innerText'>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</div><span id='gooAd'></span><br>
                <div class='blueText'><strong>Google</strong></div><br /><div class='innerText'>Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en <br><br></div>
                <div class='innerText'>We have not enabled Google AdSense on our site but we may do so in the future.</div><span id='calOppa'></span><br><div class='blueText'><strong>California Online Privacy Protection Act</strong></div><br />
                <div class='innerText'>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy.  The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. -  See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf<br></div>
                <div class='innerText'><br><strong>According to CalOPPA, we agree to the following:</strong><br></div>
                <div class='innerText'>Users can visit our site anonymously.</div>
                <div class='innerText'>Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.<br></div>
                <div class='innerText'>Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.</div>
                <div class='innerText'><br>You will be notified of any Privacy Policy changes:</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> On our Privacy Policy Page<br></div>
                <div class='innerText'>Can change your personal information:</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> By logging in to your account</div>
                <div class='innerText'><br><strong>How does our site handle Do Not Track signals?</strong><br></div>
                <div class='innerText'>We don't honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place. We don't honor them because:<br></div>
                <div class='innerText'>To provide essential in-site experience for all registered users.</div>
                <div class='innerText'><br><strong>Does our site allow third-party behavioral tracking?</strong><br></div>
                <div class='innerText'>It's also important to note that we allow third-party behavioral tracking</div><span id='coppAct'></span><br>
                <div class='blueText'><strong>COPPA (Children Online Privacy Protection Act)</strong></div><br />
                <div class='innerText'>When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control.  The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.<br><br></div>
                <div class='innerText'>We do not specifically market to children under the age of 13 years old.</div><span id='ftcFip'></span><br>
                <div class='blueText'><strong>Fair Information Practices</strong></div><br />
                <div class='innerText'>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.<br><br></div>
                <div class='innerText'><strong>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</strong></div>
                <div class='innerText'>We will notify you via email</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Within 7 business days</div><div class='innerText'><br>We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</div><span id='canSpam'></span><br>
                <div class='blueText'><strong>CAN SPAM Act</strong></div><br />
                <div class='innerText'>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.<br><br></div>
                <div class='innerText'><strong>We collect your email address in order to:</strong></div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Send information, respond to inquiries, and/or other requests or questions</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Process orders and to send information and updates pertaining to orders.</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Send you additional information related to your product and/or service</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.</div>
                <div class='innerText'><br><strong>To be in accordance with CANSPAM, we agree to the following:</strong></div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Not use false or misleading subjects or email addresses.</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Identify the message as an advertisement in some reasonable way.</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Include the physical address of our business or site headquarters.</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Monitor third-party email marketing services for compliance, if one is used.</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Honor opt-out/unsubscribe requests quickly.</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Allow users to unsubscribe by using the link at the bottom of each email.</div>
                <div class='innerText'><strong><br>If at any time you would like to unsubscribe from receiving future emails, you can email us at</strong></div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Follow the instructions at the bottom of each email.</div> and we will promptly remove you from <strong>ALL</strong> correspondence.<br><span id='ourCon'></span><br>
                <div id="contactUs" class='blueText'><strong>Contacting Us</strong></div><br />
                <div class='innerText'>If there are any questions regarding this privacy policy, you may contact us using the information below.<br><br></div>
                <div class='innerText'>www.sfmeal.com</div>San Francisco, California 94124 <div class='innerText'>United States</div>
                <div class='innerText'>admin@sfmeal.com</div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  $("[data-toggle='menu-toggle']").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

</script>
