
<div class="container-fluid text-center" style="margin-top:-20px;">
  <div class="row">
    <div class="pure-banner vertical-align red">
      <div style="width: 600px;" class="middle banner-text">
        <div class="row vertical-align" style="margin-bottom: 5px;">
          <div class="col-sm-3 cursor-pointer" onclick="location.href='/'">
            <a href="/" class="logo logo-sm"></a>
          </div>
          <div class="col-sm-9">
            <h4 class="text-white"><strong><%= __('welcome')%></strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="default-container">
      <ul class="nav nav-tab-cute nav-justified" style="padding: 20px;">
        <li class="active"><a data-toggle="tab" href="#myorder"><h4><strong><%= __('nav-bar-order')%></strong></h4></a></li>
        <li><a data-toggle="tab" role="tab" href="#mycollect"><h4><strong><%= __('user-nav-collect')%></strong></h4></a></li>
        <li><a data-toggle="tab" role="tab" href="#myinfo"><h4><strong><%= __('user-nav-info')%></strong></h4></a></li>
        <li><a data-toggle="tab" role="tab" href="#myaddress"><h4><strong><%= __('user-nav-address')%></strong></h4></a></li>
        <li><a data-toggle="tab" role="tab" href="#myreview"><h4><strong><%= __('nav-bar-review')%></strong></h4></a></li>
      </ul>

      <div class="tab-content" style="padding-top: 20px;padding-bottom: 60px;min-height: 500px;">
        <div id="myorder" style="width: 90%;" class="tab-pane middle active">
          <div class="box box-shadow white">
            <ul class="nav nav-justified nav-tab-cute" style="padding: 20px;">
              <li class="active"><a data-toggle="tab" href="#myorder-order"><h4><strong><%= __('my-order')%></strong></h4></a></li>
              <li><a data-toggle="tab" href="#myorder-preorder"><h4><strong><%= __('my-preorder')%></strong></h4></a></li>
            </ul>
            <div class="tab-content">
              <div id="myorder-order" style="width: 90%;" class="tab-pane middle active">
                <ul class="nav nav-tabs" style="margin-top: 20px;margin-bottom: 10px;">
                  <li class="active"><a data-toggle="tab" href="#order-all" class="btn-lg text-dark"><strong><%= __('order-nav-all')%></strong></a></li>
                  <li><a data-toggle="tab" href="#order-schedule" class="btn-lg text-dark"><strong><%= __('order-nav-schedule')%></strong></a></li>
                  <li><a data-toggle="tab" href="#order-preparing" class="btn-lg text-dark"><strong><%= __('order-nav-preparing')%></strong></a></li>
                  <li><a data-toggle="tab" href="#order-ready" class="btn-lg text-dark"><strong><%= __('order-nav-prepared')%></strong></a></li>
                  <li><a data-toggle="tab" href="#order-review" class="btn-lg text-dark"><strong><%= __('nav-bar-review')%></strong></a></li>
                </ul>
                <div class="tab-content">
                  <div id="order-all" style="width: 90%;" class="tab-pane middle active">
                    <table class="table table-bordered table-vertical-middle" style="width: 100%;">
                      <thead>
                      <tr>
                        <td><%= __('photos')%></td>
                        <td><%= __('meal')%></td>
                        <td><%= __('price')%></td>
                        <td><%= __('quantity')%></td>
                        <td><%= __('paid-amount')%></td>
                        <td><%= __('status')%></td>
                        <td><%= __('trade-action')%></td>
                      </tr>
                      </thead>
                      <%
                      var orders = user.orders;
                          orders.forEach(function(order){
                      if(order.type == "order"){
                      %>
                      <tbody class="item" style="vertical-align: middle;">
                        <tr class="active">
                          <td align="left" colspan="7">&nbsp&nbsp&nbsp&nbsp&nbsp<%= order.updatedAt%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('order-number')%>: <%= order.id%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('kitchen')%>: <a href="/host/<%= order.host.id%>"><%= order.host.shopName%></a></td>
                        </tr>
                      <%
                        var list = Object.keys(order.orders);
                        var dishes = order.dishes;
                        var index = -1;
                          list.forEach(function(key){
                            var number = order.orders[key];
                            dishes.forEach(function(dish){
                              if(dish.id == key){
                                index++;
                      %>
                      <tr>
                        <td><img src="<%= dish.photos[0].v%>" style="width: 150px;"></td>
                        <td><%= dish.title%></td>
                        <td>$<%= dish.price%></td>
                        <td><%= number%></td>
                        <% if(index==0){%>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;">$<%= (order.subtotal + order.delivery_fee).toFixed(2)%><br><%= __('delivery-fee-included')%><br>($<%= order.delivery_fee.toFixed(2)%>)</td>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;"><%= order.statusText()%></td>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;">
                          <% if(order.status == "schedule"){ %>
                          <a href="javascript:void(0)" data-action="cancel" data-order="<%= order.id%>"><%= __('cancel')%></a><br/>
                          <a data-target="#myModal" toggle="modal" href="javascript:void(0)" onclick="javascript:toggleModal(event)" data-href="/order/<%= order.id%>/adjust-form"><%= __('adjust')%></a><br/>
                          <a href="#"><%= __('contact-chef')%></a>
                          <%}else if(order.status == "preparing"){%>
                          <a href="javascript:void(0)" data-action="cancel" data-order="<%= order.id%>"><%= __('cancel')%></a><br/>
                          <a data-target="#myModal" toggle="modal" href="javascript:void(0)" onclick="javascript:toggleModal(event)" data-href="/order/<%= order.id%>/adjust-form"><%= __('adjust')%></a><br/>
                          <a href="#"><%= __('contact-chef')%></a>
                          <%}else if(order.status == "ready"){
                          if(order.method == "pickup"){%>
                          <a href="#"><%= __('see-address')%></a>
                          <%}else{%>
                          <a href="#"><%= __('see-delivery')%></a>
                          <%}%>
                          <%}else if(order.status == "review"){%>
                          <a href="#myreview"><%= __('review')%></a>
                          <%}%>
                        </td>
                      </tr>
                      <%}}})})%>
                      </tbody>
                      <%}})%>

                    </table>
                    <nav class="pull-right">
                      <ul class="pagination pagination-sm" data-trigger="pagination" data-target="#order-all">
                        <li class="active"><a href="javascript:void(0)">1</a></li>
                      </ul>
                    </nav>
                  </div>
                  <div id="order-schedule" style="width: 90%;" class="tab-pane middle">
                    <table class="table table-bordered table-vertical-middle" style="width: 100%;">
                      <thead>
                      <tr class="item">
                        <td><%= __('photos')%></td>
                        <td><%= __('meal')%></td>
                        <td><%= __('price')%></td>
                        <td><%= __('quantity')%></td>
                        <td><%= __('paid-amount')%></td>
                        <td><%= __('status')%></td>
                        <td><%= __('trade-action')%></td>
                      </tr>
                      </thead>
                      <%
                      var orders = user.orders;
                          orders.forEach(function(order){
                            if(order.type == "order" && order.status == "schedule"){
                      %>
                      <tbody class="item">
                      <tr class="active">
                        <td align="left" colspan="7">&nbsp&nbsp&nbsp&nbsp&nbsp<%= order.updatedAt%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('order-number')%>: <%= order.id%>&nbsp&nbsp&nbsp&nbsp&nbsp厨房: <a href="/host/<%= order.host.id%>"><%= order.host.shopName%></a></td>
                      </tr>
                      <%
                        var list = Object.keys(order.orders);
                        var dishes = order.dishes;
                        var index = -1;
                          list.forEach(function(key){
                            var number = order.orders[key];
                            dishes.forEach(function(dish){
                              if(dish.id == key){
                                index++;
                      %>
                      <tr>
                        <td><img src="<%= dish.photos[0].v%>" style="width: 150px;"></td>
                        <td><%= dish.title%></td>
                        <td>$<%= dish.price%></td>
                        <td><%= number%></td>
                        <% if(index==0){%>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;">$<%= (order.subtotal + order.delivery_fee).toFixed(2)%><br><%= __('delivery-fee-included')%><br>($<%= order.delivery_fee.toFixed(2)%>)</td>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;"><%= order.statusText()%></td>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;">
                          <a href="javascript:void(0)" data-action="cancel" data-order="<%= order.id%>"><%= __('cancel')%></a><br/>
                          <a data-target="#myModal" toggle="modal" href="javascript:void(0)" onclick="javascript:toggleModal(event)" data-href="/order/<%= order.id%>/adjust-form"><%= __('adjust')%></a><br/>
                          <a href="#"><%= __('contact-chef')%></a>
                        </td>
                      </tr>
                      <%}}})})%>
                      </tbody>
                      <%}})%>
                    </table>
                    <nav class="pull-right">
                      <ul class="pagination pagination-sm" data-trigger="pagination" data-target="#order-schedule">
                        <li class="active"><a href="javascript:void(0)">1</a></li>
                      </ul>
                    </nav>
                  </div>

                  <div id="order-preparing" style="width: 90%;" class="tab-pane middle">
                    <table class="table table-bordered table-vertical-middle" style="width: 100%;">
                      <thead>
                      <tr class="item">
                        <td><%= __('photos')%></td>
                        <td><%= __('meal')%></td>
                        <td><%= __('price')%></td>
                        <td><%= __('quantity')%></td>
                        <td><%= __('paid-amount')%></td>
                        <td><%= __('status')%></td>
                        <td><%= __('trade-action')%></td>
                      </tr>
                      </thead>
                      <%
                      var orders = user.orders;
                          orders.forEach(function(order){
                      if(order.type == "order" && order.status == "preparing"){
                      %>
                      <tbody class="item">
                      <tr class="active">
                        <td align="left" colspan="7">&nbsp&nbsp&nbsp&nbsp&nbsp<%= order.updatedAt%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('order-number')%>: <%= order.id%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('kitchen')%>: <a href="/host/<%= order.host.id%>"><%= order.host.shopName%></a></td>
                      </tr>
                      <%
                        var list = Object.keys(order.orders);
                        var dishes = order.dishes;
                        var index = -1;
                          list.forEach(function(key){
                        var number = order.orders[key];
                          dishes.forEach(function(dish){
                      if(dish.id == key){
                        index++;
                      %>
                      <tr>
                        <td><img src="<%= dish.photos[0].v%>" style="width: 150px;"></td>
                        <td><%= dish.title%></td>
                        <td>$<%= dish.price%></td>
                        <td><%= number%></td>
                        <% if(index==0){%>
                          <td rowspan="<%= list.length%>" style="vertical-align: middle;">$<%= (order.subtotal + order.delivery_fee).toFixed(2)%><br><%= __('delivery-fee-included')%><br>($<%= order.delivery_fee.toFixed(2)%>)</td>
                          <td rowspan="<%= list.length%>" style="vertical-align: middle;"><%= order.statusText()%></td>
                          <td rowspan="<%= list.length%>" style="vertical-align: middle;">
                            <a href="javascript:void(0)" data-action="cancel" data-order="<%= order.id%>"><%= __('cancel')%></a><br/>
                            <a data-target="#myModal" toggle="modal" href="javascript:void(0)" onclick="javascript:toggleModal(event)" data-href="/order/<%= order.id%>/adjust-form"><%= __('adjust')%></a><br/>
                            <a href="#"><%= __('contact-chef')%></a>
                          </td>
                      </tr>
                      <%}}})})%>
                      </tbody>
                      <%}})%>
                    </table>
                    <nav class="pull-right">
                      <ul class="pagination pagination-sm" data-trigger="pagination" data-target="#order-preparing">
                        <li class="active"><a href="javascript:void(0)">1</a></li>
                      </ul>
                    </nav>
                  </div>


                  <div id="order-ready" style="width: 90%;" class="tab-pane middle">
                    <table class="table table-bordered table-vertical-middle" style="width: 100%;">
                      <thead>
                      <tr class="item">
                        <td><%= __('photos')%></td>
                        <td><%= __('meal')%></td>
                        <td><%= __('price')%></td>
                        <td><%= __('quantity')%></td>
                        <td><%= __('paid-amount')%></td>
                        <td><%= __('status')%></td>
                        <td><%= __('trade-action')%></td>
                      </tr>
                      </thead>
                      <%
                      var orders = user.orders;
                          orders.forEach(function(order){
                      if(order.type == "order" && order.status == "ready"){
                      %>
                      <tbody class="item" style="vertical-align: middle;">
                      <tr class="active">
                        <td align="left" colspan="7">&nbsp&nbsp&nbsp&nbsp&nbsp<%= order.updatedAt%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('order-number')%>: <%= order.id%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('kitchen')%>: <a href="/host/<%= order.host.id%>"><%= order.host.shopName%></a></td>
                      </tr>
                      <%
                        var list = Object.keys(order.orders);
                        var dishes = order.dishes;
                        var index = -1;
                          list.forEach(function(key){
                        var number = order.orders[key];
                          dishes.forEach(function(dish){
                      if(dish.id == key){
                        index++;
                      %>
                      <tr>
                        <td><img src="<%= dish.photos[0].v%>" style="width: 150px;"></td>
                        <td><%= dish.title%></td>
                        <td>$<%= dish.price%></td>
                        <td><%= number%></td>
                        <% if(index==0){%>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;">$<%= (order.subtotal + order.delivery_fee).toFixed(2)%><br><%= __('delivery-fee-included')%><br>($<%= order.delivery_fee.toFixed(2)%>)</td>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;"><%= order.statusText()%></td>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;">
                          <% if(order.method == "pickup"){%>
                          <a href="#"><%= __('see-address')%></a>
                          <%}else{%>
                          <a href="#"><%= __('see-delivery')%></a>
                          <%}%>
                        </td>
                      </tr>
                      <%}}})})%>
                      </tbody>
                      <%}})%>
                    </table>
                    <nav class="pull-right">
                      <ul class="pagination pagination-sm" data-trigger="pagination" data-target="#order-ready">
                        <li class="active"><a href="javascript:void(0)">1</a></li>
                      </ul>
                    </nav>
                  </div>

                  <div id="order-review" style="width: 90%;" class="tab-pane middle">
                    <table class="table table-bordered table-vertical-middle" style="width: 100%;">
                      <thead>
                      <tr class="item">
                        <td><%= __('photos')%></td>
                        <td><%= __('meal')%></td>
                        <td><%= __('price')%></td>
                        <td><%= __('quantity')%></td>
                        <td><%= __('paid-amount')%></td>
                        <td><%= __('status')%></td>
                        <td><%= __('trade-action')%></td>
                      </tr>
                      </thead>
                      <%
                      var orders = user.orders;
                          orders.forEach(function(order){
                      if(order.type == "order" && order.status == "review"){
                      %>
                      <tbody class="item">
                      <tr class="active">
                        <td align="left" colspan="7">&nbsp&nbsp&nbsp&nbsp&nbsp<%= order.updatedAt%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('order-number')%>: <%= order.id%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('kitchen')%>: <a href="/host/<%= order.host.id%>"><%= order.host.shopName%></a></td>
                      </tr>
                      <%
                        var list = Object.keys(order.orders);
                        var dishes = order.dishes;
                        var index = -1;
                          list.forEach(function(key){
                            var number = order.orders[key];
                            dishes.forEach(function(dish){
                              if(dish.id == key){
                                index++;
                      %>
                      <tr>
                        <td><img src="<%= dish.photos[0].v%>" style="width: 150px;"></td>
                        <td><%= dish.title%></td>
                        <td>$<%= dish.price%></td>
                        <td><%= number%></td>
                        <% if(index==0){%>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;">$<%= (order.subtotal + order.delivery_fee).toFixed(2)%><br><%= __('delivery-fee-included')%><br>($<%= order.delivery_fee.toFixed(2)%>)</td>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;"><%= order.statusText()%></td>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;">
                          <a href="#myreview"><%= __('review')%></a>
                        </td>
                      </tr>
                      <%}}})})%>
                      </tbody>
                      <%}})%>
                    </table>
                    <nav class="pull-right">
                      <ul class="pagination pagination-sm" data-trigger="pagination" data-target="#order-review">
                        <li class="active"><a href="javascript:void(0)">1</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>

              <div id="myorder-preorder" style="width: 90%;" class="tab-pane middle">
                <ul class="nav nav-tabs" style="margin-top: 20px;margin-bottom: 10px;">
                  <li class="active"><a data-toggle="tab" href="#preorder-all" class="btn-lg text-dark"><strong><%= __('order-nav-all')%></strong></a></li>
                  <li><a data-toggle="tab" href="#preorder-schedule" class="btn-lg text-dark"><strong><%= __('order-nav-schedule')%></strong></a></li>
                  <li><a data-toggle="tab" href="#preorder-preparing" class="btn-lg text-dark"><strong><%= __('order-nav-preparing')%></strong></a></li>
                  <li><a data-toggle="tab" href="#preorder-ready" class="btn-lg text-dark"><strong><%= __('order-nav-prepared')%></strong></a></li>
                  <li><a data-toggle="tab" href="#preorder-review" class="btn-lg text-dark"><strong><%= __('nav-bar-review')%></strong></a></li>
                </ul>
                <div class="tab-content">
                  <div id="preorder-all" style="width: 90%;" class="tab-pane middle active">
                    <table class="table table-bordered table-vertical-middle" style="width: 100%;">
                      <thead>
                      <tr class="item">
                        <td><%= __('photos')%></td>
                        <td><%= __('meal')%></td>
                        <td><%= __('price')%></td>
                        <td><%= __('quantity')%></td>
                        <td><%= __('paid-amount')%></td>
                        <td><%= __('status')%></td>
                        <td><%= __('trade-action')%></td>
                      </tr>
                      </thead>
                      <%
                      var orders = user.orders;
                          orders.forEach(function(order){
                      if(order.type == "preorder"){
                      %>
                      <tbody class="item" style="vertical-align: middle;">
                      <tr class="active">
                        <td align="left" colspan="7">&nbsp&nbsp&nbsp&nbsp&nbsp<%= order.updatedAt%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('order-number')%>: <%= order.id%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('kitchen')%>: <a href="/host/<%= order.host.id%>"><%= order.host.shopName%></a></td>
                      </tr>
                      <%
                        var list = Object.keys(order.orders);
                        var dishes = order.dishes;
                        var index = -1;
                          list.forEach(function(key){
                            var number = order.orders[key];
                            dishes.forEach(function(dish){
                              if(dish.id == key){
                                index++;
                      %>
                      <tr>
                        <td><img src="<%= dish.photos[0].v%>" style="width: 150px;"></td>
                        <td><%= dish.title%></td>
                        <td>$<%= dish.price%></td>
                        <td><%= number%></td>
                        <% if(index==0){%>
                          <td rowspan="<%= list.length%>" style="vertical-align: middle;">$<%= (order.subtotal + order.delivery_fee).toFixed(2)%><br><%= __('delivery-fee-included')%><br>($<%= order.delivery_fee.toFixed(2)%>)</td>
                          <td rowspan="<%= list.length%>" style="vertical-align: middle;"><%= order.statusText()%></td>
                          <td rowspan="<%= list.length%>" style="vertical-align: middle;">
                            <% if(order.status == "schedule"){ %>
                            <a href="javascript:void(0)" data-action="cancel" data-order="<%= order.id%>"><%= __('cancel')%></a><br/>
                            <a data-target="#myModal" toggle="modal" href="javascript:void(0)" onclick="javascript:toggleModal(event)" data-href="/order/<%= order.id%>/adjust-form"><%= __('adjust')%></a><br/>
                            <a href="#"><%= __('contact-chef')%></a>
                            <%}else if(order.status == "preparing"){%>
                            <a href="javascript:void(0)" data-action="cancel" data-order="<%= order.id%>"><%= __('cancel')%></a>
                            <a data-target="#myModal" toggle="modal" href="javascript:void(0)" onclick="javascript:toggleModal(event)" data-href="/order/<%= order.id%>/adjust-form"><%= __('adjust')%></a><br/>
                            <a href="#"><%= __('contact-chef')%></a>
                            <%}else if(order.status == "ready"){
                            if(order.method == "pickup"){%>
                            <a href="#"><%= __('see-address')%></a>
                            <%}else{%>
                            <a href="#"><%= __('see-delivery')%></a>
                            <%}%>
                            <%}else if(order.status == "review"){%>
                            <a href="#myreview"><%= __('review')%></a>
                            <%}%>
                          </td>
                      </tr>
                      <%}}})})%>
                      </tbody>
                      <%}})%>
                    </table>
                    <nav class="pull-right">
                      <ul class="pagination pagination-sm" data-trigger="pagination" data-target="#preorder-all">
                        <li class="active"><a href="javascript:void(0)">1</a></li>
                      </ul>
                    </nav>
                  </div>
                  <div id="preorder-schedule" style="width: 90%;" class="tab-pane middle">
                    <table class="table table-bordered table-vertical-middle" style="width: 100%;">
                      <thead>
                      <tr class="item">
                        <td><%= __('photos')%></td>
                        <td><%= __('meal')%></td>
                        <td><%= __('price')%></td>
                        <td><%= __('quantity')%></td>
                        <td><%= __('paid-amount')%></td>
                        <td><%= __('status')%></td>
                        <td><%= __('trade-action')%></td>
                      </tr>
                      </thead>
                      <%
                      var orders = user.orders;
                          orders.forEach(function(order){
                      if(order.type == "preorder" && order.status == "schedule"){
                      %>
                      <tbody class="item" style="vertical-align: middle;">
                      <tr class="active">
                        <td align="left" colspan="7">&nbsp&nbsp&nbsp&nbsp&nbsp<%= order.updatedAt%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('order-number')%>: <%= order.id%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('kitchen')%>: <a href="/host/<%= order.host.id%>"><%= order.host.shopName%></a></td>
                      </tr>
                      <%
                        var list = Object.keys(order.orders);
                        var dishes = order.dishes;
                        var index = -1;
                          list.forEach(function(key){
                            var number = order.orders[key];
                            dishes.forEach(function(dish){
                              if(dish.id == key){
                                index++;
                      %>
                      <tr>
                        <td><img src="<%= dish.photos[0].v%>" style="width: 150px;"></td>
                        <td><%= dish.title%></td>
                        <td>$<%= dish.price%></td>
                        <td><%= number%></td>
                        <% if(index==0){%>
                          <td rowspan="<%= list.length%>" style="vertical-align: middle;">$<%= (order.subtotal + order.delivery_fee).toFixed(2)%><br><%= __('delivery-fee-included')%><br>($<%= order.delivery_fee.toFixed(2)%>)</td>
                          <td rowspan="<%= list.length%>" style="vertical-align: middle;"><%= order.statusText()%></td>
                          <td rowspan="<%= list.length%>" style="vertical-align: middle;">
                            <a href="javascript:void(0)" data-action="cancel" data-order="<%= order.id%>"><%= __('cancel')%></a><br/>
                            <a data-target="#myModal" toggle="modal" href="javascript:void(0)" onclick="javascript:toggleModal(event)" data-href="/order/<%= order.id%>/adjust-form"><%= __('adjust')%></a><br/>
                            <a href="#"><%= __('contact-chef')%></a>
                          </td>
                      </tr>
                      <%}}})})%>
                      </tbody>
                      <%}})%>
                    </table>
                    <nav class="pull-right">
                      <ul class="pagination pagination-sm" data-trigger="pagination" data-target="#preorder-schedule">
                        <li class="active"><a href="javascript:void(0)">1</a></li>
                      </ul>
                    </nav>
                  </div>

                  <div id="preorder-preparing" style="width: 90%;" class="tab-pane middle">
                    <table class="table table-bordered table-vertical-middle" style="width: 100%;">
                      <thead>
                      <tr class="item">
                        <td><%= __('photos')%></td>
                        <td><%= __('meal')%></td>
                        <td><%= __('price')%></td>
                        <td><%= __('quantity')%></td>
                        <td><%= __('paid-amount')%></td>
                        <td><%= __('status')%></td>
                        <td><%= __('trade-action')%></td>
                      </tr>
                      </thead>
                      <%
                      var orders = user.orders;
                          orders.forEach(function(order){
                      if(order.type == "preorder" && order.status == "preparing"){
                      %>
                      <tbody class="item" style="vertical-align: middle;">
                      <tr class="active">
                        <td align="left" colspan="7">&nbsp&nbsp&nbsp&nbsp&nbsp<%= order.updatedAt%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('order-number')%>: <%= order.id%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('kitchen')%>: <a href="/host/<%= order.host.id%>"><%= order.host.shopName%></a></td>
                      </tr>
                      <%
                        var list = Object.keys(order.orders);
                        var dishes = order.dishes;
                        var index = -1;
                          list.forEach(function(key){
                            var number = order.orders[key];
                            dishes.forEach(function(dish){
                              if(dish.id == key){
                                index++;
                      %>
                      <tr>
                        <td><img src="<%= dish.photos[0].v%>" style="width: 150px;"></td>
                        <td><%= dish.title%></td>
                        <td>$<%= dish.price%></td>
                        <td><%= number%></td>
                        <% if(index==0){%>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;">$<%= (order.subtotal + order.delivery_fee).toFixed(2)%><br><%= __('delivery-fee-included')%><br>($<%= order.delivery_fee.toFixed(2)%>)</td>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;"><%= order.statusText()%></td>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;">
                          <a data-target="#myModal" toggle="modal" href="javascript:void(0)" onclick="javascript:toggleModal(event)" data-href="/order/<%= order.id%>/adjust-form"><%= __('adjust')%></a><br/>
                          <a href="#"><%= __('contact-chef')%></a>
                        </td>
                      </tr>
                      <%}}})})%>
                      </tbody>
                      <%}})%>
                    </table>
                    <nav class="pull-right">
                      <ul class="pagination pagination-sm" data-trigger="pagination" data-target="#preorder-preparing">
                        <li class="active"><a href="javascript:void(0)">1</a></li>
                      </ul>
                    </nav>
                  </div>

                  <div id="preorder-ready" style="width: 90%;" class="tab-pane middle">
                    <table class="table table-bordered table-vertical-middle" style="width: 100%;">
                      <thead>
                      <tr class="item">
                        <td><%= __('photos')%></td>
                        <td><%= __('meal')%></td>
                        <td><%= __('price')%></td>
                        <td><%= __('quantity')%></td>
                        <td><%= __('paid-amount')%></td>
                        <td><%= __('status')%></td>
                        <td><%= __('trade-action')%></td>
                      </tr>
                      </thead>
                      <%
                      var orders = user.orders;
                          orders.forEach(function(order){
                      if(order.type == "preorder" && order.status == "ready"){
                      %>
                      <tbody class="item" style="vertical-align: middle;">
                      <tr class="active">
                        <td align="left" colspan="7">&nbsp&nbsp&nbsp&nbsp&nbsp<%= order.updatedAt%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('order-number')%>: <%= order.id%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('kitchen')%>: <a href="/host/<%= order.host.id%>"><%= order.host.shopName%></a></td>
                      </tr>
                      <%
                        var list = Object.keys(order.orders);
                        var dishes = order.dishes;
                        var index = -1;
                          list.forEach(function(key){
                            var number = order.orders[key];
                            dishes.forEach(function(dish){
                              if(dish.id == key){
                                index++;
                      %>
                      <tr>
                        <td><img src="<%= dish.photos[0].v%>" style="width: 150px;"></td>
                        <td><%= dish.title%></td>
                        <td>$<%= dish.price%></td>
                        <td><%= number%></td>
                        <% if(index==0){%>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;">$<%= order.subtotal.toFixed(2)%><br><%= __('delivery-fee-included')%><br>($<%= order.delivery_fee.toFixed(2)%>)</td>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;"><%= order.statusText()%></td>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;">
                          <% if(order.method == "pickup"){%>
                          <a href="#"><%= __('see-address')%></a>
                          <%}else{%>
                          <a href="#"><%= __('see-delivery')%></a>
                          <%}%>
                        </td>
                      </tr>
                      <%}}})})%>
                      </tbody>
                      <%}})%>
                    </table>
                    <nav class="pull-right">
                      <ul class="pagination pagination-sm" data-trigger="pagination" data-target="#preorder-ready">
                        <li class="active"><a href="javascript:void(0)">1</a></li>
                      </ul>
                    </nav>
                  </div>

                  <div id="preorder-review" style="width: 90%;" class="tab-pane middle">
                    <table class="table table-bordered table-vertical-middle" style="width: 100%;">
                      <thead>
                      <tr class="item">
                        <td><%= __('photos')%></td>
                        <td><%= __('meal')%></td>
                        <td><%= __('price')%></td>
                        <td><%= __('quantity')%></td>
                        <td><%= __('paid-amount')%></td>
                        <td><%= __('status')%></td>
                        <td><%= __('trade-action')%></td>
                      </tr>
                      </thead>
                      <%
                      var orders = user.orders;
                          orders.forEach(function(order){
                      if(order.type == "preorder" && order.status == "review"){
                      %>
                      <tbody class="item" style="vertical-align: middle;">
                      <tr class="active">
                        <td align="left" colspan="7">&nbsp&nbsp&nbsp&nbsp&nbsp<%= order.updatedAt%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('order-number')%>: <%= order.id%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= __('kitchen')%>: <a href="/host/<%= order.host.id%>"><%= order.host.shopName%></a></td>
                      </tr>
                      <%
                        var list = Object.keys(order.orders);
                        var dishes = order.dishes;
                        var index = -1;
                          list.forEach(function(key){
                            var number = order.orders[key];
                            dishes.forEach(function(dish){
                              if(dish.id == key){
                                index++;

                      %>
                      <tr>
                        <td><img src="<%= dish.photos[0].v%>" style="width: 150px;"></td>
                        <td><%= dish.title%></td>
                        <td>$<%= dish.price%></td>
                        <td><%= number%></td>
                        <% if(index==0){%>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;">$<%= (order.subtotal + order.delivery_fee).toFixed(2)%><br><%= __('delivery-fee-included')%><br>($<%= order.delivery_fee.toFixed(2)%>)</td>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;"><%= order.statusText()%></td>
                        <td rowspan="<%= list.length%>" style="vertical-align: middle;">
                          <a href="#myreview"><%= __('review')%></a>
                        </td>
                      </tr>
                      <%}}})})%>
                      </tbody>
                      <%}})%>
                    </table>
                    <nav class="pull-right">
                      <ul class="pagination pagination-sm" data-trigger="pagination" data-target="#preorder-review">
                        <li class="active"><a href="javascript:void(0)">1</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="mycollect" style="width: 90%;" class="tab-pane middle">
          <div class="box box-shadow white">
            <%if(!user.collects || user.collects.length == 0){ %>
            <h3><small><%= __('no-collect-tip')%><br/><a href="/meal"><%= __('browse')%></a></small></h3>
            <%}user.collects.forEach(function(meal){
              var host = meal.chef;%>
            <div class="row vertical-align item">
              <div class="col-xs-3">
                <img src="/images/dumplings.jpg" style="width: 100%;">
              </div>
              <div class="col-xs-4">
                <h2 class="text-left"><%= meal.title%>  <small class="text-orange"><%= meal.type=="order"?__('order'): __('preorder')%></small></h2>
                <div class="row text-left">
                  <div class="col-xs-12">
                    <div data-toggle="tooltip" data-placement="bottom" title="<%= meal.score.toFixed(2)%>">
                      <div class="rating" data-toggle="star-set" data-rate="<%= meal.score.toFixed(2)%>">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <small style="font-size: 20px;" class="text-lightgrey">(<%= meal.numberOfReviews%>)</small>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <h3 class="text-left"><small><%= __('provide-time')%> <span class="text-red"><%= meal.provideDate()%></span></small></h3>
                  </div>
                </div>

              </div>
              <div class="col-xs-5">
                <div class="row vertical-align">
                  <div class="col-md-2">
                    <img src="<%= host.picture || '/images/thumbnail.jpg'%>" class="round_thumb size-small text-center">
                  </div>
                  <div class="col-md-10">
                    <h4 class="text-left" style="margin-top: 15px;"><%= host.shopName%><br><small><%= host.shortIntro()%></small></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <button class="btn btn-red round" style="width: 100%;margin-top: 10px;" onclick="javascript:location.href='/meal/<%= meal.id%>'"><%= __('enter')%></button>
                  </div>
                  <div class="col-sm-6">
                    <button class="btn btn-disable round" data-heart="false" data-select="true" style="width: 100%;margin-top: 10px;" data-toggle="collect-item" data-meal="<%= meal.id%>" data-user="<%= user?user.id:user%>" data-cb="reloadUrl('/user/me','#mycollect')"><%= __('cancel-collect')%></button>
                  </div>
                </div>
              </div>
            </div>
            <%});%>

            <div class="divider"></div>

            <nav class="pull-right">
              <ul class="pagination pagination-sm" data-trigger="pagination" data-target="#mycollect">
                <li class="active"><a href="javascript:void(0)">1</a></li><li>
              </ul>
            </nav>

          </div>
        </div>
        <!-- collect end -->
        <div id="myinfo" style="width: 90%;" class="tab-pane middle" data-id="<%= user.id %>">
          <div class="box box-shadow white">
            <form>
              <div class="col-md-6 text-left form-group">
                <label>1. <%= __('upload-thumbnail')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer" data-placement="right" data-toggle="tooltip" title="<%= __('photo-restrition')%>"></i></label>
                <div class="fileinput fileinput-exists" data-provides="fileinput">
                  <div class="fileinput-new thumbnail size-large">
                  </div>
                  <div class="fileinput-preview fileinput-exists size-large round_thumb" data-src="<%= user.picture || ''%>">
                    <img src="<%= user.picture || '/images/profile_man.png'%>" onclick="$('#thumbnailUpload').trigger('click')">
                  </div>
                  <div>
                    <span class="btn btn-default btn-file"><span class="fileinput-new"><%= __('select-image')%></span><span class="fileinput-exists"><%= __('change')%></span>
                      <input id="thumbnailUpload" type="file" onchange="uploadThumbnail()">
                    </span>
                    <!--<a href='javascript:void(0)' class="btn btn-default fileinput-exists dimiss" data-dismiss="fileinput">Remove</a>-->
                    <script>
                      $(".fileinput").on("clear.bs.fileinput",function(){
                        $("input[type='file']").data("isDelete",true);
                      });
                    </script>
                  </div>
                  <!--<button class="btn btn-red round" onclick="uploadThumbnail()">本地上传</button>-->
                  <h4><small><br/><br/><%= __('upload-instruction')%></small></h4>
                  <div class="alert alert-danger hide" role="alert" style="margin-top: 10px;"></div>
                </div>

                <div class="form-group text-left" style="margin-top:20px;">
                  <label>2. <%= __('user-name')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer" data-placement="right" data-toggle="tooltip" title="<%= __('name-instruction')%>"></i></label>
                  <div class="block">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon2">名</span>
                      <input name="firstname" type="text" class="form-control" placeholder="<% if(!user.firstname){ __('firstname') } %>" value="<%= user.firstname?user.firstname : ""%>" aria-describedby="basic-addon2" required>
                      <span class="input-group-addon" id="basic-addon1">姓</span>
                      <input name="lastname" type="text" class="form-control" placeholder="<% if(!user.lastname){ __('lastname') } %>" value="<%= user.lastname? user.lastname : ""%>" aria-describedby="basic-addon1" style="margin-right: 20px;" required>
                    </div>
                  </div>
                  <div class="alert alert-warning"><%= __('name-instruction')%></div>
                </div>

              </div>

              <div class="col-md-6 text-left">
                <div class="form-group text-left">
                  <label>3. <%= __('page-color')%> <i class="fa fa-question-circle text-lightgrey cursor-pointer" data-placement="right" data-toggle="tooltip" title="<%= __('color-instruction')%>"></i></label>
                  <div class="block" name="template_color" data-color="<%= user.color %>">
                    <div class="color-block blue" data-color="blue"></div>
                    <div class="color-block green" data-color="green"></div>
                    <div class="color-block orange" data-color="orange"></div>
                    <div class="color-block red" data-color="red"></div>
                    <div class="color-block pink" data-color="pink"></div>
                    <div class="color-block purple" data-color="purple"></div>
                    <div class="color-block black" data-color="black"></div>
                    <script>
                      $("div[name='template_color'] div").click(function(){
                        $("div[name='template_color'] div").removeClass("active");
                        $(this).addClass("active");
                        $("div[name='template_color']").data("color",$(this).data("color"));
                      });
                      var colorSelector = $("div[name='template_color']");
                      var color = colorSelector.data('color');
                      if(color && colorSelector.length > 0) {
                        colorSelector.find("div").each(function () {
                          $(this).removeClass('active');
                          if ($(this).hasClass(color)) {
                            $(this).addClass('active');
                          }
                        })
                      };
                    </script>
                  </div>
                </div>

                <div class="form-group" style="margin-top:34px;">
                  <label>4. <%= __('my-intro')%><i class="fa fa-question-circle text-lightgrey" data-toggle="tooltip" title="<%= __('intro-instruction')%>"></i></label>
                  <div class="block">
                    <textarea class="form-control" name="desc" rows="6" maxlength="140"><% if(user.desc){%> <%=user.desc%> <%}%></textarea>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group text-left">
                  <label for="phoneInput">5. <%= __('phone')%></label>
                  <input class="form-control" type="text" id="phoneInput" required data-error="<%= __('phone-bad-format')%>" minlength="10" maxlength="11" value="<%= user.phone || ''%>">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group text-left">
                  <label for="zipcodeInput">6. <%= __('zipcode')%></label>
                  <input class="form-control" type="text" id="zipcodeInput" required data-error="<%= __('zipcode-bad-format')%>" minlength="5" maxlength="9" value="<%= user.zipcode || ''%>">
                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <div class="col-xs-12">
                <div class="alert form-alert alert-danger hide" role="alert" style="margin-top: 10px;"></div>
              </div>


              <div class="col-xs-12">
                <button type="submit" class="btn btn-red round" style="width:80px;margin-right:10px;" ><%= __('save')%></button>
              </div>
            </form>
          </div>
        </div>

        <!-- info end -->
        <div id="myaddress" style="width: 90%;" class="tab-pane middle" data-id="<%= user.id %>">
          <div class="box box-shadow white text-left">
            <label>1.<%= __('delivery-location')%></label>
            <div class="address_blocks">
              <%
              var addresses = user.address_list;
              var keys = Object.keys(addresses);
              keys.forEach(function(key){
                var address= addresses[key];
              %>
              <div class="text-left box-grid">
                <div class="address_block vertical-align" data-id="<%= user.id %>" data-address-id="<%= address.id%>" data-street="<%= address.street || ""%>" data-city="<%= address.city || ""%>" data-zip="<%= address.zip || ""%>" data-phone="<%= address.phone || ""%>">
                  <% if(address.isDefault){ %>
                  <label class="text-red default"><%= __('default')%></label>
                  <%}else{%>
                  <label class="text-red default" style="width: 55px;"> </label>
                  <%}%>
                  <label class="actual_address"><%= address.street%>, &nbsp;<%= address.city%> <%= address.zip%> <br/>+<%= address.phone%></label>
                  <a class="text-red cursor-pointer edit" toggle="modal" data-target="#myModal" data-href="/templates/user/address.html">&nbsp;&nbsp;<%= __('modify')%></a>
                  <a class="text-red cursor-pointer deleteBtn" style="margin-left: 5px;" href="javascript:void(0)">&nbsp;<%= __('delete')%></a>
                </div>
              </div>
              <%})%>
            </div>

            <div class="col-xs-12 text-left" data-id="<%= user.id %>">
              <button style="margin: 10px 0 10px 0;" class="btn btn-red round newAddress" toggle="modal" data-target="#myModal" data-href="/templates/user/address.html"><%= __('new-location-phone')%></button>
            </div>

            <% if (typeof (user.host) != 'undefined'){ %>
              <div class="row">
                <div class="col-xs-12">
                  <h5 class="text-left" style="padding-top: 20px;"><strong>2.<%= __('host-address')%><br/><br/><%= __('host-current-address')%></strong></h5>
                </div>
              </div>
              <div class="text-left box-grid">
                <div class="address_block vertical-align" data-host="true" data-id="<%= user.host.id%>" data-street="<%= user.host.street || ""%>" data-city="<%= user.host.city || ""%>" data-zip="<%= user.host.zip || ""%>" data-phone="<%=user.phone || ""%>">
                  <label class="text-green"><%= __('default')%></label>
                  <label><%= user.host.full_address || __('need-kitchen-location') %><br/> +<%= user.phone || __('need-phone-number') %></label>
                  <a class="text-green cursor-pointer edit" style="margin-left:10px;" toggle="modal" data-target="#myModal" data-host="true" data-href="/templates/user/address.html"><%= __('modify')%></a>
                </div>
              </div>
            <% } %>

          </div>
        </div>
        <!--my address end-->

        <div id="myreview" style="width: 90%;" class="tab-pane middle">
          <div class="box box-shadow white">
            <div data-toggle="switch-box">
              <%
                if(!user.featureDishes || user.featureDishes.length == 0){
              %>
              <h3><small><%= __('no-review-tip')%><br/><a href="/meal"><%= __('order-action')%></a></small></h3>
              <%}else{
                var i = 0;
                user.featureDishes.forEach(function(featureDish) {
                  user.orders.forEach(function(order){
                    if(order.status == "review"){
                      order.reviewing_orders.forEach(function(dish){
                        if(dish == featureDish.id){%>
                          <div id="rating<%= i%>" class="box-item">
                            <div class="row vertical-align">
                              <div class="col-xs-4"><h3><%= featureDish.title%></h3></div>
                              <div class="col-xs-6 text-left">
                                <div data-toggle="tooltip" data-placement="bottom">
                                  <div class="rating" data-toggle="star-set">
                                    <i class="fa fa-star fa-2x"></i>
                                    <i class="fa fa-star fa-2x"></i>
                                    <i class="fa fa-star fa-2x"></i>
                                    <i class="fa fa-star fa-2x"></i>
                                    <i class="fa fa-star fa-2x"></i>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-2"><%= __('review-star')%></div>
                            </div>

                            <div class="row" style="margin-top:20px;">
                              <div class="col-xs-6">
                                <img src="<%= featureDish.photos[0].v%>" style="width:100%;">
                              </div>
                              <div class="col-xs-6">
                                <textarea class="form-control review" placeholder="<%= __('review-placeholder')%>" style="height: 177px;"></textarea>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-xs-12">
                                <div id="feature-review-error-<%= i%>" class="alert alert-danger hide" style="margin-top:15px;"><%= __('review-warning')%></div>
                              </div>
                            </div>

                            <div class="row text-center" style="margin-top: 15px;">
                              <button class="btn btn-red round switch-button" style="width:120px;margin-right:10px;"><strong><%= __('review-switch')%></strong></button>
                              <button class="btn btn-red round leaveReview" style="width:120px;margin-left:10px;" data-host="<%= featureDish.chef%>" data-err-container="#feature-review-error-<%= i%>" data-meal="<%= featureDish.meal.id%>" data-dish="<%= featureDish.id%>" data-target="#rating<%= i%>"><strong><%= __('review-done')%></strong></button>
                            </div>
                          </div>
              <%}})}})})}%>
            </div>


            <div class="divider"></div>
            <%
              var j = 0;
              user.orders.forEach(function(order){
                if(order.status == "review"){
            %>
            <div class="item border-round" id="i<%= j%>">
              <div class="row" style="padding:10px;">
                <div class="col-md-4 col-xs-5">
                  <img src="<%= order.meal.coverString %>" style="width: 100%;">
                </div>
                <div class="col-md-5 col-xs-7">
                  <h2 class="text-left"><%= order.meal.title%>  <small class="text-orange"><%= order.meal.type=="order"?__('order'):__('preorder')%></small></h2>
                  <div class="vertical-align text-left">
                    <a href="#" class="round_thumb size-small">
                      <img src="<%= order.host.picture || "/images/thumbnail.jpg" %>">
                    </a>
                    <h4 class="text-left text-lightgrey" style="margin-top: 15px;margin-left:10px;"><%= order.meal.chef.shopName %><br><small><%= order.meal.chef.intro %></small></h4>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <h3 class="text-left none-margin"><small><%= order.meal.finishDate()%>  <span class="text-red"><%= __('transaction-complete')%></span></small></h3>
                    </div>
                  </div>

                </div>
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-xs-12">
                      <button class="btn btn-red round" style="width:100%;margin-top:20px;" data-toggle="collapse" data-parent="#i<%= j%>" href=".collapse"><%= __('review-action')%></button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <h3><small><%= __('total')%></small><span class="text-red">$<%= order.subtotal%></span></h3>
                    </div>
                  </div>
                </div>
              </div>
              <div id="meal-review-<%= j%>" class="background-color collapse" style="padding: 10px;border-top: solid 1px lightgrey;">
            <%
                  order.reviewing_orders.forEach(function(dishId){
                  order.dishes.forEach(function(dish){
                    if(dish.id == dishId){
            %>
                <div style="margin-top:10px;" class="dish-item" data-dish="<%= dish.id%>">
                  <div class="row vertical-align">
                    <div class="col-md-2 col-xs-3">
                      <img src="<%= dish.photos[0].v%>" style="width:100%;max-height:100px;">
                    </div>
                    <div class="col-md-6 col-xs-9">
                      <h3 class="none-margin"><small class="text-black"><%= dish.title%>&nbsp&nbsp&nbsp&nbsp&nbsp$<%= dish.price%>&nbsp&nbsp&nbsp&nbsp&nbsp<%= order.orders[dish.id]%><%= __('fen')%></small></h3>
                    </div>
                    <div class="col-md-4 col-xs-12">
                      <div data-toggle="tooltip" data-placement="bottom">
                        <div class="rating" data-toggle="star-set">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top:10px;">
                    <div class="col-xs-12">
                      <textarea class="form-control review" placeholder="<%= __('review-placeholder')%>" style="height:100px;"></textarea>
                    </div>
                  </div>
                </div>
            <%}})})%>
                <div class="row" style="margin-top:10px;">
                  <div class="col-xs-12 text-right">
                    <div id="meal-review-<%= j%>" class="alert alert-danger hide"><%= __('review-warning')%></div>
                    <div class="btn btn-red leaveReview" data-target="#meal-review-<%= j%>" data-host="<%= order.host.id%>" data-meal="<%= order.meal.id%>" data-err-container="#meal-review-<%= j%>" style="margin-right:20px;"><%= __('submit')%></div>
                  </div>
                </div>
              </div>
            </div>
            <% j++;}});%>
            <!--item end-->
          </div>

          <nav class="pull-right">
            <ul class="pagination pagination-sm" data-trigger="pagination" data-target="#myreview">
              <li class="active"><a href="javascript:void(0)">1</a></li><li>
            </ul>
          </nav>
        </div>
        <!--my review end-->
      </div>
    </div>
  </div>
</div>

<script>
  new AddressView({ el : $("#myaddress"), model : new User()})
  var userProfileView = new UserProfileView( { el: $("#myinfo"), model : new User()})
  new ReviewView({ el : $("#myreview"), model : new Review()})
  var orderView = new OrderView({ el : $("#myorder"), model : new Order()});
</script>
