<%- include ../email_header %>

<div class="green" style="padding: 25px;">
  <div class="box-email white relative middle text-left">
    <h4 class="text-green"><%= reviewordertitle%></h4>
    <p>Hi <%= recipientName%>,</p>
    <p><%= reviewordercontext1%><%= username%><%= reviewordercontext2%></p>
    <div class="divider" style="margin-bottom: 10px;"></div>
    <p><%= dish ? reviewdish : reviewmeal%>: <%= title%></p>
    <p><%= scoreLabel%> : <%= score%></p>
    <p><%= content%>: <%= review%></p>
    <p><%= reviewtime%>: <%= createdAt%></p>
    <p></p>
    <div class="row text-center">
      <a class="btn btn-outline-primary" style="border:1px solid #007bff;" href="http://www.sfmeal.com/host/<%= host.id%>"><%= viewreview%></a>
    </div>
  </div>

</div>

<%- include ../email_footer %>
