<%- include ../email_header %>

<div class="green middle" style="padding: 25px;max-width: 600px;">
  <div class="box-email white relative middle text-left">
    <h4 class="text-green"><%= isSendToHost ? user : chef%><b><%= applyadjust%></b><%= order%><%= dingdan%></h4>
    <p>Hi <%= recipientName%>,</p>
    <p><%= isSendToHost ? applyadjustordercontext : applyadjustorderfromhostcontext%><a class="text-green" href="http://www.sfmeal.com/host/me"><%= openorder%></a><%= confirmorreject%></p>
    <div class="divider" style="margin-bottom: 10px;margin-top: 5px"></div>
    <p><%= ordernumber%>: <%= id%></p>
    <table class="table table-email">
      <% Object.keys(orders).forEach(function(dishId){
        var price = orders[dishId].price;
        var lastAmount = parseInt(orders[dishId].number);
        var lastPreference = orders[dishId].preference;
        var lastTitle = '';
        if(lastPreference && lastPreference.length > 0) {
          lastPreference.forEach(function (pref) {
            if(pref.property){
              lastTitle += "(" + pref.property.map(function(p){return p.property}).join(",") + ')';
            }
          });
          var lastExtra = lastPreference.reduce(function (total, next) {
            return total + parseInt(next.extra);
          }, 0);
        }

        var currentAmount = parseInt(adjusting_orders[dishId].number);
        var preference = adjusting_orders[dishId].preference;
        var title = '';
        if(preference && preference.length > 0) {
          preference.forEach(function (pref) {
            if(pref.property){
              title += "(" + pref.property.map(function(p){return p.property}).join(",") + ')';
            }
          });
          var extra = preference.reduce(function (total, next) {
            return total + parseInt(next.extra);
          }, 0);
        }
        if(lastAmount > 0 || currentAmount > 0){
          var dish;
          dishes.forEach(function(d){
            if(d.id == dishId){
              dish = d;
            }
          });
          if(!dish){return;}
      %>
      <tr>
        <td><img src="<%= dish.photos[0].v%>" style="width: 100px;"></td>
        <td class="text-green" style="vertical-align: middle;"><%= dish.title%></td>
        <%if(lastAmount != currentAmount){%>
        <td style="vertical-align: middle;"><s><%= lastAmount%><%= fen%></s> <br/><%= currentAmount%><%= fen%></td>
        <td style="vertical-align: middle;text-align: right;">
          <s>
            $<%= (lastAmount * (price || dish.price)).toFixed(2)%>
            <% if(lastExtra){%>
            (+$<%= lastExtra.toFixed(2)%>)<br/>
            <% }%>
          </s><br/>
          $<%= (currentAmount * (price || dish.price)).toFixed(2)%>
          <% if(extra){%>
          (+$<%= extra.toFixed(2)%>)<br/>
          <% }%>
        </td>

        <%}else{%>
        <td style="vertical-align: middle;"><%= currentAmount%><%= fen%></td>
        <td style="vertical-align: middle;text-align: right;">
          $<%= (currentAmount * (price || dish.price)).toFixed(2)%>
          <% if(extra){%>
          (+$<%= extra.toFixed(2)%>)<br/>
          <% }%>
        </td>
        <%}%>
        </tr>
      <%}});%>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <%if(subtotal != adjusting_subtotal){%>
        <td style="text-align: right;"><%= dingdan%>:<s>$<%= subtotal.toFixed(2)%></s> $<%= adjusting_subtotal.toFixed(2)%></td>
        <%}else{%>
        <td style="text-align: right;"><%= dingdan%>:$<%= adjusting_subtotal.toFixed(2)%></td>
        <%}%>
      </tr>
      <tr class="border-less">
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= deliveryfee%>: $<%= delivery_fee.toFixed(2)%></td>
      </tr>
      <tr class="border-less">
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= tax%>: $<%= (adjusting_subtotal * taxRate).toFixed(2)%></td>
      </tr>
      <tr class="border-less">
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= servicefee%>: $<%= service_fee.toFixed(2)%></td>
      </tr>
      <tr class="border-less">
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= total%> $<%= (adjusting_subtotal * (1 + taxRate) + delivery_fee + service_fee).toFixed(2)%></td>
      </tr>
      <tr>
        <td><%= ordertime%>: <%= createdAt%></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= adjusttime%>: <%= updatedAt%></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="text-red"><%= readytime%>: <%= eta%></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div class="row text-center">
      <a class="btn btn-outline-primary" style="border:1px solid #007bff;" href="http://www.sfmeal.com/host/me#myorder"><%= openorder%></a>
    </div>
  </div>
</div>


<%- include ../email_footer %>
