<%- include ../email_header %>

<div class="green middle" style="padding: 25px;max-width: 600px;">

  <div class="box-email white relative middle">
    <h4 class="text-green"><%= emailverification%></h4>
    <p class="text-grey"><%= emailverificationinstruction%></p>
    <a href="<%= verificationUrl%>"><%= verificationUrl%></a>
    <p class="divider"></p>
    <p class="text-grey"><%= emailverificationunknown%></p>
  </div>

</div>
<%- include ../email_footer %>
