<div class="email-banner vertical-align dark">
  <div style="width: 600px;" class="middle banner-text">
    <div class="row vertical-align" style="margin-bottom: 5px;">
      <div class="col-xs-3 cursor-pointer" onclick="location.href='/'">
        <a href="/" class="logo-remote"></a>
      </div>
      <div class="col-xs-9 text-right">
        <a class="btn btn-red btn-inline" href='https://www.sfmeal.com'>进入网站</a>
      </div>
    </div>
  </div>
</div>

<div class="green" style="padding: 25px;">
  <div class="box-email white relative middle text-left">
    <h4 class="text-green"><%= orders.length == 0 ? guestlistnotitle : guestlisttitle%></h4>
    <p>Hi <%= recipientName%>,</p>
    <p><%= orders.length == 0 ? guestlistnocontext : guestlistcontext%></p>

    <% if(orders.length == 0){%>
      <h3 class="text-green"><u><%= title%></u> <small><%= guestlistnotips%></small></h3>
    <%}else{%>
      <h3 class="text-green"><u><%= title%></u></h3>
    <%}%>

    <% if(orders.length != 0){ if(isDelivery){
    pickups.forEach(function(pickup){if(pickup.method == "delivery"){%>

    <p><%= deliverytime%>: <%= pickup.pickupFromTime%> - <%= pickup.pickupTillTime%></p>
    <table class="table table-bordered">
      <thead>
      <tr>
        <td><%= user%></td>
        <td><%= ordernumber%></td>
        <td><%= content%></td>
        <td><%= contact%></td>
        <td><%= deliverylocation%></td>
        <td><%= comment%></td>
      </tr>
      </thead>
      <tbody>
      <%}})%>
      <% orders.forEach(function(order){
      if(order.method == 'delivery'){%>
      <tr>
        <td><%= order.customer.firstname + " " + order.customer.lastname%></td>
        <td><%= order.id%></td>
        <td>
          <% Object.keys(order.orders).forEach(function(dishId){
            var amount = order.orders[dishId].number;
            var preference = order.orders[dishId].preference;
          if(amount > 0){
            var dish;
            dishes.forEach(function(d){
              if(d.id == dishId){
                dish = d;
                return;
              }
            })%>
          <% if(preference && preference.property){%>
          <%= dish.title%>(<%= preference.property + " x" + amount%>)
          <% }else{%>
          <%= dish.title%>(<%= amount%>)
          <% }%>
          <%}});%>
        </td>
        <td><%= order.customerPhone%></td>
        <td><%= order.address%></td>
        <td></td>
      </tr>
      <%}})%>
      </tbody>
    </table>
    <%} pickups.forEach(function(pickup, index){if(pickup.method == "pickup"){%>
    <p>
      <%= pickuptime%>: <%= pickup.pickupFromTime%> - <%= pickup.pickupTillTime%><br/>
      <%= pickuplocation%>: <%= pickup.location%>
    </p>
    <table class="table table-bordered">
      <thead>
      <tr>
        <td><%= user%></td>
        <td><%= ordernumber%></td>
        <td><%= content%></td>
        <td><%= contact%></td>
        <td><%= deliverylocation%></td>
        <td><%= comment%></td>
      </tr>
      </thead>
      <tbody>
      <% orders.forEach(function(order){if(order.pickupOption-1 == index){%>
      <tr>
        <td><%= order.customer.firstname + " " + order.customer.lastname%></td>
        <td><%= order.id%></td>
        <td>
          <% Object.keys(order.orders).forEach(function(dishId){
            var amount = order.orders[dishId].number;
            var preference = order.orders[dishId].preference;
            if(amount > 0){
              var dish;
              dishes.forEach(function(d){
                if(d.id == dishId){
                  dish = d;
                  return;
                }
              })%>
          <% if(preference && preference.property){%>
          <%= dish.title%>(<%= preference.property + " x" + amount%>)
          <% }else{%>
          <%= dish.title%>(<%= amount%>)
          <% }%>
          <%}});%>
        </td>
        <td><%= order.phone%></td>
        <td>N/A</td>
        <td></td>
      </tr>
      <%}})%>
      </tbody>
    </table>
    <%}});} %>

    <div class="divider"></div>

    <div class="row text-center">
      <% if(orders.length == 0){%>
        <a class="btn btn-green btn-inline" href="https://www.sfmeal.com/meal/<%= id%>?edit=true"><%= openmeal%></a>
      <%}else{%>
        <a class="btn btn-green btn-inline" href="https://www.sfmeal.com/host/me#myorder"><%= printlist%></a>
      <%}%>

    </div>
  </div>

</div>

<%- include ../email_footer %>
