<%- include ../email_header %>

<div class="green" style="padding: 25px;">
  <div class="box-email white relative middle text-left">
    <h4 class="text-green"><%= orders.length == 0 ? guestlistnotitle : guestlisttitle%></h4>
    <p>Hi <%= recipientName%>,</p>

    <%
    var orderSummary = {};
    var index = 1;
    orders.forEach(function(order){
      Object.keys(order.orders).forEach(function(dishId){
        var dish = dishes.filter(function(d){
          return d.id === dishId;
        })[0];
        if(!dish){
          return;
        }
        var orderDetail = order.orders[dishId];
        if(orderSummary.hasOwnProperty(dishId)){
          if(order.orders[dishId].number){
            orderSummary[dishId].amount = parseInt(orderDetail.number) + parseInt(orderSummary[dishId].amount);
            if(orderDetail.preference && Array.isArray(orderDetail.preference)){
              for(var i=0;i<orderDetail.preference.length;i++){
                var prefs = orderDetail.preference[i];
                if(!i){
                  if(orderSummary[dishId].preference){
                    orderSummary[dishId].preference += "  ";
                  }
                  orderSummary[dishId].preference += "第"+orderSummary[dishId].amount+"份:";
                }
                if(prefs.property && Array.isArray(prefs.property)){
                  prefs.property.forEach(function(prop){
                    if(prop.property && prop.property !== "undefined"){
                      orderSummary[dishId].preference += prop.property;
                    }
                  })
                }
                if(i===orderDetail.preference.length-1){
                  if(order.pickupInfo.comment){
                    orderSummary[dishId].preference += "(" + order.pickupInfo.comment + ")";
                  }
                }
              }
            }
          }
        }else if(order.orders[dishId].number){
          var dishObj = {};
          dishObj.title = dish.title;
          dishObj.amount = orderDetail.number;
          dishObj.price = orderDetail.price;
          dishObj.preference = "";
          if(orderDetail.preference && Array.isArray(orderDetail.preference)){
            for(i=0;i<orderDetail.preference.length;i++){
              prefs = orderDetail.preference[i];
              if(!i){
                if(dishObj.preference){
                  dishObj.preference += "  ";
                }
                dishObj.preference += "第1份:";
              }
              if(prefs.property && Array.isArray(prefs.property)){
                prefs.property.forEach(function(prop){
                  if(prop.property && prop.property !== "undefined"){
                    dishObj.preference += prop.property;
                  }
                })
              }
              if(i===orderDetail.preference.length-1){
                if(order.pickupInfo.comment){
                  dishObj.preference += "(" + order.pickupInfo.comment + ")";
                }
              }
            }
          }
          orderSummary[dishId] = dishObj;
        }
      })
    })
      var orderSummaryKey = Object.keys(orderSummary);
    %>
    <p><%= orderSummaryKey.length == 0 ? guestlistnocontext : guestlistcontext%></p>

    <% if(orderSummaryKey.length){ %>
      <table class="table table-email">
        <thead>
        <tr>
          <td><%= title%></td>
          <td><%= price%></td>
          <td><%= quantity%></td>
          <td><%= comment%></td>
        </tr>
        </thead>
        <tbody>
        <% orderSummaryKey.forEach(function(dishId){ var dishObj = orderSummary[dishId]; %>
          <tr>
            <td><%= dishObj.title %></td>
            <td><%= dishObj.price%></td>
            <td><%= dishObj.amount%></td>
            <td><%= dishObj.preference%></td>
          </tr>
        <% })%>
        </tbody>
      </table>
    <% };%>

    <div class="divider"></div>

    <div class="row text-center">
      <% if(orderSummaryKey.length == 0){%>
        <a class="btn btn-outline-primary" style="border:1px solid #007bff;" href="http://www.sfmeal.com/meal/<%= id%>?edit=true"><%= openmeal%></a>
      <%}else{%>
        <a class="btn btn-outline-primary" style="border:1px solid #007bff;" href="http://www.sfmeal.com/meal/<%= id%>/report"><%= printlist%></a>
      <%}%>

    </div>
  </div>

</div>

<%- include ../email_footer %>
