<%- include ../email_header %>

<div class="green middle" style="padding: 25px;max-width: 600px;">

  <div class="text-white text-center">
    <h1>CONGRATULATIONS!</h1>
    <h4>恭喜！恭喜您正式成为SFMeal私房厨师！</h4>
    <h1></h1>
  </div>

  <div class="box-email white relative middle">
    <p>Hi <%= recipientName%>,</p>
    <p><%= congratcontext%></p>
    <div class="divider"></div>
    <h4 class="text-center text-green"><%= congratgoodluck%></h4>
    <h1></h1>
    <div class="row">
      <div class="col-xs-4">
        <div class="pull-right dish-icon-remote" style="width: 130px;height: 130px;"></div>
      </div>
      <div class="col-xs-8">
        <p><%= viewdish%>(Dish)</p>
        <p class="text-grey"><%= viewdishcontext%></p>
        <a class="btn btn-outline-light lightgrey" href="http://www.sfmeal.com/host/me#mydish"><%= managedish%></a>
      </div>
    </div>

    <div class="divider"></div>

    <div class="row">
      <div class="col-xs-4">
        <div class="pull-right meal-icon-remote" style="width: 130px;height: 130px;"></div>
      </div>
      <div class="col-xs-8">
        <p><%= publishmeal%>(Meal)</p>
        <p class="text-grey"><%= publishmealcontext%></p>
        <a class="btn btn-outline-light lightgrey" href="http://www.sfmeal.com/host/me#mymeal"><%= managemeal%></a>
      </div>
    </div>

    <div class="divider"></div>

    <div class="row text-center">
      <a class="btn btn-outline-primary" style="border:1px solid #007bff;" href="http://www.sfmeal.com/host/me#myorder"><%= openorder%></a>
    </div>

  </div>

</div>
<%- include ../email_footer %>
