<%- include ../email_header %>

<div class="green" style="padding: 25px;">
  <div class="box-email white relative middle text-left">
    <h4 class="text-red"><%= dingdan%><b><%= lastStatus == "canceling" ? cancel : adjust%><%= getreject%></b></h4>
    <p>Hi <%= recipientName%>,</p>
    <p><%= lastStatus == "canceling" ? ( isSendToHost ? ordercancelrejectcontextbyuser : ordercancelrejectcontextbyhost) : ( isSendToHost ? orderadjustrejectcontextbyuser : orderadjustrejectcontextbyhost)%></p>
    <div class="divider" style="margin-bottom: 10px;"></div>
    <p><%= rejectreason%>: <%= msg%></p>
    <div class="divider" style="margin-bottom: 10px;margin-top: 5px;"></div>
    <p><%= ordernumber%>: <%= id%></p>
    <table class="table table-email">
      <% Object.keys(orders).forEach(function(dishId){
        var amount = parseInt(orders[dishId].number);
        var preference = orders[dishId].preference;
        var title = "";
        var extra = 0;
        if(preference && preference.length > 0) {
          preference.forEach(function (pref) {
            if(pref.property){
              title += "(" + pref.property.map(function(p){return p.property}).join(",") + ')';
            }
          });
          extra = preference.reduce(function (total, next) {
            return total + parseInt(next.extra);
          }, 0);
        }
        if(amount > 0){
          var dish;
          dishes.forEach(function(d){
            if(d.id == dishId){
              dish = d;
              return;
            }
          });
          if(!dish){return;}
      %>
      <tr>
        <td><img src="<%= dish.photos[0].v%>" style="width: 100px;"></td>
        <td class="text-green" style="vertical-align: middle;"><%= dish.title%><%= title%></td>
        <td style="vertical-align: middle;text-align: right;"><%= amount%><%= fen%></td>
      </tr>
      <%}});%>
      <tr>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= dingdan%>: $<%= subtotal.toFixed(2)%></td>
      </tr>
      <tr>
        <td><%= ordertime%>: <%= createdAt%></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div class="row text-center">
      <a class="btn btn-outline-primary" style="border:1px solid #007bff;" href="http://www.sfmeal.com/host/me#myorder"><%= openorder%></a>
    </div>
  </div>

</div>

<%- include ../email_footer %>
