<%- include ../email_header %>

<div class="green middle" style="padding: 25px;max-width: 600px;">
  <div class="box-email white relative middle text-left">
    <h4 class="text-green"><%= method == 'pickup' ? orderpickupremindertitle : orderarriveremindertitle%></h4>
    <p>Hi <%= recipientName%>,</p>
    <p><%= method == 'pickup' ? (period == "hour" ? orderpickupreminderhourlycontext : ( period == 'day' ? orderpickupreminderdailycontext : orderpickupreminderminutecontext)) : orderarriveremindercontext%></p>
    <div class="divider" style="margin-bottom: 10px;"></div>
    <p><%= ordernumber%>: <%= id%></p>
    <table class="table table-email">
      <% Object.keys(orders).forEach(function(dishId){
        var price = orders[dishId].price;
        var amount = parseInt(orders[dishId].number);
        var preference = orders[dishId].preference;
        var title = "";
        var extra = 0;
        if(preference && preference.length > 0) {
          preference.forEach(function (pref) {
            if(pref.property){
              title += "(" + pref.property.map(function(p){return p.property}).join(",") + ')';
            }
          });
          extra = preference.reduce(function (total, next) {
            return total + parseInt(next.extra);
          }, 0);
        }
        if(amount > 0){
          var dish;
          dishes.forEach(function(d){
            if(d.id == dishId){
              dish = d;
              return;
            }
          });
          if(!dish){return;}
      %>
      <tr>
        <td><img src="<%= dish.photos[0].v%>" style="width: 100px;"></td>
        <td class="text-green" style="vertical-align: middle;"><%= dish.title%><%= title%></td>
        <td style="vertical-align: middle;"><%= amount%><%= fen%></td>
        <td style="vertical-align: middle;text-align: right;">
          $<%= (amount * (price || dish.price)).toFixed(2)%>
          <% if(extra){%>
          (+$<%= extra.toFixed(2)%>)<br/>
          <% }%>
        </td>
      </tr>
      <%}});%>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= dingdan%>:$<%= subtotal.toFixed(2)%></td>
      </tr>
      <tr class="border-less">
        <% if(method == 'pickup'){%>
        <td><%= pickuplocation %>: <%= pickupInfo.location%></td>
        <%}else{%>
        <td><%= deliverylocation %> : <%= contactInfo.address%></td>
        <%}%>

        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= pickuptime%>: <%= pickupInfo.pickupFromTime%> - <%= pickupInfo.pickupTillTime%></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= contactphone%>: <%=pickupInfo.phone%></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </table>
    <div class="row text-center">
      <a class="btn btn-outline-primary" style="border:1px solid #007bff;" href="http://www.sfmeal.com/host/me#myorder"><%= openorder%></a>
    </div>
  </div>

</div>

<%- include ../email_footer %>
