<%- include ../email_header %>

<div class="green" style="padding: 25px;">
  <div class="box-email white relative middle text-left">
    <p>Hi <%= recipientName%>,</p>
    <p>Host has updated his/her food handler's license.</p>
    <p>Host Id: <%= id%></p>
    <div class="row text-center">
      <a class="btn btn-outline-primary" style="border:1px solid #007bff;" href="http://www.sfmeal.com/auth/admin"><%= openadmin%></a>
    </div>
  </div>
</div>

<%- include ../email_footer %>
